<div style="margin-bottom:0" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" i18n>
      Used Contingent
    </h2>
  </div>
  <div class="panel-body">
    <p-dataTable [value]="UsedContingent" [responsive]="true">
      <p-header i18n>All Used Contingent</p-header>
      <p-column i18n-header field="casaAccountNumber" header="Account Number"></p-column>
      <p-column i18n-header field="facilityAmount" header="Facility Amount">
        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
          {{ d.facilityAmount | number : '1.2' }}
        </ng-template>
      </p-column>
      <p-column i18n-header field="currencyCode" header="Currency"></p-column>
      <p-column i18n-header field="loanReferenceNumber" header="Loan Reference Number"></p-column>
      <p-column  header="Used Amount">
        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
          {{ d.usedAmount | number : '1.2' }}
        </ng-template>
      </p-column>
      <p-column i18n-header field="productName" header="Product Name"></p-column>
    </p-dataTable>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>
