<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Branches
                            </h2>
                            <div class="pull-right">
                                <button (click)="showAddModal()" pButton type="button" i18n-label label="Add New" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p-dataTable [value]="branches">
                        <p-column i18n-header field="regionName" header="Region" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="stateName" header="State" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="cityName" header="City" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="branchName" header="Branch Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="branchCode" header="Branch Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"></ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editBranch(d)" href="javascript:void(0)" i18n>
                                    Edit
                                </a>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>

            </div>
            <!--end of panel-->


        </div>
    </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displayAddModal" id="add-modal" modal="modal" showEffect="fade" width="900">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <ng-container i18n>New</ng-container> {{ entityName }}
            </h2>
        </div>

        <form novalidate [formGroup]="addForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="branchName" class="control-label col-md-2" i18n>Branch Name</label>
                        <div class="col-md-4">
                            <input type="text" name="branchName" formControlName="branchName" id="branchName" class="form-control" [ngClass]="!addForm.controls['branchName'].valid ? 'required-input' : 'valid-input'">
                        </div>
                        <label for="stateId" class="control-label col-md-2" i18n>State</label>
                        <div class="col-md-4">
                            <select (change)="onChangeSelectedState($event.target.value)" name="stateId" id="stateId" formControlName="stateId" class="form-control"
                                [ngClass]="!addForm.controls['stateId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select State --</option>
                                <option *ngFor="let x of states" [value]="x.stateId">
                                    {{x.stateName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="branchCode" class="control-label col-md-2" i18n>Branch Code</label>
                        <div class="col-md-4">
                            <input type="text" name="branchCode" formControlName="branchCode" id="branchCode" class="form-control" [ngClass]="!addForm.controls['branchCode'].valid ? 'required-input' : 'valid-input'">
                        </div>
                        <label for="cityId" class="control-label col-md-2" i18n>City</label>
                        <div class="col-md-4">
                            <select name="cityId" id="cityId" formControlName="cityId" class="form-control" [ngClass]="!addForm.controls['cityId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select City --</option>
                                <option *ngFor="let x of cities" [value]="x.cityId">
                                    {{x.cityName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addressLine1" class="control-label col-md-2" i18n>Address</label>
                        <div class="col-md-4">
                            <input type="text" name="addressLine1" formControlName="addressLine1" id="addressLine1" class="form-control" [ngClass]="!addForm.controls['addressLine1'].valid ? 'required-input' : 'valid-input'">
                        </div>
                        <label for="regionId" class="control-label col-md-2" i18n>Region</label>
                        <div class="col-md-4">
                            <select name="regionId" id="regionId" formControlName="regionId" class="form-control" [ngClass]="!addForm.controls['regionId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select Region --</option>
                                <option *ngFor="let x of regions" [value]="x.regionId">
                                    {{x.regionName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addressLine2" class="control-label col-md-2" i18n>Address Line 2</label>
                        <div class="col-md-4">
                            <input type="text" name="addressLine2" formControlName="addressLine2" id="addressLine2" class="form-control" [ngClass]="!addForm.controls['addressLine2'].valid ? 'required-input' : 'valid-input'">
                        </div>
                        <label for="comment" class="control-label col-md-2" i18n> Comment </label>
                        <div class="col-md-4">
                            <textarea rows="5" name="comment" formControlName="comment" id="comment" class="form-control" [ngClass]="!addForm.controls['comment'].valid ? 'required-input' : 'valid-input'"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="submitForm(addForm)" [disabled]="addForm.invalid" class="btn btn-success pull-right"  i18n>Save</button>
                        <button type="button" (click)="displayAddModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
<!--end of form modal-->


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>