<div *ngIf="displaySearch" class="ui-g">
    <div class="ui-g-12 no-padding">
      <div class="card no-padding">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                <h2 class="panel-title pull-left">{{pageTitle}}</h2>
                <!-- <div  class="pull-right">
                    <button (click)="showPreviousInstructionsOrAddNew()" pButton type="button" label="{{maturityCommandText}}" icon="fa-plus"></button>
                </div> -->
              </div>
            </div>
          </div>
          <div >
            <div class="form-horizontal">
              <form [formGroup]="rateChangeForm" autocomplete="off">
                  <div class="panel-body">
                      <table *ngIf="loanViewSelection != null" class="table table-customer-information">
                          <tbody>
                            <tr>
                              <td>
                                <strong i18n>Reference Number:</strong>
                              </td>
                              <td>{{ loanViewSelection.loanReferenceNumber ? loanViewSelection.loanReferenceNumber : 'N/A'}}</td>
                              <td>
                                <strong i18n>Application Reference No:</strong>
                              </td>
                              <td>{{ loanViewSelection.applicationReferenceNumber ? loanViewSelection.applicationReferenceNumber : 'N/A'}}</td>
                              <td>
                                <strong i18n> CASA Account Number</strong>
                              </td>
                              <td>{{ loanViewSelection.casaAccountNumber }}</td>
                    
                            </tr>
                            <tr>
                              <td>
                                <strong i18n>Customer Code</strong>
                              </td>
                              <td>{{ loanViewSelection.customerCode }}</td>
                              <td>
                                <strong i18n>Customer Name</strong>
                              </td>
                              <td>{{ loanViewSelection.customerName ? loanViewSelection.customerName : 'N/A'}}</td>
                              <td>
                                <strong i18n> Product Account Name</strong>
                              </td>
                              <td>{{ loanViewSelection.productAccountName }}</td>
            
                            </tr>
                            <tr>
                              <td>
                                <strong i18n>Last Operation</strong>
                              </td>
                              <td>{{ loanViewSelection.operationName }}</td>
                              <td>
                                <strong i18n>Product Type</strong>
                              </td>
                              <td>{{ loanViewSelection.productTypeName }}</td>
                              <td>
                                <strong i18n> Effective Date</strong>
                              </td>
                              <td>{{ loanViewSelection.effectiveDate | date }}</td>
                            </tr>
                            <tr>
                              <td>
                                <strong i18n>Branch Name</strong>
                              </td>
                              <td>{{ loanViewSelection.branchName }}</td>
                              <td>
                                <strong i18n>Customer Type</strong>
                              </td>
                              <td>{{ loanViewSelection.loanTypeName }}</td>
                              <td>
                                <strong i18n> Sector Name</strong>
                              </td>
                              <td>{{ loanViewSelection.sectorName }}</td>
                            </tr>
                            <tr>
                              <td>
                                <strong i18n>Initiating Officer</strong>
                              </td>
                              <td>{{ loanViewSelection.relationshipOfficerName ? loanViewSelection.relationshipOfficerName : 'N/A' }}</td>
                              <!-- <td>
                                <strong i18n>Business Manager</strong>
                              </td>
                              <td>{{ loanViewSelection.relationshipManagerName }}</td> -->
                              <td>
                                <strong i18n> Maturity Date</strong>
                              </td>
                              <td>{{ loanViewSelection.maturityDate | date }}</td>
                            </tr>
                            <tr>
                              <td>
                                <strong i18n> Amount</strong>
                              </td>
                              <td>{{ loanViewSelection.principalAmount }}</td>
                              <td>
                                <strong i18n> Interest Rate</strong>
                              </td>
                              <td>{{ loanViewSelection.interestRate }}</td>
                              <td>
                                <strong i18n> Sub-Sector Name</strong>
                              </td>
                              <td>{{ loanViewSelection.subSectorName }}</td>
                            </tr>
                            <tr>
                              <td>
                                <strong i18n> Outstanding Principal</strong>
                              </td>
                              <td>{{ loanViewSelection.outstandingPrincipal }}</td>
                              <td>
                                <strong i18n> Outstanding Interest</strong>
                              </td>
                              <td>{{ loanViewSelection.outstandingInterest }}</td>
                              <td>
                                <strong i18n> Currency</strong>
                              </td>
                              <td>{{ loanViewSelection.currency}}</td>
                            </tr>
                            <tr>
                              <td>
                                  <strong i18n> Tenor</strong>
                                </td>
                                <td>{{ loanViewSelection.tenor }}</td>
                                <td>
                                  <strong i18n> Booking Date</strong>
                                </td>
                                <td>{{ loanViewSelection.bookingDate | date }}</td>
                              <td>
                                <strong i18n> Exchange Rate</strong>
                              </td>
                              <td>{{ loanViewSelection.exchangeRate }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong i18n> Accruled Amount</strong>
                                  </td>
                                  <td>{{ loanViewSelection.accrualedAmount }}</td>
                                 
                              </tr>
                          </tbody>
                  </table>
                  <div class="form-group">
                      <label i18n  for="New Interest Rate" class="control-label col-md-2">New Interest Rate</label>
                      <div class="col-md-4 ">
                        <input type="text" name="newInterestRate" formControlName="newInterestRate" id="newInterestRate" class="form-control" [ngClass]="!rateChangeForm.controls['newInterestRate'].valid ? 'required-input' : 'valid-input'">
                        </div>
  
                        <label i18n for="Value Date" class="control-label col-md-2">Value Date</label>
                      <div class="col-md-4 ">
                          <p-calendar id="valueDate" formControlName="valueDate" dateFormat="dd/mm/yy" [responsive]="true" [ngClass]="!rateChangeForm.controls['valueDate'].valid ? 'required-input' : 'valid-input'"
                          [inputStyle]="{'width': '100%' }" [style]="{'width': '100%', 'overflow': 'visible'  }" [monthNavigator]="true" [yearNavigator]="true" yearRange="1955:2030" [showIcon]="true"></p-calendar>
                        </div>
                  </div>
                  <div class="form-group">
                        <label i18n for="" formatM class="control-label col-md-2"></label>
                      <div class="col-md-4 ">
                          <button type="button" (click)="changeInterestRate(rateChangeForm)" [disabled]="!rateChangeForm.valid" class="btn btn-success" i18n>Submit</button>
                          <!-- <button (click)="changeInterestRate(rateChangeForm)" class="btn btn-sm btn-primary" [disabled]="!rateChangeForm.valid"><span class="glyphicon glyphicon-save"></span> Save</button> -->
                        </div>
                  </div>
                  </div>
              </form>
           
            </div>
          </div>
      </div>
    </div>
  </div>
  
 <fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>