<div *ngIf="displaySearch" class="ui-g">
    <div class="ui-g-12 no-padding">
      <div class="card no-padding">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                <h2 i18n class="panel-title pull-left">
                  Commercial Loans - Pre-payment
                </h2>
                <!-- <div  class="pull-right">
                    <button (click)="showPreviousInstructionsOrAddNew()" pButton type="button" label="{{maturityCommandText}}" icon="fa-plus"></button>
                </div> -->
              </div>
            </div>
          </div>
          <div >
            <div class="form-horizontal">
              <div  class="form-group">
                  <div class="col-md-12 pull-right">
                      <div class="input-group">
                          <input (focus)="openSearchBox()" type="text" class="form-control" i18n-placeholder placeholder="Search for running loan tranche with loan reference number" name="loanReferenceNo" [ngClass]="'valid-input'">
                          <div class="input-group-btn">
                              <button (click)="openSearchBox()" style="padding-top:4px;padding-bottom: 4px" class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div  class="card no-padding">
                <p-dataTable [paginator]="true" [value]="runningLoans" [rows]="3" (onRowSelect)="onSelectedLoanChange($event)" [selection]="true" >
                  <p-header i18n>Running Loan Lines </p-header>
                   <p-column i18n-header [style]="{'width':'38px'}" selectionMode="single"></p-column>
                  <p-column i18n-header field="" header="Obligor">
                    <ng-template let-col let-row="rowData" pTemplate="body">
                      <span >{{row.customerName}}</span>
                    </ng-template>
                  </p-column>
                  <p-column i18n-header field="applicationReferenceNumber" header="Line Reference No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                  <p-column i18n-header field="approvedProductName" header="Product" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                  <p-column i18n-header field="approvedAmount" header="Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-row="rowData" pTemplate="body">
                      <span [style]="{'width':'150px','text-align':'right'}">{{row.approvedAmount | number:'1.2'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column i18n-header field="approvedInterestRate" header="IR" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                  <!-- <p-column i18n-header field="outstandingInterest" header="Interest Bal" sortable="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-row="rowData" pTemplate="body">
                      <span [style]="{'width':'150px','text-align':'right'}">{{row.outstandingInterest | number:'1.2'}}</span>
                    </ng-template>
                  </p-column> -->
                  <!-- <p-column i18n-header  field="maturityDate" header="Expiry Date" sortable="true" [filter]="true" filterMatchMode="contains">
                    <ng-template let-col let-row="rowData" pTemplate="body">
                      <span >{{row.maturityDate | date : 'dd/MM/yyyy'}}</span>
                    </ng-template>
                  </p-column> -->
                </p-dataTable>
            </div>
              <form *ngIf="!displayPreviousInstructions" [formGroup]="autoRolloverForm" autocomplete="off">
                  <hr/>
                  <div class="form-group">
                    <label i18n for="loanReferenceNumber" class="control-label col-md-2">Loan Reference Number</label>
                    <div class="col-md-4 ">
                        <input type="text" formControlName="loanReferenceNumber" name="loanReferenceNumber" [ngClass]="!autoRolloverForm.controls['loanReferenceNumber'].valid ? 'required-input' : 'valid-input'" class="form-control" [attr.disabled]="true">
                    </div>
                    <label i18n for="" class="control-label col-md-2">Principal Amount</label>
                      <div class="col-md-4 ">
                          <input type="text" formControlName="principalAmount" name="principalAmount" [ngClass]="!autoRolloverForm.controls['principalAmount'].valid ? 'required-input' : 'valid-input'" class="form-control" [attr.disabled]="true">
                      </div>
                  </div>
                  <div *ngIf="!isParent" class="form-group">
                      <label i18n for="outstandingPrincipal" class="control-label col-md-2">Outstanding Principal</label>
                      <div class="col-md-4 ">
                          <input type="text" formControlName="outstandingPrincipal" name="outstandingPrincipal" [ngClass]="!autoRolloverForm.controls['outstandingPrincipal'].valid ? 'required-input' : 'valid-input'" class="form-control" [attr.disabled]="true">
                      </div>
                      <label i18n for="outstandingInterest" class="control-label col-md-2">Outstanding Interest</label>
                      <div class="col-md-4 ">
                        <input type="text" [attr.disabled]=true name="outstandingInterest" formControlName="outstandingInterest" id="outstandingInterest" class="form-control"
                          [ngClass]="!autoRolloverForm.controls['outstandingInterest'].valid ? 'required-input' : 'valid-input'">
                      </div>
                  </div>
    
                  <div class="form-group">
                      <label i18n for="effectiveDate" class="control-label col-md-2">Effective Date </label>
                      <div class="col-md-4 ">
                        <input type="text" [attr.disabled]="true" name="effectiveDate" formControlName="effectiveDate" id="effectiveDate" class="form-control"
                          [ngClass]="!autoRolloverForm.controls['effectiveDate'].valid ? 'required-input' : 'valid-input'">
                      </div>
                      <label i18n for="maturityDate" class="control-label col-md-2">Maturity Date</label>
                      <div class="col-md-4 ">
                        <input type="text" [attr.disabled]="true" name="maturityDate" formControlName="maturityDate" id="maturityDate" class="form-control"
                          [ngClass]="!autoRolloverForm.controls['maturityDate'].valid ? 'required-input' : 'valid-input'">
                      </div>
                  </div>
  
                  <div class="form-group">
                      <label i18n for="newTenor" class="control-label col-md-2">Tenor (days)</label>
                      <div class="col-md-2 ">
                        <input type="text" name="newTenor" formControlName="newTenor" id="tempTenor" class="form-control" [ngClass]="!autoRolloverForm.controls['newTenor'].valid ? 'required-input' : 'valid-input'">
                        </div>
                        <div class="col-md-2 ">
                            <button (click)="calculateNewTenor(autoRolloverForm)" class="btn btn-sm btn-primary" [disabled]="!autoRolloverForm.valid"><span class="glyphicon glyphicon-plus"></span>
                            <ng-container i18n> Add Tenor</ng-container>
                            
                            </button>
                        </div>
                        
                      
                        <label i18n for="newMaturity" class="control-label col-md-2">New Expiry Date</label>
                      <div class="col-md-4 ">
                        <input type="text" [attr.disabled]="true" name="newMaturity" formControlName="newMaturity" id="newMaturity" class="form-control" [ngClass]="!autoRolloverForm.controls['newMaturity'].valid ? 'required-input' : 'valid-input'">
                        </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label i18n for="submit" class="control-label col-md-2"></label>
                    <div class="col-md-4">
                        <button (click)="addTenor(autoRolloverForm)" class="btn btn-sm btn-primary" [disabled]="!autoRolloverForm.valid && !hasNewMaturityDate"><span class="glyphicon glyphicon-save" i18n></span> Save</button>
                    </div>
                  </div>
                  <hr>
              </form>
           
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <p-dialog [responsive]=true [(visible)]="displaySearchModal" modal="modal" id="searchModal" showEffect="fade" width="650">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <div style="margin-left:0" class="row">
                <h2 i18n class="panel-title pull-left">
                    Search For Loan
                </h2>
                <a href="" (click)="displaySearchModal=false" class="pull-right remove-btn">
                    <i class="glyphicon glyphicon-remove-sign">
                </i>
                </a>
            </div>
        </div>
        <div style="padding:3px" class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" id="search" (keyup)="searchDB($event.target.value)" class="form-control" i18n-placeholder placeholder="Type in your search parameter">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <p>
                        <!--{{mfacilityType}}-->
                    </p>
                    <table *ngIf="searchResults" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th i18n>Loan Reference No</th>
                                <th i18n>Customer Name</th>
                                <th i18n>Loan Principal Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="pickSearchedData(res)" style="cursor: pointer" *ngFor="let res of searchResults; let i = index">
                                <td>
                                    {{res.loanReferenceNumber}}
                                </td>
                                <td>
                                    {{res.customerName}}
                                </td>
                                <td>
                                    {{res.principalAmount}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
  
 <fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>