<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <!-- <span [innerHtml]="test"></span> -->
        <!--module header-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left">
                            Contingent Loans Usage :: {{selectedContingentData.loanReferenceNumber}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">

            <table class="table table-casa-information">
                <tbody>
                    <tr>
                        <td>
                            <strong i18n>Obligor:</strong>
                        </td>
                        <td>{{ selectedContingentData.customerName }}</td>
                        <td>
                            <strong i18n>Principal:</strong>
                        </td>
                        <td>{{ selectedContingentData.principalName }}</td>
                        <td>
                            <strong i18n>Account Number:</strong>
                        </td>
                        <td>{{ selectedContingentData.casaAccountNumber }}</td>
                    </tr>

                    <tr>
                        <td>
                            <strong i18n>Contingent Amount:</strong>
                        </td>
                        <td>{{selectedContingentData.contingentAmount}} {{selectedContingentData.currencyCode}}</td>
                        <td>
                            <strong i18n>Book Date:</strong>
                        </td>
                        <td>{{ selectedContingentData.effectiveDate | date:"dd-MM-yyyy" }}</td>
                        <td>
                            <strong i18n>Maturity Date:</strong>
                        </td>
                        <td>{{ selectedContingentData.maturityDate | date:"dd-MM-yyyy" }}</td>
                    </tr>

                    <tr>
                        <td>
                            <strong i18n>Amount Used:</strong>
                        </td>
                        <td>{{selectedContingentData.usedAmount | number:'1.2' }} </td>
                        <td>
                            <strong i18n>Percentage Used:</strong>
                        </td>
                        <td>{{ selectedContingentData.percentageUsed }}</td>
                        <td>
                            <strong i18n>Amount Requested:</strong>
                        </td>
                        <td>{{ selectedContingentData.amountRequested | number:'1.2'}}</td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Comment" [(ngModel)]="comment" [ngClass]="comment == null || comment == '' ? 'required-input' : 'valid-input'" i18n-placeholder>
                </div>
                <div class="col-md-6">

                    <button type="button" (click)="onSubmit(2)" class="btn btn-success pull-right">Approve</button>
                    <button type="button" (click)="onSubmit(3)" class="btn btn-primary pull-right">Disapprove</button>
                    <button type="button" (click)="closeDataForm()" style="margin-right:5px" class="btn btn-danger pull-left">Close</button>

                </div>
                <!--  {{proposedProductId}}
                 {{principalId}}
              {{facilityDetailsForm.value | json}} -->
            </div>
        </div>
    </div>
</div>

<!-- <pre>{{ selectedContingentData | json }}</pre> -->