<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h2 class="panel-title pull-left" i18n>
                    Credit Officer Risk Rating 
                </h2>
                <div class="pull-right">
                    <button (click)="showCreditOfficerSearchForm()" pButton type="button" label="Credit Officer Search" icon="fa-search" i18n></button>
                    <button (click)="ratingPeriodsModal()" pButton type="button" label="Rating Periods" icon="fa-plus" i18n></button>
                    <!-- <button (click)="showOfficerRatingForm()" pButton type="button" label="Rate Credit Officer" icon="fa-plus"></button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">

        <p-dataTable [value]="creditOfficers" [responsive]="true" [paginator]="false" [rows]="5">

            <p-column i18n-header field="creditOfficerName" header="Credit Officer" sortable="true" filterMatchMode="contains"></p-column>
            <p-column i18n-header field="corrScore" header="CORR Score" sortable="true" filterMatchMode="contains"></p-column>
            <p-column i18n-header field="corrComment" header="CORR Comment" sortable="true" filterMatchMode="contains"></p-column>
            <!-- <p-column i18n-header field="dateRated" header="Date Rated" sortable="false" filterMatchMode="contains" [style]="{'width':'8%'}">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    {{ d.dateRated | date: 'dd-MM-yyyy' }}
                </ng-template>
            </p-column> -->
            <p-column i18n-header [style]="{'width':'170px'}" header="View">
                <ng-template pTemplate="header"> </ng-template>
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    <div style="text-align:center">
                        <a (click)="showOfficerRatingDetail(d)" href="javascript:void(0)">View Details</a>
                        <span style="padding:3px;">|</span>
                        <a (click)="showOfficerRatingForm(d)" href="javascript:void(0)">Rate Officer</a>
                    </div>
                </ng-template>
            </p-column>

        </p-dataTable>

    </div>

</div>

<p-dialog [responsive]=true [(visible)]="displayOfficerRatingForm" id="ct-modal" modal="modal" showEffect="fade"
    width="900"  [contentStyle]="{'overflow':'auto','max-height':'600px'}">

    <div style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                <span i18n>New </span> <span> {{ selectedCreditOfficer }} </span> <span i18n>Risk Rating</span>
            </h2>
        </div>


<form  *ngIf="corr != null" autocomplete="off" [formGroup]="officerRatingForm" class="form-horizontal" (ngSubmit)="saveOfficerRating(officerRatingForm)">
    <!-- <form (ngSubmit)="onSubmit.emit(this.form.value)" [formGroup]="form" class="form-horizontal"> -->

    <table class="table table-bordered table-hover">

        <tr>
            <!-- <th>Id</th> -->
            <th></th>
            <th i18n>Assessment Parameter</th>
            <th i18n>Weight</th>
            <th></th>
        </tr>

        <tbody *ngFor="let ki of corr.keyIndicators;">

            <tr>
                <td colspan="4"><strong>{{ki.keyIndicatorName}}</strong></td>
            </tr>

            <tr *ngFor="let param of ki.parameters; let i = index;">
                <!-- <td>{{param.id}}</td> -->
                <td>{{i + 1}}</td>
                <td>{{param.parameterName}}</td>
                <td>{{param.weight}}%</td>
                <td>
                    <div class="form-group row" [formGroup]="officerRatingForm" style="margin:0px">
                        <div [formGroup]="officerRatingForm">
                            <input type="text" class="form-control" [id]="param.id" [name]="param.id" formatM
                                [formControlName]="param.id"
                                [ngClass]="officerRatingForm.controls[param.id].valid ? 'valid-input' : 'required-input'">
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>

    </table>

</form>


        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="saveOfficerRating(officerRatingForm)"
                        [disabled]="officerRatingForm.invalid" class="btn btn-success pull-right" i18n>Save and  Close</button>
                    <button type="button" (click)="displayOfficerRatingForm=false" style="margin-right:5px"
                        class="btn btn-danger pull-right" i18n>Cancel</button>
                </div>
            </div>
        </div>


    </div>

</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayOfficerRatingDetail" id="ct-modal" modal="modal" showEffect="fade"
    width="900">
    <div style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                Credit Officer Risk Rating Detail
            </h2>
        </div>

        <div class="panel-body">

            <h4><strong i18n>CREDIT OFFICER NAME:</strong> {{ selectedCreditOfficer }}</h4>
            <h4><strong i18n>RATING SCORE:</strong> {{ currentRatingDetails?.score }}%</h4>
            <h4><strong i18n>RISK RATING:</strong> {{ currentRatingDetails?.comment }}</h4>
        </div>
        
        <div  class="panel-body" width="900" style="overflow:auto;max-height:400px;">
            <p-accordion #accordion>
                <p-accordionTab i18n-header [selected]="true" header="KEY INDICATOR SCORE">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th i18n>KEY INDICATOR</th>
                            <th width=10 i18n>SCORE</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let ind of currentRatingDetails?.indicators;">
                                <td>{{ind.name}}</td>
                                <td>{{ind.score}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </p-accordionTab>

                <p-accordionTab i18n-header header="ASSESSMENT PARAMETER SCORE">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th i18n>ASSESSMENT PARAMETER</th>
                            <th width=10 i18n>SCORE</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let ind of currentRatingDetails?.parameters;">
                                <td>{{ind.name}}</td>
                                <td>{{ind.score}}%</td>
                            </tr>
                        </tbody>
                    </table>

                </p-accordionTab>
            </p-accordion>

        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="displayOfficerRatingDetail=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                </div>
            </div>
        </div>

    </div>
</p-dialog>


<p-dialog [responsive]=true [(visible)]="displayRatingPeriodForm" id="ct-modal" modal="modal" showEffect="fade"
    width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                CORR Rating Periods
            </h2>
        </div>
<br>
<br>
        <form novalidate [formGroup]="ratingPeriodForm" (ngSubmit)="saveRatingPeriod(ratingPeriodForm)" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="startDate" class="control-label col-md-12" i18n>Start Date</label>
                        <div class="col-md-12">
                            <!-- <p-calendar id="startDate" formControlName="startDate" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1900:2030" [showIcon]="true"
                                [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                                [style]="{'width': '100%', 'z-index': '999'}"
                                [ngClass]="ratingPeriodForm.controls['startDate'].valid ? 'valid-input' : 'required-input'">
                            </p-calendar> -->
                             <input type="date" dateFormat="dd-MM-yy" id="startDate" formControlName="startDate" 
                            yearRange="1900:2030" 
                            class="form-control"
                            [style]="{'width': '100%', 'z-index': '999'}"
                            [ngClass]="ratingPeriodForm.controls['startDate'].valid ? 'valid-input' : 'required-input'" />  
                            <span style="margin-left:35px"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="endDate" class="control-label col-md-12" i18n>End Date</label>
                        <div class="col-md-12">
                            <!-- <p-calendar id="endDate" formControlName="endDate" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1900:2030" [showIcon]="true"
                                [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                                [style]="{'width': '100%'}"
                                [ngClass]="ratingPeriodForm.controls['endDate'].valid ? 'valid-input' : 'required-input'">
                            </p-calendar> -->

                            <input type="date" dateFormat="dd-MM-yy" id="endDate" formControlName="endDate" 
                            yearRange="1900:2030" 
                            class="form-control"
                            [style]="{'width': '100%', 'z-index': '999'}"
                            [ngClass]="ratingPeriodForm.controls['endDate'].valid ? 'valid-input' : 'required-input'" />  
                            <span style="margin-left:35px"></span>
                        </div>
                    </div>


                </div>
            </div>
        </form>
        <div class="panel-body">

            <p-dataTable [value]="ratingPeriods" [responsive]="true" [paginator]="false" [rows]="5">

            <p-column i18n-header field="startDate" header="Start Rated" sortable="false" filterMatchMode="contains" [style]="{'width':'8%'}">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    {{ d.startDate | date: 'dd-MM-yyyy' }}
                </ng-template>
            </p-column>
            <p-column i18n-header field="endDate" header="End Rated" sortable="false" filterMatchMode="contains" [style]="{'width':'8%'}">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    {{ d.endDate | date: 'dd-MM-yyyy' }}
                </ng-template>
            </p-column>
            </p-dataTable>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="saveRatingPeriod(ratingPeriodForm)" [disabled]="ratingPeriodForm.invalid"
                        class="btn btn-success pull-right" i18n>Save and Close</button>
                    <button type="button" (click)="displayRatingPeriodForm=false" style="margin-right:5px"
                        class="btn btn-danger pull-right" i18n>Cancel</button>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayCreditOfficerSearch" id="ct-modal" modal="modal" showEffect="fade"
    width="450">
    <div style="margin-bottom:0" class="panel panel-default">
    
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                Credit Officer Search
            </h2>
        </div>
    
        <form novalidate [formGroup]="creditOfficerSearchForm"
            (ngSubmit)="submitCreditOfficerSearch(creditOfficerSearchForm)" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
    
                    <div class="form-group">
                        <label for="searchString" class="control-label col-md-12" i18n>Credit Officer Name</label>
                        <div class="col-md-12">
                            <input type="text" name="searchString" formControlName="searchString"
                                id="searchString" class="form-control"
                                [ngClass]="creditOfficerSearchForm.controls['searchString'].valid ? 'valid-input' : 'required-input'">
                        </div>
                    </div>
    
                </div>
            </div>
        </form>
    
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="submitCreditOfficerSearch(creditOfficerSearchForm)"
                        [disabled]="creditOfficerSearchForm.invalid" class="btn btn-success pull-right" i18n>Save and  Close</button>
                    <button type="button" (click)="displayCreditOfficerSearch=false" style="margin-right:5px"
                        class="btn btn-danger pull-right" i18n>Cancel</button>
                </div>
            </div>
        </div>
    
    
    </div>
</p-dialog>


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage()"></fintrakbanking-message>

<!-- <pre>{{ corr | json }}</pre> -->