.panel-body,
.input-group-addon {
    font-size: 12px;
}

#productDetailsForm {
    .panel-body {
        margin-left: -15px !important;
        margin-right: -15px !important;
        width: auto;
    }
    fieldset {
        margin-left: -15px !important;
        margin-right: -15px !important;
        width: auto;
        >legend {
            padding-left: 15px;
            padding-top: 5px;
        }
    }
}

#details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

// .flex-container {
//     display: -webkit-box;
//     display: -moz-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-flex-flow: row wrap;
//     flex-flow: row wrap;
//     -webkit-justify-content: space-between;
//     justify-content: space-between;
// }
// .flex-child {
//     margin: auto;
// }