<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <!-- <span [innerHtml]="test"></span> -->
        <!--module header-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 i18n  class="panel-title pull-left">
                            Full and Final Complete Wrote-off
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <!--endof module header-->

        <!-- <expfacility [customerId]="33"></expfacility> -->

        <p-tabView [activeIndex]="activeTabindex" (onChange)="onTabChange($event)">
            <p-tabPanel i18n-header  header="Full And Final Complete Write-off">

                <!-- loan applications -->
                <div class="card no-padding">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 i18n  class="panel-title pull-left">
                                        Full And Final Complete Write-off Information
                                    </h2>
            
                                    <div class="pull-right">
                                        <button i18n  (click)="showSearchForm()" pButton type="button" label="Search" icon="fa-search"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <p-tabView>
                                <p-tabPanel i18n-header  header="Loan Applications" *ngIf="displaySearchTable" >
                                    <p-dataTable [value]="applications" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
                                    >
                                    <p-column i18n-header  field="loanReferenceNumber" header="Loan Reference Number" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                    <!-- <p-column i18n-header  [style]="{'width':'10px'}" selectionMode="single"></p-column> -->
    
                                    <!-- <p-column i18n-header  field="effectiveDate" header="Effective Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.effectiveDate | date: 'dd-MM-yyyy' }}
                                        </ng-template>
                                    </p-column>

                                    <p-column i18n-header  field="maturityDate" header="Maturity Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                      <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                          {{ d.maturityDate | date: 'dd-MM-yyyy' }}
                                      </ng-template>
                                  </p-column>
    
                                   
                                    
                                    <p-column i18n-header  field="principalAmount" header="Principal Amount" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{'text-align':'right'}">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.scheduledPrepaymentAmount | number : '1.2' }}
                                        </ng-template>
                                    </p-column> -->
    
                                    <!-- <p-column i18n-header  field="interestRate" header="Rate" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{'width':'40px','text-align':'right'}">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.interestRate | number : '1.2' }}
                                        </ng-template>
                                    </p-column>
    
                                    <p-column i18n-header  field="applicationTenor" header="Tenor" sortable="true" [filter]="true" filterMatchMode="contains" [style]="{'width':'40px','text-align':'right'}">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.applicationTenor | number : '1.2' }}
                                        </ng-template>
                                    </p-column> -->
    
                                    <p-column i18n-header  field="customerName" header="Customer Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
    
                                    <!-- <p-column i18n-header  [style]="{'width':'120px'}" [filter]="true" filterMatchMode="contains">
                                            <ng-template pTemplate="header">Stage</ng-template>                                    
                                        <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                            <div class="btn-group" [innerHtml]="getLoanApplicationStatus(row.applicationStatusId)"></div>
                                        </ng-template>
                                    </p-column> -->
                                    
                                    <p-column i18n-header  field="loanStatus" header="Loan Status" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

    
                                    <p-column i18n-header >
                                        <ng-template pTemplate="header"></ng-template>
                                        <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                            <a (click)="view(row)" href="javascript:void(0)"><i class="glyphicon glyphicon-eye"></i><span i18n>View</span></a>
                                        </ng-template>
                                    </p-column>  
    
                                </p-dataTable>
                                </p-tabPanel>

                            </p-tabView> 

                           
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9 ">
                                    <!-- buttons -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- endof loan applications -->

            </p-tabPanel>        
        </p-tabView>

    </div>
</div>



<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displaySearchForm" id="add-modal" modal="modal" showEffect="fade" width="450">
        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <h2 i18n  class="panel-title">
                    Search Loan
                </h2>
            </div>
    
            <form novalidate [formGroup]="searchForm" autocomplete="off">
    
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label i18n  for="searchString" class="control-label col-md-12">Loan Application Reference Number/ Customer Name/ Staff Code</label>
                            <div class="col-md-12">
                                <input type="text" name="searchString" formControlName="searchString" id="searchString" class="form-control" [ngClass]="!searchForm.controls['searchString'].valid ? 'required-input' : 'valid-input'">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button i18n  type="button" (click)="submitForm(searchForm)" [disabled]="searchForm.invalid" class="btn btn-success pull-right">Search</button>
                            <button i18n  type="button" (click)="displaySearchForm=false"  style="margin-right:5px"class="btn btn-danger pull-right">Cancel</button>
                        </div>
                    </div>
                </div>
    
            </form>
    
        </div>
    </p-dialog>
    <!--end of form modal-->

    
    
  <p-dialog [responsive]=true [(visible)]="showLoanFacilityArchive" id="add-modal" modal="modal" showEffect="fade" width="1100">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <h2 i18n  class="panel-title">
          <!-- Facility Details History -->
          Full And Final Details
        </h2>
  
        <div style="text-align:right">
          <button i18n  (click)="showLoanFacilityArchive=false" pButton type="button" label="Close"></button>
        </div>
      </div>
      <div class="panel-body">
            <p-tabView [activeIndex]=0>
                <p-tabPanel i18n-header  header="Loan Details">
                    <div style="margin-bottom:0" class="panel panel-default">
                        <div class="panel-heading">
                            <h2 i18n  class="panel-title">
                                Loan Details
                            </h2>
                        </div>
                        <div class="panel-body">
                                <table *ngIf="selectedApplication" class="table table-casa-information">
                                        <tbody>
                                            <tr>
                                                <td><strong i18n>Reference Number:</strong></td>
                                                <td>{{ selectedApplication.loanReferenceNumber   }}</td>
                                                <td><strong i18n>Customer Name:</strong></td>
                                                <td colspan="2" style="text-align:left">{{ selectedApplication.customerName }}</td>
                                                <td><strong></strong></td>
                                                <td></td>
                                              </tr>
                                           
                                            <tr>
                                                <td><strong i18n>Initial Outstanding Amount:</strong></td>
                                                <td>{{ selectedApplication.initialTotalOutstandingBalance | number:'1.2'}}</td>
                                                <td><strong i18n>Current Outstanding Amount:</strong></td>
                                                <td>{{ selectedApplication.currentTotalOutstandingBalance | number:'1.2'}}</td>
                                                <td><strong></strong></td>
                                                <td></td>
                                            </tr>
                                           
                                            <!-- <tr>
                                                <td><strong i18n>Amount Recovered:</strong></td>
                                                <td>{{ selectedApplication.amountRecorvered | number:'1.2'}}</td>
                                                <td><strong i18n>Total Agreed Amount:</strong></td>
                                                <td>{{ selectedApplication.scheduledPrepaymentAmount | number:'1.2'}}</td>
                                                <td><strong></strong></td>
                                                <td></td>
                                            </tr> -->
                                           
                                           
                                            <!-- <tr>
                                                <td><strong i18n>Principal Amount:</strong></td>
                                                <td>{{ selectedApplication.principalAmount }}</td>
                                                <td><strong i18n>Interest Rate:</strong></td>
                                                <td>{{ selectedApplication.interestRate }}</td>
                                                <td><strong></strong></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong i18n>Effective Date:</strong></td>
                                                <td>{{ selectedApplication.effectiveDate | date }}</td>
                                                <td><strong i18n>Maturity Date:</strong></td>
                                                <td>{{ selectedApplication.maturityDate | date }}</td>
                                                <td><strong></strong></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong i18n>Outstanding Principal:</strong></td>
                                                <td>{{ selectedApplication.outstandingPrincipal | number:'1.2' }}</td>
                                                <td><strong i18n>Past Due Principal:</strong></td>
                                                <td>{{ selectedApplication.pastDuePrincipal | number:'1.2' }}</td>
                                            </tr>
                                            
                                            <tr>
                                               
                                                <td><strong i18n>Past Due Interest:</strong></td>
                                                <td>{{ selectedApplication.pastDueInterest | number:'1.2' }}</td>
                                                <td><strong i18n>Intrest On Past Due Interest:</strong></td>
                                                <td>{{ selected
                                                  Application.interesrtOnPastDueInterest | number:'1.2' }}</td>
                                            </tr> -->

                                            <tr>
                                                <td><strong i18n>Amount Recovered:</strong></td>
                                                <td>{{ selectedApplication.amountRecorvered | number:'1.2'}}</td>
                                                <td><strong i18n>New Status</strong></td>
                                                <td>
                                                    <select name="fullAndFinalStatusId" 
                                                    id="fullAndFinalStatusId" class="form-control" [(ngModel)]="fullAndFinalStatusId"
                                                    [ngClass]="!fullAndFinalStatusId  ? 'required-input' : 'valid-input'">
                                                    <option i18n  value="">--- Select Status ---</option>
                                                    <option *ngFor="let item of fullAndFinalStatus" [value]="item.lookupId">{{item.lookupName}}</option>
                                                </select>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel i18n-header  header="Agreement Details">
                            <div style="margin-bottom:0" class="panel panel-default">
                              <div class="panel-heading">
                                <h2 i18n  class="panel-title">
                                  Agreement Details
                                </h2>
                              </div>
                              <div class="panel-body">
                                <p-dataTable scrollable="true" scrollHeight="200px" [value]="loanScheduleDetails"
                                  [responsive]=true selectionMode="single">
                                  
                                  <p-column i18n-header  field="paymentDate" header="Payment Date">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span>{{schedule[col.field] | date}}</span>
                                    </ng-template>
                                  </p-column>
                                  
                                  <p-column i18n-header  field="paymentAmount" header="Agreed Payment Amount">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                    </ng-template>
                                  </p-column>
                                  
                                  <!-- <p-column i18n-header  [style]="{'width':'80px'}" field="paymentNumber" header="No"></p-column>
                                  
                                  <p-column i18n-header  field="paymentDate" header="Payment Date">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span>{{schedule[col.field] | date}}</span>
                                    </ng-template>
                                  </p-column>
                                  <p-column i18n-header  field="startPrincipalAmount" header="Start Principal">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                    </ng-template>
                                  </p-column>
                                  <p-column i18n-header  field="periodPaymentAmount" header="Periodic Amount">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                    </ng-template>
                                  </p-column>
                                  <p-column i18n-header  field="periodPrincipalAmount" header="Principal Amount">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                    </ng-template>
                                  </p-column>
                                  <p-column i18n-header  field="periodInterestAmount" header="Interest Amount">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                    </ng-template>
                                  </p-column>
                                  <p-column i18n-header  field="endPrincipalAmount" header="Balance">
                                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                    </ng-template>
                                  </p-column>
       -->
                                  <!-- <p-column i18n-header  field="amortisedStartPrincipalAmount" header="AM Start Principal">
                                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                                          <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                        </ng-template>
                                      </p-column>
                                      <p-column i18n-header  field="amortisedPeriodPaymentAmount" header="AM Periodic Amount">
                                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                                          <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                        </ng-template>
                                      </p-column>
                                      <p-column i18n-header  field="amortisedPeriodPrincipalAmount" header="AM Principal Amount">
                                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                                          <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                        </ng-template>
                                      </p-column>
                                      <p-column i18n-header  field="amortisedPeriodInterestAmount" header="AM Interest Amount">
                                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                                          <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                        </ng-template>
                                      </p-column>
                                      <p-column i18n-header  field="amortisedEndPrincipalAmount" header="AM Balance">
                                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                                          <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                                        </ng-template>
                                      </p-column> -->
                                </p-dataTable>
                                
                              
                              </div>
      
                            </div>
                </p-tabPanel>
            </p-tabView>
      </div>
    </div>
    <div class="panel-heading">
      <div style="text-align:right">
        <button i18n  type="button" (click)="cancelFullAndFinal()" class="btn btn-success">Submit</button>

        <!-- <button i18n  (click)="cancealFullAndFinal()" class="btn btn-success pull-right" label="Canceal Full and Final"></button> -->
      </div>
    </div>
  </p-dialog>
   