    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
    Profile Settings List
</h2>
        </div>
        <form [formGroup]="profileSettingsForm" novalidate autocomplete="off">
            <div class="panel-body">
                        <div class="form-horizontal">

                            <div class="form-group">

                                <div class="col-md-12">
                                        <label for="minRequiredPasswordLength" class="control-label col-md-4" i18n>
                                                Minimum Required Password Length
                                            </label>
                                        <div class="col-md-4">
                                            <input type="number" min="0" name="minRequiredPasswordLength" formControlName="minRequiredPasswordLength"
                                                id="minRequiredPasswordLength" class="form-control">
                                        </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-md-12">
                                            <label for="minrequiredNonAlphanumericChar" class="control-label col-md-4" i18n>
                                                    Minimum Required Alpha Numerical Char
                                                </label>
                                            <div class="col-md-4">
                                                <input type="number" min="0" name="minrequiredNonAlphanumericChar" formControlName="minrequiredNonAlphanumericChar"
                                                    id="minrequiredNonAlphanumericChar" class="form-control">
                                            </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                     <label for="maxInvalidPasswordAttempts" class="control-label col-md-4" i18n>
                                          Maximum Valid Password Attempts
                                     </label>
                                    <div class="col-md-4">
                                    <input type="number" min="0" name="maxInvalidPasswordAttempts" formControlName="maxInvalidPasswordAttempts"
                                                        id="maxInvalidPasswordAttempts" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                        <div class="col-md-12">
                                                <label for="expirePasswordAfter" class="control-label col-md-4" i18n>
                                                        Expire Password After (Days)
                                                    </label>
                                                <div class="col-md-4">
                                                    <input type="number" min="0" name="expirePasswordAfter" formControlName="expirePasswordAfter"
                                                        id="expirePasswordAfter" class="form-control">
                                                </div>
                                        </div>
                            </div>
                            <div class="form-group">
                                            <div class="col-md-12">
                                                    <label for="maxPeriodOfUserInactivity" class="control-label col-md-4">
                                                    Maximum Period Of Dormancy                                                            
                                                    </label>
                                                    <div class="col-md-4">
                                                        
                                                        <input type="number" min="0" name="maxPeriodOfUserInactivity" formControlName="maxPeriodOfUserInactivity"
                                                            id="maxPeriodOfUserInactivity" class="form-control">
                                                    </div>
                                            </div>
                            </div>
                            <div class="form-group">
                                                <div class="col-md-12">
                                                        <label for="sessionTimeOut" class="control-label col-md-4" i18n>
                                                        Session Timeout                                                           
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="number" min="0" name="sessionTimeOut" formControlName="sessionTimeOut"
                                                                id="sessionTimeOut" class="form-control">
                                                        </div>
                                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="col-md-12">
                                 <label for="requiresQuestionAndAnswer" class="control-label col-md-4" i18n>
                                                                Requires Question and Answer
                                 </label>
                                 <div class="col-md-4">
                                 <label class="checkbox-inline">
                                  <input type="checkbox" formControlName="requiresQuestionAndAnswer" name="requiresQuestionAndAnswer" id="requiresQuestionAndAnswer" value="" >
                                 </label>
                                  </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                        <div class="col-md-12">
                                                <label for="enablePasswordRetrieval" class="control-label col-md-4">
                                                        Enable Password Retrieval
                                                    </label>
                                                <div class="col-md-4">
                                                        <label class="checkbox-inline">
                                                                <input type="checkbox" formControlName="enablePasswordRetrieval" name="enablePasswordRetrieval" id="enablePasswordRetrieval" value="">
                                                            </label>
                                                         </div>
                                        </div>
                            </div> -->
                            <!-- <div class="form-group">
                                            <div class="col-md-12">
                                                    <label for="enablePasswordReset" class="control-label col-md-4">
                                                            Enable Password Reset
                                                        </label>
                                                    <div class="col-md-4">
                                                            <label class="checkbox-inline">
                                                                    <input type="checkbox" formControlName="enablePasswordReset" name="enablePasswordReset" id="enablePasswordReset" value="">
                                                                </label>
                                                             </div>
                                            </div>
                            </div> -->

                            <!-- <div class="form-group">

                                                    <div class="col-md-12">
                                                            <label for="requiresUniqueEmail" class="control-label col-md-4">
                                                                    Requires Unique Email
                                                                </label>
                                                            <div class="col-md-4">
                                                                    <label class="checkbox-inline">
                                                                            <input type="checkbox" formControlName="requiresUniqueEmail" name="requiresUniqueEmail" id="requiresUniqueEmail" value="" >
                                                                        </label>
                                                                     </div>
                                                    </div>
                            </div> -->
                            
                            <!-- <div class="form-group">
                                <div class="col-md-12">
                                    <label for="allowPasswordReuseAfter" class="control-label col-md-4">
                                        Allow Password After Re-Use
                                    </label>
                                    <div class="col-md-4">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" formControlName="allowPasswordReuseAfter" name="allowPasswordReuseAfter" id="allowPasswordReuseAfter" value="" >
                                            </label>
                                             </div>                           
                            </div> -->

                        </div>
            </div>
        </form>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="onSubmit()" class="btn btn-success pull-right" i18n>Save</button>

                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngFor="let activity of actP.activities; let i = index" class="col-md-4">
        <label class="checkbox-inline actCheckBox">
            <input type="checkbox" formControlName="activities" asList name="activityName" id="activity-{{i}}" value="{{activity.activityId}}">{{activity.activityName}}
        </label>
    </div> -->