<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Chart of Accounts
                            </h2>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <p-dataTable [paginator]="true" [rows]="15" [value]="coaApprovalData" [responsive]=true selectionMode="single">
                        <p-column i18n-header [style]="{'width':'110px'}" field="accountCode" header="Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="accountName" header="Account Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="accountCategoryName" header="Account Category" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="accountTypeName" header="Account Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                        <p-column [style]="{'width':'60px'}">

                            <ng-template pTemplate="header" i18n>
                                View
                            </ng-template>
                            <ng-template let-staff="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="viewCoaDetails(i, $event)" style="display: block" href="#">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [responsive]=true [(visible)]="displayCoaModal" id="approvalModal" modal="modal" showEffect="fade" width="900">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                Chart of Account Approval
            </h2>
        </div>

        <div class="panel-body">

            <p-tabView (onChange)="handleChange($event)" [activeIndex]="activeIndex">
                <p-tabPanel i18n-header header="Chart of Account Info">
                    <div class="form-horizontal">
                        <table class="table table-customer-information">
                            <tbody>
                                <tr>
                                    <td><strong i18n>Branch</strong></td>
                                    <td>{{selectedCoaData.branchName}}</td>
                                    <td><strong i18n>Name</strong></td>
                                    <td>{{selectedCoaData.accountName}}</td>
                                </tr>
                                <tr>
                                    <td><strong i18n>Account Code</strong></td>
                                    <td>{{selectedCoaData.accountCode}}</td>
                                    <td><strong i18n>Account Type</strong></td>
                                    <td>{{selectedCoaData.accountTypeName}}</td>
                                </tr>
                                <tr>
                                    <td><strong i18n>Account Category</strong></td>
                                    <td>{{selectedCoaData.accountCategoryName}}</td>
                                    <td><strong i18n>FS Caption</strong></td>
                                    <td>{{selectedCoaData.fsCaptionName}}</td>
                                </tr>
                                <tr>
                                    <td><strong i18n>Branch Specific</strong></td>
                                    <td>{{selectedCoaData.branchSpecific}}</td>
                                    <td><strong i18n>GL Class</strong></td>
                                    <td>{{selectedCoaData.glClassName}}</td>
                                </tr>
                                <tr>
                                    <td><strong i18n>Currencies</strong></td>
                                    <td>{{selectedCoaCurrencies}}</td>
                                </tr>
                                <tr>
                                    <td><strong i18n>Comment</strong></td>
                                    <td><textarea [ngClass]="!selectedCoaData.comment ? 'required-input' : 'valid-input'" class="form-control" [(ngModel)]="selectedCoaData.comment" name="comment" cols="30" rows="3"></textarea></td>
                                    <td><strong i18n>Status</strong></td>
                                    <td>
                                        <select name="approvalStatus" id="approvalStatus" class="form-control" [(ngModel)]="selectedCoaData.approvalStatusId" [ngClass]="!selectedCoaData.approvalStatusId ? 'required-input' : 'valid-input'">
                                            <option value="" i18n>--- Select Approval Status ---</option>
                                            <option *ngFor="let item of approvalStatusData" [value]="item.approvalStatusId">{{item.approvalStatusName}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </p-tabPanel>
                <p-tabPanel i18n-header header="View Approval Workflow">
                    <p-dataTable [value]="approvalWorkflowData" [paginator]="true" [rows]="10" [responsive]="true">
                        <p-column i18n-header field="requestStaffName" header="Intiated From"></p-column>
                        <p-column i18n-header field="requestApproval Level" header="Initiator Approval Level"></p-column>
                        <p-column i18n-header field="responseStaffName" header="Directed To"></p-column>
                        <p-column i18n-header field="responseApproval Level" header="Response Approval Level"></p-column>
                        <p-column i18n-header field="approvalStatus" header="Approval Status"></p-column>
                        <p-column i18n-header field="comment" header="Comment"></p-column>
                        <p-column i18n-header field="systemArrivalDate" header="Date of Arrival">
                            <ng-template let-col let-apr="rowData" pTemplate="body">
                                {{apr[col.field] | date: 'medium'}}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="systemResponseDate" header="Date of Response">
                            <ng-template let-col let-apr="rowData" pTemplate="body">
                                {{apr[col.field] | date: 'medium' }}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </p-tabPanel>
            </p-tabView>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button (click)="hideModal()" type="button" class="btn btn-danger" style="margin-right:5px" i18n>Close</button>
                        <button [disabled]="!selectedCoaData.comment || !selectedCoaData.approvalStatusId" type="button" (click)="goForApproval(selectedCoaData)" class="btn btn-success" i18n>Submit For Approval</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</p-dialog>