<div *ngIf="displaySearch" class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 i18n class="panel-title pull-left">
                                Contingent Operations
                            </h2>

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <!-- <div class="form-group">
                          <label i18n  for="callLimitTypeId" class="col-md-2 control-label"></label>
                          <div class="col-md-4">
                          </div>
                          <label i18n  for="" class="control-label col-md-2"></label>
                          <div class="col-md-4">
                              <div class="input-group">
                                  <input (focus)="openSearchBox()" type="text" class="form-control" placeholder="Search for Loan Customer" name="loanReferenceNo"
                                      [ngClass]="'valid-input'">
                                  <div class="input-group-btn">
                                      <button (click)="openSearchBox()" style="padding-top:4px;padding-bottom: 4px" class="btn btn-default" type="button">
                                          <i class="glyphicon glyphicon-search"></i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div> -->

                        <p-dataTable [paginator]="true" [value]="contingentLoanData" [rows]="15" (onRowSelect)="onSelectedLoanChange($event.data)">
                            <p-column i18n-header [style]="{'width':'38px'}" selectionMode="single"></p-column>
                            <p-column i18n-header [style]="{'width':'120px'}" field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'120px'}" field="loanReferenceNumber" header="Loan Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'120px'}" field="lmsApplicationReferenceNumber" header="Application Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'120px'}" field="customerName" header="Obligor Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'150px'}" field="operationName" header="Operation Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'70px'}" field="divisionShortCode" header="Unit" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'100px','text-align':'right'}" field="principalAmount" header="Amount" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header [style]="{'width':'100px'}" field="effectiveDate" header="Effective Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                <ng-template let-col let-con="rowData" pTemplate="body">
                                    {{con.effectiveDate | date: 'dd/MM/yyyy'}}
                                </ng-template>
                            </p-column>
                            <p-column i18n-header [style]="{'width':'100px'}" field="maturityDate" header="Maturity Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                <ng-template let-col let-con="rowData" pTemplate="body">
                                    {{con.maturityDate | date: 'dd/MM/yyyy'}}
                                </ng-template>
                            </p-column>
                            <p-column i18n-header [style]="{'width':'70px'}" field="approvalStatusName" header="Approval Status " sortable="false" [filter]="false" filterMatchMode="contains">
                                <ng-template let-col let-ln="rowData" pTemplate="body">
                                    <span class="label label-info"> {{ln[col.field] | uppercase }}</span>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <!--end of panel-->
            </div>
        </div>
    </div>
</div>

<div *ngIf="displayData == true" class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 i18n class="panel-title pull-left">
                                Contingent Liability Operations
                            </h2>
                            <button class="btn btn-primary pull-right" pButton type="button" (click)="showReviewForm()" i18n-label label="Perform Operation" icon="fa-plus"></button>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-horizontal">
                        <!-- <app-disbursed-loan-details [displayDetails]="displayCustomerLoanDetails"  [loanSystemTypeId]="loanSystemTypeId" [LoadLoanDetails]="termLoanId"></app-disbursed-loan-details> -->
                        <!-- <app-disbursed-loan-details [selectedloanReviewApplicationId]="selectedloanReviewApplicationId" [displayFacilityDetails]="false" [loanSystemTypeId]="loanSystemTypeId" [displayDetails]="displayCustomerLoanDetails" [LoadLoanDetails]="termLoanId"
                            [selectedApplicationRefNumber]="selectedApplicationRefNumber" [appraisalOperationName]="appraisalOperationName" [creditAppraisalOperationId]="creditAppraisalOperationId" [creditAppraisalLoanApplicationId]="creditAppraisalLoanApplicationId"
                            [loanApplicationId]="selectedloanReviewApplicationId" [operationId]="loanReviewOperationId" [lmsLoanApplicationId]="lmsLoanApplicationId" [lmsOperationId]="lmsOperationId"> -->
                        <app-disbursed-loan-details [selectedloanReviewApplicationId]="selectedloanReviewApplicationId" [displayFacilityDetails]="false" [loanSystemTypeId]="loanSystemTypeId" [displayDetails]="displayCustomerLoanDetails" [LoadLoanDetails]="termLoanId" [selectedApplicationRefNumber]="selectedApplicationRefNumber"
                            [appraisalOperationName]="appraisalOperationName" [creditAppraisalOperationId]="creditAppraisalOperationId" [creditAppraisalLoanApplicationId]="creditAppraisalLoanApplicationId" [loanApplicationId]="selectedloanReviewApplicationId"
                            [operationId]="loanReviewOperationId" [lmsLoanApplicationId]="lmsLoanApplicationId" [lmsOperationId]="lmsOperationId" [appraisalApprovedTenor]="appraisalApprovedTenor">
                        </app-disbursed-loan-details>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" (click)="refer()" class="btn btn-primary pull-left" ><span
                                class="glyphicon glyphicon-chevron-left" style="margin-right:5px"></span>
                                <ng-container i18n> Refer Back</ng-container>
                            </button>
                            <button type="button" (click)="backToSearch()" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                        </div>
                    </div>
                </div>
                <!--end of panel-->
            </div>
        </div>
    </div>
</div>


<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displaySearchModal" modal="modal" id="searchModal" showEffect="fade" width="650">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <div style="margin-left:0" class="row">
                <h2 i18n class="panel-title pull-left">
                    Search For Contingent Loans
                </h2>
                <a href="" (click)="displaySearchModal=false" class="pull-right remove-btn">
                    <i class="glyphicon glyphicon-remove-sign">
                    </i>
                </a>

            </div>
        </div>
        <div style="padding:3px" class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" id="search" (keyup)="searchDB($event.target.value)" class="form-control" placeholder="Type in your search parameter">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <p>
                        <!--{{mfacilityType}}-->
                    </p>
                    <table *ngIf="searchResults" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th i18n>Loan Reference No</th>
                                <th i18n>Customer Name</th>
                                <th i18n>Loan Principal Amount</th>
                                <th i18n>Facility Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="onSelectedLoanChange(res)" style="cursor: pointer" *ngFor="let res of searchResults; let i = index">
                                <td>
                                    {{res.loanReferenceNumber}}
                                </td>
                                <td>
                                    {{res.customerName}}
                                </td>
                                <td>
                                    {{res.principalAmount}}
                                </td>
                                <td>
                                    {{res.productTypeName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<!--end of form modal-->


<p-dialog header="Loan Schedule" [responsive]=true resizable="true" [(visible)]="displayScheduleModalForm" id="add-modal" modal="modal" showEffect="fade" width="1200">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n class="panel-title">
                Schedule Details
            </h2>
        </div>
        <div class="panel-body">
            <fieldset>
                <table style="margin-bottom: 20px">
                    <tr>
                        <td i18n style="font-size: 12px;font-weight: bold;padding: 4px">Granted Amount</td>
                        <td style="text-align: right;padding-left: 10px;padding: 4px">
                            {{scheduleHeader?.principalAmount}}</td>
                        <td i18n style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px">Interest Rate</td>
                        <td style="text-align: right;padding: 4px">{{scheduleHeader?.interestRate}} %</td>
                        <td i18n style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px">Effective Interest Rate
                        </td>
                        <td style="text-align: right;padding: 4px">
                            {{scheduleHeader?.effectiveInterestRate | number: '1.2-2'}} %</td>
                    </tr>
                    <tr>
                        <td i18n style="font-size: 12px;font-weight: bold;padding: 4px">Effective Date</td>
                        <td style="text-align: right;padding-left: 10px;padding: 4px">
                            {{scheduleHeader?.effectiveDate | date}}</td>
                        <td i18n style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px">Maturity Date</td>
                        <td style="text-align: right;padding: 4px">{{scheduleHeader?.maturityDate | date}}</td>
                    </tr>
                </table>

            </fieldset>


            <p-dataTable scrollable="true" scrollHeight="400px" [value]="schedules" [responsive]=true selectionMode="single">
                <p-column i18n-header [style]="{'width':'80px'}" field="paymentNumber" header="No"></p-column>
                <p-column i18n-header field="paymentDate" header="Payment Date">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span>{{schedule[col.field] | date}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="startPrincipalAmount" header="Start Principal">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="periodPaymentAmount" header="Periodic Amount">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="periodPrincipalAmount" header="Principal Amount">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="periodInterestAmount" header="Interest Amount">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="endPrincipalAmount" header="Balance">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>

                <p-column i18n-header field="amortisedStartPrincipalAmount" header="AM Start Principal">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="amortisedPeriodPaymentAmount" header="AM Periodic Amount">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="amortisedPeriodPrincipalAmount" header="AM Principal Amount">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="amortisedPeriodInterestAmount" header="AM Interest Amount">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <p-column i18n-header field="amortisedEndPrincipalAmount" header="AM Balance">
                    <ng-template let-col let-schedule="rowData" pTemplate="body">
                        <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                    </ng-template>
                </p-column>
                <!-- <p-column i18n-header field="internalRateOfReturn" header="IRR">
                  <ng-template let-col let-schedule="rowData" pTemplate="body">
                      <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                  </ng-template>
              </p-column> -->
            </p-dataTable>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="displayScheduleModalForm=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [responsive]="true" [(visible)]="displayReviewModal" id="limit-def-modal" modal="modal" showEffect="fade" width="900">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="panel-title pull-left">
                        {{entityName}}
                    </h2>
                </div>
            </div>
        </div>
        <p-tabView>
            <p-tabPanel header="Operation">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <form novalidate [formGroup]="LoanReviewForm" autocomplete="off">
                            <div class="form-group">
                                <label i18n  for="operationTypeId" class="col-md-2 control-label">Operation Type</label>
                                <div class="col-md-4">
                                    <select (change)="OnOperationTypeChange($event.target.value)" name="operationTypeId" formControlName="operationTypeId" id="operationTypeId" class="form-control" [ngClass]="'valid-input'">
                                        <option i18n value="">--- Select Operation Type ---</option>
                                        <option *ngFor="let pc of operationTypes" value="{{pc.operationTypeId}}">
                                            {{pc.operationTypeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="ContingentFlagRenewal || ContingentFlagTermination || ContingentFlagTenorExtension">
                                <label i18n  for="proposedEffectiveDate" class="control-label col-md-2">Effective Date</label>
                                <div class="col-md-4" *ngIf="bgTermination">
                                    {{systemCurrentDate | date:'dd/MMM/yy'}}
                                    <!-- <p-calendar id="proposedEffectiveDate" readonly="true" formControlName="proposedEffectiveDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['proposedEffectiveDate'].valid ? 'required-input' : 'valid-input'"
                            [inputStyle]="{'width': '270px' }" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [showIcon]="true"></p-calendar> -->
                                </div>
                                <div class="col-md-4" *ngIf="!bgTermination|| ContingentFlagTenorExtension">
                                    <p-calendar id="proposedEffectiveDate" formControlName="proposedEffectiveDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['proposedEffectiveDate'].valid ? 'required-input' : 'valid-input'" [inputStyle]="{'width': '270px' }" [monthNavigator]="true"
                                        [yearNavigator]="true" yearRange="2000:2050" [showIcon]="true"></p-calendar>
                                </div>
                                <div *ngIf="ContingentFlagRenewal || ContingentFlagTenorExtension">
                                    <label i18n  for="maturityDate" class="control-label col-md-2">Expiry Date</label>
                                    <div class="col-md-4">
                                        <p-calendar id="maturityDate" formControlName="maturityDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['maturityDate'].valid ? 'required-input' : 'valid-input'" (onSelect)="calculateTenor()" [inputStyle]="{'width': '270px' }" [monthNavigator]="true"
                                            [yearNavigator]="true" yearRange="2000:2050" [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div *ngIf="Tenor">
                                    <label i18n  for="tenor" class="control-label col-md-2">Tenor</label>
                                    <div class="col-md-4">
                                        <input type="text" name="tenor" (change)="calculateMaturityDate()" formControlName="tenor" [ngClass]="!LoanReviewForm.controls['tenor'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                    </div>
                                </div>
                                <div *ngIf="ContingentFlagTermination">
                                    <label i18n  for="remark" class="control-label col-md-2">Upload Document</label>
                                    <div class="col-md-4">
                                        <div class="checkbox-container">

                                        </div><label  class="checkbox" ng-style="isPrimaryLabel === 'Required'}" style="color:red">{{isPrimaryLabel}}</label>
                                        <button type="button" (click)="GetPrimaryDocument()" style="margin-left:60" class="btn btn-success pull-right">Upload</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label i18n  *ngIf="ContingentFlagRenewal" for="remark" class="control-label col-md-2">Legal Reference No.</label>
                                <div class="col-md-4" *ngIf="ContingentFlagRenewal">
                                    <input type="text" name="legalContingentCode" formControlName="legalContingentCode" [ngClass]="!LoanReviewForm.controls['legalContingentCode'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="ContingentIsFlagRebook">
                                <label i18n  for="rebookAmount" class="control-label col-md-2">Rebook Amount</label>
                                <div class="col-md-4">
                                    <input type="text" formatM name="rebookAmount" (blur)="computeApgBalance()" formControlName="rebookAmount" [ngClass]="!LoanReviewForm.controls['rebookAmount'].valid ? 'required-input' : 'valid-input'" class="numeric form-control">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="ContingentIsFlagRebook">
                                <label i18n  for="apgBalance" class="control-label col-md-2">APG Balance</label>
                                <div class="col-md-4">
                                    <input type="text" readonly formatM name="apgBalance" formControlName="apgBalance" [ngClass]="!LoanReviewForm.controls['apgBalance'].valid ? 'required-input' : 'valid-input'" class="numeric form-control">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="ContingentFlagAmountReduction">
                                <label i18n  for="prepayment" class="control-label col-md-2">Amount</label>
                                <div class="col-md-4">
                                    <input type="text" formatM name="prepayment" (blur)="computeOutstandingPrincipal()" formControlName="prepayment" [ngClass]="!LoanReviewForm.controls['prepayment'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" *ngIf="ContingentIsFlagAmountReduction">
                                <label i18n  for="outstandingPrincipal" class="control-label col-md-2">Outstanding Principal</label>
                                <div class="col-md-4">
                                    <input type="text" readonly formatM name="outstandingPrincipal" formControlName="outstandingPrincipal" [ngClass]="!LoanReviewForm.controls['outstandingPrincipal'].valid ? 'required-input' : 'valid-input'" class="numeric form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div *ngIf="SubAllocationOverdraft">
                                    <label i18n  for="accountNumber" class="control-label col-md-2">CASA Account</label>
                                    <div class="col-md-4">
                                        <input type="text" name="accountNumber" formControlName="accountNumber" [ngClass]="!LoanReviewForm.controls['cASA_AccountId'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                    </div>
                                    <label i18n  for="overDraftTopup" class="control-label col-md-2">Sub Allocation Limit</label>
                                    <div class="col-md-4">
                                        <input type="text" formatM name="overDraftTopup" formControlName="overDraftTopup" [ngClass]="!LoanReviewForm.controls['overDraftTopup'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                    </div>

                                </div>

                                <div *ngIf="Overdrafttopup">
                                    <label i18n  for="overDraftTopup" class="control-label col-md-2">Topup Limit</label>
                                    <div class="col-md-4">
                                        <input type="text" formatM name="overDraftTopup" formControlName="overDraftTopup" [ngClass]="!LoanReviewForm.controls['overDraftTopup'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                    </div>
                                </div>


                            </div>

                            <div *ngIf="OverdraftTenorExtension" class="form-group">
                                <label i18n  for="overDraftTopup" class="control-label col-md-2">Limit</label>
                                <div class="col-md-4">
                                    <input type="text" formatM name="overDraftTopup" formControlName="overDraftTopup" [ngClass]="!LoanReviewForm.controls['overDraftTopup'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                </div>
                                <label i18n  for="validateDrawnLimit" class="control-label col-md-2">Validate Drawn  Limit</label>
                                <div class="col-md-4">
                                    <input type="checkbox" name="validateDrawnLimit" formControlName="validateDrawnLimit">
                                </div>
                            </div>


                            <div *ngIf="OverdraftRenewal" class="form-group">
                                <label i18n  for="overDraftTopup" class="control-label col-md-2">Limit</label>
                                <div class="col-md-4">
                                    <input type="text" formatM name="overDraftTopup" formControlName="overDraftTopup" [ngClass]="!LoanReviewForm.controls['overDraftTopup'].valid ? 'required-input' : 'valid-input'" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label i18n  for="reviewDetails" class="control-label col-md-2"> Operation Details </label>
                                <div class="col-md-10">
                                    <textarea type="text" name="reviewDetails" formControlName="reviewDetails" [ngClass]="!LoanReviewForm.controls['reviewDetails'].valid ? 'required-input' : 'valid-input'" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </form>

                        <div class="form-group">
                            <label i18n  class="col-md-2">Take Fee?</label>

                            <div class="col-md-4">
                                <select name="takeFeeStatus" [(ngModel)]="takeFeeStatus" class="form-control" [ngClass]="!takeFeeStatus ? 'required-input' : 'valid-input'">
                                    <option i18n value="">--- Select Status ---</option>
                                    <option i18n value="1"> Take Fee </option>
                                    <option i18n value="2"> Do Not Take Fee </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Take Fee">
                <take-fee-shared [loanSystemTypeId]="loanSystemTypeId" [amount]="principalAmount" [selectedLoanId]="termLoanId" [customerId]="customerId" [currencyId]="currencyId" (takeFees)="takeFees($event)"></take-fee-shared>
            </p-tabPanel>
            <!-- <p-tabPanel header="Comments">
                <div class="panel-body">
                    <p-dataTable [value]="approvalWorkflowData" [paginator]="true" [rows]="5" [responsive]="true">
                        <p-column i18n-header field="requestStaffName" header="Intiated By"></p-column>
                        <p-column i18n-header field="requestApproval Level" header="Initiator Approval Level"></p-column>
                        <!-- <p-column i18n-header field="responseStaffName" header="Directed To"></p-column> 
                        <p-column i18n-header field="responseApproval Level" header="Response Approval Level"></p-column>
                        <p-column i18n-header field="approvalStatus" header="Approval Status"></p-column>
                        <p-column i18n-header field="comment" header="Comment"></p-column>
                        <p-column i18n-header field="systemArrivalDate" header="Date of Arrival">
                            <ng-template let-col let-apr="rowData" pTemplate="body">
                                {{apr[col.field] | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="systemResponseDate" header="Date of Response">
                            <ng-template let-col let-apr="rowData" pTemplate="body">
                                {{apr[col.field] | date: 'dd/MM/yyyy' }}
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </div>
            </p-tabPanel> -->
            <!-- <p-tabPanel header="FAM">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button (click)="previewDocumentation()" style="padding: 3px 6px 3px 6px;">
                                <span class="glyphicon glyphicon-file"></span><ng-container i18n>Preview</ng-container></button>
                            <button (click)="previewDocumentationLos()" style="padding: 3px 6px 3px 6px;">
                                <span class="glyphicon glyphicon-file"></span><ng-container i18n>Preview Previous</ng-container>
                                </button>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom:5px">
                        <app-form-3800b-lms [applicationReferenceNumber]="lmsApplicationReferenceNumber">
                        </app-form-3800b-lms>
                        <!-- <iframe [src]="reportSource" id="report" name="report" frameborder="2" height="500px" width="1000px" style="overflow:auto"></iframe> -->
                        <!-- <div [innerHTML]="originalForm3800bSrc.documentTemplate" id="letter" class="paper" style="overflow:auto;height:400px"></div> -
                    </div>
                    <hr />
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="btn-group">
                                <!-- <button (click)="print(originalForm3800bSrc.documentTemplate)" class="btn btn-default">
                                                    <i class="glyphicon glyphicon-print"></i> print</button> --

                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel> -->
        </p-tabView>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" [disabled]="LoanReviewForm.invalid || !takeFeeStatus" class="btn btn-success pull-right" (click)="submitLoanReviewForm(LoanReviewForm)">
                    <ng-container i18n>Save Review</ng-container></button>
                    <button type="button" (click)="displayReviewModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>


<p-dialog [responsive]=true [(visible)]="displayFileUpload" id="add-modal" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n class="panel-title">Upload Document</h2>
        </div>


        <form novalidate [formGroup]="PrimaryDocumentForm" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label i18n  class="control-label col-md-4">Title</label>
                        <div class="col-md-8">
                            <input type="text" formControlName="primaryDocumentTitle" name="primaryDocumentTitle" id="primaryDocumentTitle" maxlength="100" required class="form-control" [ngClass]="!PrimaryDocumentForm.controls['primaryDocumentTitle'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label i18n  class="control-label col-md-4">Select Document</label>
                        <div class="col-md-8">
                            <input type="file" id="primaryDocument" (change)="onFileChange($event)" formControlName="primaryDocument" name="primaryDocument" placeholder="Upload file" accept=".pdf,.doc,.docx,.jpg,.jpeg" #fileInput name="fileInput" style="padding-top:2px;" class="form-control"
                                [ngClass]="!PrimaryDocumentForm.controls['primaryDocument'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <!-- {{ casaForm.value | json }} -->
                        <button type="button" (click)="AcceptImage()" [disabled]="(PrimaryDocumentForm.invalid || PrimaryDocumentForm.invalid || (PrimaryDocumentForm.invalid || file==undefined))" class="btn btn-success pull-right" i18n>Add</button>
                        <button type="button" (click)="closePrimaryDocUpload()" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>

        </form>
    </div>


</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayDocumentation" modal="modal" showEffect="fade" width="1200">
    <div *ngIf="displayDocumentation" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2  class="panel-title"  >
                <ng-container i18n> Appraisal Documentation for REFERENCE:</ng-container>
                <strong >{{ selectedLoanReview?.applicationReferenceNumber }}</strong> of OBLIGOR:
                <strong >{{ selectedLoanReview?.customerName }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="closeDocumentation()">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:450px">
            <div *ngFor="let x of documentations">
                <p><strong>{{x.title}}</strong></p>
                <span [innerHtml]="x.templateDocument"></span>
            </div>
        </div>

    </div>
</p-dialog>

<p-dialog  [responsive]=true [(visible)]="displayReferBackForm" modal="modal" showEffect="fade" width="700">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <!-- <h2 i18n class="panel-title">Refer back</h2> -->
        </div>
        <app-refer-back *ngIf="displayReferBackForm == true" 
            [isLmsOperations]="true" [isClassified]="true"
            [forbidExternalNotification]="true" 
            [isLMSCrossWorkflow]="true" (notify)="displayStatus($event)" 
            [referBackOperationId]="lmsOperationId" [referBackTargetId]="lmsLoanApplicationId" 
            (notifyAfterReferBack)="afterReferBackSuccess($event)">
        </app-refer-back>
    </div>
</p-dialog> 