<div class="ui-g">
  <div class="ui-g-12 no-padding">
      <div class="card no-padding">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-md-12">
                          <h2 i18n class="panel-title pull-left">
                              Commercial Loan Review Operation
                          </h2>
                          <div *ngIf="displayCustomerLoanDetails" class="pull-right">
                              <button pButton type="button" (click)="showLoanReviewForm()" label="Perform Operation" icon="fa-plus"></button>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="panel-body">
                  <div *ngIf="displayLoanReviewList" class="form-horizontal">
                      <div class="form-group">
                          <div class="col-md-4">

                          </div>
                      </div>
                      <div class="card no-padding">
                          <p-dataTable [paginator]="true" [value]="approvedLoanReviewData" [rows]="10" (onRowSelect)="onSelectedLoanReviewChange($event)">
                              <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                              <p-column [style]="{'width':'100px'}" field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                              <p-column [style]="{'width':'130px'}" field="loanReferenceNumber" header="Loan Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                              <p-column field="lmsApplicationReferenceNumber" header="Application Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                              <p-column [style]="{'width':'150px'}" field="customerName" header="Customer's Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                              <p-column [style]="{'width':'130px'}" field="operationName" header="Operation Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                              <p-column [style]="{'width':'120px'}" field="productName" header="Facility" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                              
                              <p-column [style]="{'text-align':'right','width':'130px'}" field="approvedAmount" header="Amount" sortable="true"
                                    [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.principalAmount | currency:item.currencyCode:true:'1.2-2'}}
                                    </ng-template>
                                </p-column>
                              <p-column [style]="{'width':'50px'}" field="interestRate" header="Interest" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                              <p-column [style]="{'width':'70px'}" field="approvedTenorString" header="Tenor" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                          </p-dataTable>
                      </div>
                  </div>

                  <div *ngIf="displayCustomerLoanDetails" class="form-horizontal">
                      <app-disbursed-cp-and-fx-loan-details [selectedloanReviewApplicationId]="selectedloanReviewApplicationId"  [displayDetails]="displayCustomerLoanDetails" [LoadLoanDetails]="termLoanId" [selectedApplicationRefNumber]="selectedApplicationRefNumber"></app-disbursed-cp-and-fx-loan-details>
                  </div>

              </div>
              <div class="panel-footer">
                  <div class="row">
                      <div class="col-md-12">
                          <button type="button" *ngIf="displayBackToList" (click)="backToLoanReviewList()" class="btn btn-primary pull-right">Back</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<p-dialog [responsive]="true" [(visible)]="displayLoanReviewOperationModal" id="limit-def-modal" modal="modal" showEffect="fade"
  width="500">
  <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="panel-title pull-left">
                      {{entityName}}
                  </h2>
                  <a (click)="displayLoanReviewOperationModal = false; data.operationTypeId=null" class="pull-right remove-btn">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
              </div>
          </div>
      </div>

      <div class="panel-body">
          <div class="form-horizontal">
              <div class="form-group">
                  <label i18n class="col-md-4">Operation Type</label>
                  <div class="col-md-8">
                      <select name="operationTypeId" [(ngModel)]="data.operationTypeId" (change)="onOperationTypeChange($event.target.value)" class="form-control"
                          [ngClass]="!data.operationTypeId ? 'required-input' : 'valid-input'">
                          <option i18n  value="" [selected]="true" >--- Select Operation Type ---</option>
                          <option *ngFor="let pc of operationTypes" value="{{pc.operationTypeId}}">
                              {{pc.operationTypeName}}
                          </option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
      <!-- end panel-body -->
  </div>
</p-dialog>

<p-dialog [responsive]="true"  [contentStyle]="{'overflow':'auto','max-height':'600px'}"  [(visible)]="displayRolloverModal" id="rollover-modal" modal="modal" showEffect="fade"
  width="1000">
  <div *ngIf="selectedLoanReview != null || selectedLoanReview != undefined">
    <app-cp-rollover [LoadLoanDetails]="termLoanId" ></app-cp-rollover>
  </div>

  <div class="panel-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="displayRolloverModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
        </div>
    </div>
</div>
</p-dialog>

<p-dialog [responsive]="true"  [contentStyle]="{'overflow':'auto','max-height':'600px'}"  [(visible)]="displayAutomaticRolloverModal" id="maturity-instruction-modal" modal="modal" showEffect="fade"
  width="1000">

  <div *ngIf="selectedLoanReview != null || selectedLoanReview != undefined">
    <app-maturity-instruction [LoadLoanDetails]="termLoanId" ></app-maturity-instruction>
  </div>

  <div class="panel-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="displayAutomaticRolloverModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
        </div>
    </div>
</div>
</p-dialog>

<p-dialog [responsive]="true"  [contentStyle]="{'overflow':'auto','max-height':'600px'}"  [(visible)]="displayInterestChangeModal" id="rollover-modal" modal="modal" showEffect="fade"
  width="1000">
  <app-cp-interest-rate-change [LoadLoanDetails]="termLoanId"></app-cp-interest-rate-change>
  <div class="panel-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="displayInterestChangeModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
        </div>
    </div>
</div>
</p-dialog>

<p-dialog [responsive]="true"  [contentStyle]="{'overflow':'auto','max-height':'600px'}"  [(visible)]="displayTenorChangeModal" id="rollover-modal" modal="modal" showEffect="fade"
  width="1000">
  <app-cp-tenor-change [LoadLoanDetails]="termLoanId" (displayOption)="CallClose($event)"></app-cp-tenor-change>
  <div class="panel-footer">
    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="displayTenorChangeModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
        </div>
    </div>
</div>
</p-dialog>

<p-dialog [responsive]="true"  [contentStyle]="{'overflow':'auto','max-height':'600px'}"  [(visible)]="displaySubAllocationChangeModal" id="rollover-modal" modal="modal" showEffect="fade"
  width="1000">
  <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="panel-title pull-left">
                    </h2>
                    <div class="pull-right">
                        <a class="close" (click)="displaySubAllocationChangeModal=false">&times;</a>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="panel-body">
            <div class="form-horizontal">
                    <!-- <app-cp-sub-allocation [LoadLoanDetails]="termLoanId" [ShowSubAllocation]="displaySubAllocationChangeModal"></app-cp-sub-allocation> -->
                    <app-cp-sub-allocation 
                    ></app-cp-sub-allocation>
                </div>
        </div>
        <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="displaySubAllocationChangeModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
                    </div>
                </div>
            </div>
    </div>
  
  
</p-dialog>