<div class="panel-body">
  <div class="ui-g ui-fluid">

      <div class="form-group" style="margin-right:30px">
          <label for="searchItem" class="control-label col=md-3" i18n>
              Start Date
          </label>

          <div class="col=md-9">
              <p-calendar [(ngModel)]="startDate" dateFormat="dd-MM-yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span>

          </div>
      </div>
      <div class="form-group" style="margin-right:30px">
          <label for="searchItem" class="control-label col=md-3 " i18n>
              End Date
          </label>

          <div class="col=md-9">
              <p-calendar [(ngModel)]="endDate" dateFormat="dd-MM-yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span>

          </div>
      </div>

   
      <div class="form-group" style="margin-right:30px">
          <label for="searchItem" class="control-label col=md-3">
            .
          </label>
          <div class="col=md-9">
              <button  pButton type="button" (click)="getGetErrorLog()" label="Search"></button>
              </div>
      </div>
  </div>


<p-dataTable #dt [value]="errorLog" [paginator]="true" [rows]="10" >
        <p-header>
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                </div>
            </p-header>
<p-column i18n-header [style]="{'width':'80px'}" field="utc" header="Date" sortable="true" [filter]="true" filterMatchMode="contains">
        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                {{ d.utc | date : 'dd/MM/yyyy HH:mm:ss' }}
              </ng-template>
</p-column>
<p-column i18n-header [style]="{'width':'600px'}" field="allXml" header="All Xml" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
<p-column i18n-header [style]="{'width':'250px'}" field="apendEndPoint" header="Apend EndPoint" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
<p-column i18n-header [style]="{'width':'170px'}" field="errorMessage" header="Error Message" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
<p-column i18n-header [style]="{'width':'150px'}" field="errorSource" header="Error Source" sortable="true" [filter]="true" filterMatchMode="contains"> </p-column>
<p-column i18n-header [style]="{'width':'80px'}" field="statusCode" header="Status Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
<p-column i18n-header [style]="{'width':'80px'}" field="username" header="Username" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

</p-dataTable>
</div>