
<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2  class="panel-title pull-left">
                               <ng-container i18n>Capture CRMS Code For Facility Booking</ng-container>
                                <span *ngIf="loanSelection != null && loanSelection.loanTypeId == 3">{{loanSelection.applicantName}}</span>
                                <span *ngIf="loanSelection != null && loanSelection.loanTypeId != 3">{{loanSelection.customerName}}</span>
                            </h2>
                            <div *ngIf="displayBookedLoans" class="pull-right">
                                    <button pButton type="button" (click)="showLoanReviewForm()" i18n-label label="Capture CRMS Code" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        
                    <div class="pull-right" style="margin-right:16px;margin-bottom:2px;">
                            <input type="checkbox" (change)="setMultipleDrawdown($event.target.checked)" name="multipleDrawdown">
                            <label i18n for="multipleDrawdown"> Generate Multiple CRMS Code</label>
                    </div>
                </div>

                <div class="panel-body">
                    <div *ngIf="displayLoanList" class="card no-padding">
                        <div class="card no-padding">
                            <p-dataTable [paginator]="true"  [responsive]="true" [value]="loans" [(selection)]="multipLoanData"
                                [rows]="10" (onRowSelect)="pushSelectedLoans($event)" (onRowUnselect)="popSelectedLoans($event)">
                                <p-column *ngIf="isMultiple" [style]="{'width':'38px'}" [selection]=false selectionMode="multiple" (onRowSelect)="pushSelectedLoans($event)" (onRowUnselect)="popSelectedLoans($event)"></p-column>
                                <!-- <p-column  [style]="{'width':'38px'}" selectionMode="single" [selection]=false (onRowSelect)="onSelectedLoanChange($event)"></p-column> -->
                                <p-column *ngIf="!isMultiple" [style]="{'width':'38px'}">
                                        <ng-template let-loan="rowData" let-i="rowIndex" pTemplate="body">
                                            <a (click)="onSelectedLoanChange(loan)" style="display: block" href="javascript:void(0)">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </a>
                                        </ng-template>
                                    </p-column>
                                <p-column i18n-header field="systemArrivalDateTime" [style]="{'width':'90px'}" header="Arrival Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-i="rowIndex" let-row="rowData" pTemplate type="body">
                                        {{ row.systemArrivalDateTime | date: 'medium' }}
                                    </ng-template>
                                </p-column>    
                                <p-column i18n-header field="productTypeName" [style]="{'width':'107px'}" header="Facility Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header [style]="{'width':'95px'}" field="applicationReferenceNumber" header="Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="applicantName" [style]="{'width':'150px'}" header="Obligor's Name" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        <span *ngIf="item.loanTypeId == 1">{{item.customerName}}</span>
                                        <span *ngIf="item.loanTypeId != 1">{{item.customerName}} ({{item.customerGroupName}})</span>
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header [style]="{'text-align':'right','width':'120px'}" field="approvedAmount" header="Approved Amount" sortable="true"
                                    [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.approvedAmount | currency:item.currencyCode:true:'1.2-2'}}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header [style]="{'text-align':'right','width':'120px'}" field="bookingAmountRequested" header="Requested Amount" sortable="true"
                                    [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.bookingAmountRequested | currency:item.currencyCode:true:'1.2-2'}}
                                    </ng-template>
                                </p-column> 
                                <p-column i18n-header [style]="{'width':'65px'}" field="interestRate" header="Rate" [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                       <span *ngIf="item.productPriceIndex != null || item.productPriceIndex != undefined ">{{item.interestRate}}  ({{item.productPriceIndex.substring(0,3)}}) </span>
                                       <span *ngIf="item.productPriceIndex == null ">{{item.interestRate}} </span>
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header [style]="{'width':'80px'}" field="approvedTenor" header="Tenor">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.approvedTenorString}} 
                                    </ng-template>
                                </p-column> 
                                <p-column i18n-header [style]="{'width':'60px'}" field="requestStaffId" header="Status">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        <span i18n *ngIf="item.toStaffId != null && item.toStaffId == userInfo.staffId && item.approvalStatusId != referredId" class="glyphicon glyphicon-share-alt label label-warning">Pending</span>
                                        <span i18n *ngIf="item.toStaffId != null && item.toStaffId != userInfo.staffId && item.approvalStatusId != referredId" class="glyphicon glyphicon-share-alt label label-info">Routed</span>
                                        <span i18n *ngIf="item.toStaffId == null && item.approvalStatusId != referredId" class="label label-warning">Pending</span>
                                        <span i18n *ngIf="item.approvalStatusId == referredId" class="label label-primary">Referred</span>
                                    </ng-template>
                                </p-column>
                                <p-column *ngIf="!isMultiple" [style]="{'width':'100px'}">
                                        <ng-template pTemplate="header"> </ng-template>
                                        <ng-template pTemplate="body" let-col="rowData" let-i="rowIndex">
                                            <a i18n (click)="genrateCrms300(col)" href="javascript:void(0)">Generate CRMS300</a>
                                        </ng-template>
                                </p-column>
                                <!-- <p-column [style]="{'width':'50px'}">
                                        <ng-template pTemplate="header"> </ng-template>
                                        <ng-template pTemplate="body" let-col="rowData" let-i="rowIndex">
                                            <a i18n (click)="ViewRecord(col)" href="javascript:void(0)">View</a>
                                        </ng-template>
                                </p-column> -->
                            </p-dataTable>
                        </div>
                    </div>
                    <div *ngIf="displayBookedLoans" class="card no-padding">
                        <form novalidate [formGroup]="loanBookingForm" autocomplete="off">
                            <p-tabView (onChange)="onTabChange($event)">
                                <p-tabPanel i18n-header  header="Customer Information">
                                    <p-accordion #accordion>
                                        <p-accordionTab i18n-header [selected]="true" header="Overview">
                                            <table class="table table-customer-information">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Customer Name</strong>
                                                        </td>
                                                        <td>
                                                            <span>{{loanSelection.customerName}} </span>
                                                            <!-- <span *ngIf="isGroup">{{loanSelection.customerName}} <strong  >({{loanSelection.customerGroupName}})</strong> </span> -->
                                                        </td>
                                                        <td>
                                                            <strong i18n>Customer Code</strong>
                                                        </td>
                                                        <td>{{ customerCode ? customerCode : 'N/A' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Application Reference Number</strong>
                                                        </td>
                                                        <td>{{ loanSelection.applicationReferenceNumber }}</td>
                                                        <td>
                                                            <strong i18n>Product </strong>
                                                        </td>
                                                        <td>{{ loanSelection.productName }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Loan Facility Type</strong>
                                                        </td>
                                                        <td>{{ loanSelection.productTypeName }}</td>
                                                        <td>
                                                            <strong i18n>Loan Type</strong>
                                                        </td>
                                                        <td>{{ loanSelection.loanTypeName }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Is Related Party</strong>
                                                        </td>
                                                        <td i18n *ngIf="loanSelection.isRealatedParty"> Yes</td>
                                                        <td i18n *ngIf="!loanSelection.isRealatedParty"> No</td>
                                                        <td>
                                                            <strong i18n>Politically Exposed?</strong>
                                                        </td>
                                                        <td i18n *ngIf="loanSelection.isPoliticallyExposed"> Yes</td>
                                                        <td i18n *ngIf="!loanSelection.isPoliticallyExposed"> No</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Type of Customer</strong>
                                                        </td>
                                                        <td>{{ loanSelection.customerType }}</td>
                                                        <td>
                                                            <strong i18n>Branch</strong>
                                                        </td>
                                                        <td>{{ loanSelection.branchName }}</td>
                                                    </tr>

                                                    <tr *ngIf="!isCommercialLoan && !isForeignExchangeLoan && !isIDF">
                                                        <td>
                                                            <strong i18n>Sector</strong>
                                                        </td>
                                                        <td>{{ loanSelection.sectorSubSectorName }}</td>

                                                    </tr>
                                                    
                                                    <tr *ngIf="loanSelection.productTypeName.toLowerCase() === 'commercial loans'">
                                                        <td>
                                                            <strong i18n>Sector</strong>
                                                        </td>
                                                        <td>{{ loanSelection.sectorSubSectorName }}</td>
                                                        <td>
                                                            <strong> </strong>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                      
                                        </p-accordionTab>
                                        <p-accordionTab i18n-header header="Customer Information">
                                            <div class="panel-body" style="overflow:auto; height:350px">
                                                <app-customer-information-detail [loadWithCustomerId]="loanSelection.customerId">
                                                </app-customer-information-detail>
                                            </div>
                                        </p-accordionTab>
                                    </p-accordion>
                                </p-tabPanel >
                                <p-tabPanel i18n-header  header="Approval Memo">
                                    <!-- <p-tabPanel i18n-header  header="Form 3800B"> -->
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom:5px">
                                            <app-form-3800b-los [applicationReferenceNumber]="loanSelection?.applicationReferenceNumber"></app-form-3800b-los>
                                            <!-- <iframe [src]="reportSource" id="report" name="report" frameborder="2" height="500px" width="1000px" style="overflow:auto"></iframe> -->
                                            <!-- <div [innerHTML]="form3800bSrc.documentTemplate" id="letter" class="paper" style="overflow:auto;height:400px"></div> -->
                                        </div>
                                        <hr />
                                        <div class="col-md-12">
                                                    <div class="col-md-6 pull-left">
                                                            <button i18n type="button" class="btn btn-primary" style="margin-right: 5px;" (click)="popoverSeeMore()">View Offer Letter</button>
                                                    </div>
                                                <!-- <div class="col-md-6 pull-left">
                                                    <button (click)="print(form3800bSrc.documentTemplate)" class="btn btn-default">
                                                        <i class="glyphicon glyphicon-print"></i> print</button>
                                                </div> -->
                                        </div>
                                    </div>
                                </p-tabPanel >

                                <p-tabPanel i18n-header  header="Monitoring Trigger" >
                                    <div class="card no-padding">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h2 i18n class="panel-title pull-left">
                                                            Loan Monitoring Trigger
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <p-dataTable [value]="loanSelection.loanMonitoringTrigger" [responsive]="true" [paginator]="false"
                                                    [rows]="10">
                                                    <p-column i18n-header field="monitoringTrigger" header="Trigger" sortable="true" filterMatchMode="contains"></p-column>
                                                </p-dataTable>
                                            </div>
                                        </div>
                                        <!--end of panel-->
                                    </div>
                                </p-tabPanel >

                                <p-tabPanel i18n-header  header="Transaction Dynamics">
                                    <div class="card no-padding">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h2 i18n class="panel-title pull-left">
                                                            Loan Transaction Dynamics
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel-body">
                                                <p-dataTable  [value]="loanSelection.loanTransationDynamics" [responsive]="true" [paginator]="false"
                                                    [rows]="10">
                                                    <p-column i18n-header field="dynamics" header="Transaction Dynamics" sortable="true" filterMatchMode="contains"></p-column>
                                                </p-dataTable>
                                            </div>
                                        </div>
                                        <!--end of panel-->
                                    </div>
                                </p-tabPanel >

                                <p-tabPanel i18n-header  header="Charge Fees" >
                                    <div class="card no-padding">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h2 i18n class="panel-title pull-left">
                                                            Loan Charge/Fee
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <p-dataTable *ngIf="displayLoanCharges1" [value]="loanProductFees " [responsive]="true" [paginator]="false" [rows]="5">
                                                    <p-column i18n-header field="feeName" header="Fee Name" sortable="true" filterMatchMode="contains"></p-column>
                                                    <p-column i18n-header field="valueBase" [style]="{'width':'60px'}" header="" sortable="true" filterMatchMode="contains">         
                                                    </p-column>
                                                    <p-column i18n-header field="recommededFeeRateValue" header="Value" sortable="true" filterMatchMode="contains"></p-column>
                                                    <p-column i18n-header field="feeAmount" header="Fee Amount" sortable="true" filterMatchMode="contains">
                                                        <ng-template pTemplate="body" let-item="rowData">
                                                            {{item.feeAmount | number:'1.2'}}
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column i18n-header field="isIntegralFee" header="Integral?" sortable="true" filterMatchMode="contains"></p-column>
                                                    <p-column i18n-header field="hasConsession" header="Concession?" sortable="true" filterMatchMode="contains">
                                                            <ng-template pTemplate="header" i18n> Concession? </ng-template>
                                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                                <span i18n *ngIf="d.hasConsession == false"> No</span>
                                                                <span i18n *ngIf="d.hasConsession == true"> Yes</span>
                                                            </ng-template>
                                                        </p-column>

                                                </p-dataTable>
                                                <p-dataTable *ngIf="displayLoanCharges2" [value]="loanProductFees " [responsive]="true" [paginator]="false" [rows]="5">
                                                    <p-column i18n-header field="feeName" header="Fee Name" sortable="true" filterMatchMode="contains"></p-column>
                                                    <p-column i18n-header field="valueBase" [style]="{'width':'60px'}" header="" sortable="true" filterMatchMode="contains">         
                                                    </p-column>
                                                    <p-column i18n-header field="recommededFeeRateValue" header="Value" sortable="true" filterMatchMode="contains"></p-column>
                                                    <p-column i18n-header field="feeAmount" header="Fee Amount" sortable="true" filterMatchMode="contains">
                                                        <ng-template pTemplate="body" let-item="rowData">
                                                            {{item.feeAmount | number:'1.2'}}
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column i18n-header field="isIntegralFee" header="Integral?" sortable="true" filterMatchMode="contains">
                                                        <ng-template let-user="rowData" let-i="rowIndex" pTemplate="body">
                                                            <span i18n *ngIf="false"> No</span>
                                                            <span i18n *ngIf="true"> Yes</span>
                                                        </ng-template>
                                                    </p-column>
                                                    <p-column i18n-header field="hasConsession" header="Concession?" sortable="true" filterMatchMode="contains">
                                                        <ng-template pTemplate="header" i18n> Concession? </ng-template>
                                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                            <span i18n *ngIf="d.hasConsession == false"> No</span>
                                                            <span i18n *ngIf="d.hasConsession == true"> Yes</span>
                                                        </ng-template>
                                                    </p-column>
                                                    
                                                </p-dataTable>
                                            </div>
                                            <table class="table table-customer-information">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <!-- <button type="button" (click)="getAccountBalance()" class="btn btn-default btn-sm pull-left">
                                                                <span class="glyphicon glyphicon-refresh"></span> Get Account Balance
                                                            </button> &nbsp; &nbsp;&nbsp;&nbsp; -->
                                                            <!-- <strong>{{ selectedAccountBalance | currency:loanSelection.currencyCode:true:
                                                                '1.2-2' }}</strong> -->
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <!-- <strong i18n>Total Fee Amount: {{ feeAmountTotal | currency:loanSelection.currencyCode:true:'1.2-2'}}</strong> -->
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="loanSelection != null && !loanSelection.isLocalCurrrency && !isIDF && loanSelection.feeAccountName != null">
                                                        <td></td>
                                                        <td>
                                                            Fee will be deducted from account : <strong>{{loanSelection.feeAccountName}}</strong>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                           
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div *ngIf="override != null && override != undefined " class="panel-body">
                                                <p-accordion #accordion>
                                                    <p-accordionTab i18n-header header="Fee Concession">
                                                        <p-dataTable  [value]="override" [responsive]="true" [paginator]="true" [rows]="5">
                                                            <p-column i18n-header field="consessionReason" header="Consession Reason" sortable="true" filterMatchMode="contains"></p-column>
                                                            <p-column i18n-header field="recommededFeeRateValue" header="Recommeded Rate"  sortable="true" filterMatchMode="contains"></p-column>
                                                            <!-- <p-column i18n-header field="status" header="Status" sortable="true" filterMatchMode="contains"></p-column> -->
                                                        </p-dataTable>
                                                    </p-accordionTab>
                                                </p-accordion>
                                            </div>
                                        </div>
                                        <!--end of panel-->
                                    </div>
                                </p-tabPanel >                              

                            </p-tabView>
                            <div class="panel-footer">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="btn-group pull-left">
                                            <button  (click)="showReferBackForm()" type="button" class="btn btn-danger"
                                                style="margin-right:5px"><ng-container i18n> Refer Back</ng-container></button>
                                        </div>
                                          <button i18n style="margin-right:5px" type="button" class="btn btn-danger pull-right" (click)="BackToLoanBookingGridList()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="showEditLoan"  class="card no-padding">
                        Edittable Content
                    </div>
                </div>
                <div *ngIf="loanModel.length > 0" class="row ">
                    <div class="col-md-12 ">
                        <div class="form-group text-center">
                            <div class="col-md-12">
                                <button i18n type="button" (click)="ExportToExcel()"
                                    style="margin-right:5px " class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"> Generate Bulk CRMS Code</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="form-horizontal">
                <div class="col-md-12">
                </div>
               
            </div>
        </div>
    </div>
</div>

<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)">
</fintrakbanking-message>

<p-dialog [responsive]=true [(visible)]="displayBeneficiaryForm" id="ct-modal" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n class="panel-title">
                Loan Beneficiary Form
            </h2>
        </div>

        <form novalidate [formGroup]="beneficiaryForm" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="beneficiaryAmount" class="control-label col-md-4"><span i18n>Amount</span> ({{destinationCurrencyCode}})</label>
                        <div class="col-md-8 ">
                                <input  type="text" formartM formControlName="beneficiaryAmount" (blur)="formatFeeValue()" [(ngModel)]="data.beneficiaryAmount" class="form-control" [ngClass]="!beneficiaryForm.controls['beneficiaryAmount'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label i18n for="beneficiaryReason" class="control-label col-md-4">Narration</label>
                        <div class="col-md-8 ">
                            <textarea class="col-md-4" type="text" formControlName="beneficiaryReason" [(ngModel)]="beneficiaryReason" class="form-control" [ngClass]="!beneficiaryForm.controls['beneficiaryReason'].valid ? 'required-input' : 'valid-input'"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button i18n type="button" (click)="displayBeneficiaryForm=false" style="margin-right:5px" class="btn btn-danger pull-right">Cancel</button>
                    <button i18n type="button" (click)="addToList(beneficiaryForm)" style="margin-right:5px" class="btn btn-success pull-right">Add</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayDocument" modal="modal" showEffect="fade" width="1200">
    <div *ngIf="displayDocument" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2   class="panel-title">
               <ng-container i18n>Document Title:</ng-container>
                <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayDocument=false">&times;</a>
            </div>
        </div>
        <div class="panel-body" style="overflow:auto;height:450px">
            <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;" [src]="'data:image/jpg;base64,'+binaryFile" alt=""
                class="img-thumbnail">
        </div>
    </div>
</p-dialog>

<!--modal ends-->

<p-dialog [responsive]=true [(visible)]=displayJobrequest showHeader="false" id="Job-request-modal" modal="modal" showEffect="fade"
    width="700">
    <div *ngIf="loanApplicationDetailId != null">
        <job-request-template 
        [targetId]=loanApplicationDetailId 
        [jobSourceId]= jobSourceId
        [operationAvailable]="true" 
        [operationsId]=1 
        (displayOption)="CallRequestClose()">
        </job-request-template>
    </div>
</p-dialog>

<!-- <p-dialog [responsive]=true [(visible)]="showCollateralInformation" id="charge-modal" modal="modal" width="1000"> -->
    <!-- <collateral-information-view [reload]="reload" [jobReply]="false" [showCollateralInformation]="showCollateralInformation" (closeWindow)="closeCollateralDetaits($event)" [collateralCustomerId]="collateralCustomerId">
    </collateral-information-view> -->
<!-- </p-dialog> -->
<p-dialog [responsive]=true [(visible)]="displayDocument" modal="modal" showEffect="fade" width="1200">
    <div style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                <ng-container i18n>Document Title:</ng-container>
                 <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right"><a class="close" (click)="displayDocument=false">&times;</a></div>
        </div>

        <div class="panel-body" style="overflow:auto;height:450px">

            <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;" [src]="'data:image/jpg;base64,'+binaryFile" alt="" class="img-thumbnail">

        </div>

    </div>
</p-dialog> 
<p-dialog [responsive]=true [(visible)]="displayTwoFactorAuth" id="auth-token" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n class="panel-title">
                Authentication Token
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayTwoFactorAuth=false">&times;</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div  class="form-group">
                    <label i18n for="twoFactorAuthStaffCode" class="control-label col-md-12">Staff Code</label>
                    <div class="col-md-12">
                        <input type="text" name="twoFactorAuthStaffCode" [(ngModel)]="twoFactorAuthStaffCode" id="twoFactorAuthStaffCode" class="form-control">
                    </div>
            </div>
                <div class="form-group">
                    <label i18n for="twoFactorAuthPassCode" class="control-label col-md-12">Pass Code</label>
                    <div class="col-md-12">
                        <input type="password" name="twoFactorAuthPassCode" [(ngModel)]="twoFactorAuthPassCode" id="twoFactorAuthPassCode" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <button i18n type="button" [disabled]="!twoFactorAuthPassCode" (click)="submitLoanDetailsWith2FA()" style="margin-right:5px "
                                class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Authenticate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayReport" width="800" modal="modal" showEffect="fade">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 i18n class="panel-title pull-left">
                            Generated Offer Letter
                        </h2>
                        <button i18n type="button" (click)="displayReport=false" style="margin-right:5px" class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12" *ngIf="displayTestReport" style=" width:1200px; overflow:auto;">
                    <iframe [src]="reportSrc" id="report" name="report" frameborder="2" height="500px" width="1500px" style="overflow:auto"></iframe>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button i18n type="button" (click)="displayReport=false" style="margin-right:5px" class="btn btn-danger pull-right">Cancel</button>
                </div>
            </div>
        </div>
    </p-dialog>

    <p-dialog [responsive]=true [(visible)]="displayOperationRouteCommentForm" modal="modal" showEffect="fade" width="450">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 i18n class="panel-title">
                    Re-route
                </h2>
                <div class="pull-right">
                    <a class="close" (click)="displayOperationRouteCommentForm = false">&times;</a>
                </div>
            </div>
        </div>
    
        <div class="panel-body">
            <form novalidate [formGroup]="operationForm" autocomplete="off">
                <div class="form-horizontal">
                                    
                    <!-- <div class="form-group">
                        <label i18n class="control-label col-md-6">Operation</label>
                        <div class="col-md-12">
                            <select (change)="onOperationChange($event.target.value)" name="operationId" formControlName="operationId" id="operationId" class="form-control" [ngClass]="operationForm.controls['operationId'].valid ? 'valid-input' : 'required-input'">
                                <option value="">-- Select Operation --</option>
                                <option *ngFor="let x of routeableOperations" [value]="x.id">{{ x.name }}</option>
                            </select>
                        </div>
                    </div> -->
    
                    <div class="form-group">
                        <label i18n class="control-label col-md-6">Approval Level</label>
                        <div class="col-md-12">
                            <select name="approvalLevelId" formControlName="approvalLevelId" id="approvalLevelId" class="form-control" [ngClass]="operationForm.controls['approvalLevelId'].valid ? 'valid-input' : 'required-input'">
                                <option value="" i18n>-- Select Approval Level --</option>
                                <option *ngFor="let x of approvalLevels" [value]="x.approvalLevelId">{{ x.approvalLevelAndRoleName }}</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label i18n class="control-label col-md-12">Comment</label>
                        <div class="col-md-12">
                            <textarea style="height:60px;" name="comment" formControlName="comment" id="comment" class="form-control" [ngClass]="operationForm.controls['comment'].valid ? 'valid-input' : 'required-input'"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="errorMessage.length > 0" class="alert alert-danger col-md-12" role="alert" style="padding:15;">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error: </span>{{ errorMessage }}
            </div>
        </div>
    
        <div class="panel-footer">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12" style="text-align:right">
                        <button i18n type="button" (click)="displayOperationRouteCommentForm = false" class="btn btn-danger">Cancel</button>
                        <button type="button"  [disabled]="operationForm.invalid" (click)="returnBackToRM()" class="btn btn-success">
                            <span class="glyphicon glyphicon-send"></span><ng-container i18n>Send</ng-container>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    
    </p-dialog>


<!-- <pre> {{ loanSelection.productTypeName.toLowerCase() | json }}</pre> 
<pre> loanBookingForm value {{ loanBookingForm.value | json }}</pre>-->
 <!-- <pre> loanBookingForm invalid {{ !loanBookingForm.valid | json }}</pre>
<pre> cannot Book {{ !canBook | json }}</pre>
<pre> charge Collection count: {{ chargeCollection.length == 0 | json }}</pre>
<pre> casa Account not Selected : {{ !casaAccountSelected | json }}</pre> -->


<p-dialog [responsive]=true [(visible)]=crmsModal showHeader="false" id="Job-request-modal" modal="modal" [contentStyle]="{'overflow':'auto','max-height':'700px'}"
    showEffect="fade" width="1200">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n class="panel-title">
             Capture CRMS Code
            </h2>
            <div class="pull-right">
                <a class="close" (click)="crmsModal = false">&times;</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <!-- <div class="form-horizontal"> -->


    <!-- <crms-regulatories *ngIf="crmsModal == true" [loanSystemTypeId]="loanSystemTypeId" [loanId]="loanBookingRequestId" (success)="Success($event)" [isLms]="isLms">
    </crms-regulatories> -->
        
    <!-- </div> -->

    </div>
        <div class="panel-footer">
            <div class="form-horizontal">
                
                <div class="form-group">
                    <div class="col-md-12" style="text-align:right">
                        <button i18n type="button" (click)="crmsModal = false" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
               
            </div>
        </div>
</p-dialog>

<p-dialog  [responsive]=true [(visible)]="displayReferBackForm" modal="modal" showEffect="fade" width="700">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n class="panel-title">Refer back</h2>
        </div>
        <app-refer-back *ngIf="displayReferBackForm" [referBackOperationId]="loanSelection?.requestOperationId" [forbidExternalNotification]="true" [referBackTargetId]="loanSelection?.loanBookingRequestId" (notify)="displayStatus($event)" 
        (notifyAfterReferBack)="referBackResultControl($event)"></app-refer-back>
    </div>
</p-dialog> 