<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Customer Financial Statement Groups
                            </h2>

                            <div class="pull-right">
                                <button (click)="showModalForm()" pButton type="button" i18n-label label="Add New" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p-dataTable [value]="fsCaptionGroupData" [sortMode]="multiple">
                        <p-column *ngFor="let col of fsCaptionGroupTableCols" [field]="col.field" [header]="col.header" [filter]="true" [sortable]="true"></p-column>
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"> </ng-template>
                            <ng-template pTemplate="body" let-col="rowData" let-i="rowIndex">
                                <a (click)="editFSCaptionGroup(col)" href="javascript:void(0)" i18n>Edit</a>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"> </ng-template>
                            <ng-template pTemplate="body" let-col="rowData" let-i="rowIndex">
                                <a (click)="deleteFSCaptionGroup(col)" href="javascript:void(0)" i18n>Delete</a>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [responsive]=true [(visible)]="displayCreateEditModal" id="create-edit-modal" modal="modal" showEffect="fade" width="500">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                New Customer Financial Statement Group
            </h2>
        </div>

        <form novalidate [formGroup]="createEditForm" (ngSubmit)="submitFSCaptionForm(createEditForm)" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="fsCaptionGroup" class="control-label col-md-4" i18n>FS Caption Group Name</label>
                        <div class="col-md-8">
                            <input type="text" id="fsCaptionGroup" name="fsCaptionGroup" class="form-control" formControlName="fsCaptionGroupName" [ngClass]="createEditForm.controls['fsCaptionGroupName'].valid ? 'valid-input' : 'required-input'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="position" class="control-label col-md-4" i18n>Position</label>
                        <div class="col-md-8">
                            <input type="number" min="0" max="100" name="position" class="form-control" formControlName="position" [ngClass]="createEditForm.controls['position'].valid ? 'valid-input' : 'required-input'">
                        </div>
                    </div>
                    <!--<div class="form-group">

                    </div>-->
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" [disabled]="createEditForm.invalid" class="btn btn-success pull-right" i18n>Save FS Caption Group</button>
                        <button type="button" (click)="displayCreateEditModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>