.slideup,
.slidedown {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.slidedown {
    max-height: 60px;
}

body .ui-panel .ui-panel-titlebar {
    border-bottom: 1px solid #f5f5f5;
}

body .ui-widget-header {
    background-color: #f5f5f5;
    color: #212121;
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}