<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <!-- <span [innerHtml]="test"></span> -->
        <!--module header-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 i18n  class="panel-title pull-left">
                            Loan Review Contingent Application Search
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <!--endof module header-->

        <p-tabView [activeIndex]="activeTabindex" (onChange)="onTabChange($event)">
            <p-tabPanel i18n-header  header="Loan Applications">
                <div class="card no-padding">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 i18n  class="panel-title pull-left">
                                        Contingent Review Applications
                                    </h2>

                                    <div class="pull-right">
                                        <button i18n  (click)="showSearchForm()" pButton type="button" label="Search"
                                            icon="fa-search"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <p-tabView>
                                <p-tabPanel i18n-header  header="Contingent Loan Applications" *ngIf="displaySearchTable">
                                    <p-dataTable [value]="lmsOoperations" [paginator]="true" [rows]="10"
                                        [rowsPerPageOptions]="[10,20,30]">
                                        <p-column i18n-header  field="customersName" header="Customer Name" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column i18n-header  field="loanReferenceNumber" header="Loan Reference" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column i18n-header  field="operationName" header="Operation Name" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column i18n-header  field="reviewDetails" header="Review Details" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column i18n-header  field="proposedEffectiveDate" header="Effective Date" sortable="true"
                                            [filter]="true" filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                {{ d.proposedEffectiveDate | date }}
                                            </ng-template>
                                        </p-column>
                                        <p-column i18n-header  field="approvalStatus" header="Approval Status" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column i18n-header  field="operationCompleted" header="Operation Completed"
                                            sortable="true" [filter]="true" filterMatchMode="contains"></p-column>


                                        <p-column i18n-header  field="rebookAmount" header="Rebook Amount" sortable="true"
                                            [filter]="true" filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                {{ d.rebookAmount | number : '1.2' }}
                                            </ng-template>
                                        </p-column>
                                        <p-column i18n-header  field="bondAmount" header="Bond Amount" sortable="true"
                                            [filter]="true" filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                {{ d.bondAmount | number : '1.2' }}
                                            </ng-template>
                                        </p-column>
                                        <p-column i18n-header  field="rebookDate" header="Rebook Date" sortable="true"
                                            [filter]="true" filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                {{ d.rebookDate | date }}
                                            </ng-template>
                                        </p-column>
                                        <p-column i18n-header  field="exposureBeforeRebook" header="Exposure Before Rebook"
                                            sortable="true" [filter]="true" filterMatchMode="contains">
                                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                {{ d.exposureBeforeRebook | number : '1.2' }}
                                            </ng-template>
                                        </p-column>
                                        <p-column i18n-header  field="previousOperator" header="Who Performed Previous Operation"
                                            sortable="true" [filter]="true" filterMatchMode="contains">
                                        </p-column>
                                        <!-- <p-column i18n-header >
                                  <ng-template pTemplate="header"></ng-template>
                                  <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                    <a (click)="viewOperation(row)" href="javascript:void(0)"><i
                                        class="glyphicon glyphicon-eye"></i>View</a>
                                  </ng-template>
                                </p-column> -->

                                    </p-dataTable>
                                </p-tabPanel>
                                <p-tabPanel i18n-header  header="Loan Application Details" *ngIf="displayApplicationDetail">
                                    <div *ngIf="displayApplicationDetail" style="margin-bottom:0"
                                        class="panel panel-default">

                                        <div class="panel-heading">
                                            <h2 i18n  class="panel-title">
                                                Loan Application Information
                                            </h2>
                                            <div class="pull-right"><a class="close"
                                                    (click)="displayApplicationDetail=false; displaySearchTable=true;">&times;</a>
                                            </div>
                                        </div>

                                        <div class="panel-body">
                                            <p-tabView>

                                                <p-tabPanel i18n-header  header="General Information" *ngIf="hideGeneralInfoPanel">
                                                    <table class="table table-casa-information">
                                                        <tbody>
                                                            <tr>
                                                                <td><strong i18n>Application Reference Number:</strong></td>
                                                                <td>{{ application.applicationReferenceNumber }}</td>
                                                                <td><strong i18n>Group Name:</strong></td>
                                                                <td colspan="2" style="text-align:left">
                                                                    {{ application.customerGroupName }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Relationship Officer:</strong></td>
                                                                <td>{{application.relationshipOfficerName}}</td>
                                                                <td><strong i18n>Relationship Manager:</strong></td>
                                                                <td>{{application.relationshipManagerName}}</td>
                                                                <td><strong></strong></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Amount:</strong></td>
                                                                <td>{{ application.applicationAmount | number:'1.2' }}
                                                                </td>
                                                                <td><strong i18n>Approved Amount:</strong></td>
                                                                <td>{{ application.approvedAmount | number:'1.2' }}</td>
                                                                <td><strong></strong></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Tenor:</strong></td>
                                                                <td>{{ application.applicationTenor }}</td>
                                                                <td><strong i18n>Interest Rate:</strong></td>
                                                                <td>{{ application.interestRate | number:'1.2' }}</td>
                                                                <td><strong i18n>Application Date:</strong></td>
                                                                <td>{{ application.applicationDate | date:"dd-MM-yyyy" }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Investment Grade:</strong></td>
                                                                <td>{{ application.isInvestmentGrade ? 'Yes' : 'No' }}
                                                                </td>
                                                                <td><strong i18n>Politically Exposed:</strong></td>
                                                                <td>{{ application.isPoliticallyExposed ? 'Yes' : 'No' }}
                                                                </td>
                                                                <td><strong i18n>Related Party:</strong></td>
                                                                <td></td>
                                                                <td>{{ application.isRelatedParty ? 'Yes' : 'No' }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Approval Status:</strong></td>
                                                                <td>{{ getApprovalStatus(application.approvalStatusId) }}
                                                                </td>
                                                                <td><strong i18n>Application Status:</strong></td>
                                                                <td>{{ getApprovalStatus(application.applicationStatusId) }}
                                                                </td>
                                                                <td><strong i18n>submitted For Appraisal:</strong></td>
                                                                <td>{{ application.submittedForAppraisal ? 'Yes' : 'No' }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Approval Application:</strong></td>
                                                                <td>{{ application.applicationStatus }}</td>
                                                                <td><strong i18n>Details:</strong></td>
                                                                <td colspan="2"
                                                                    [innerHTML]="application.loanInformation"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong i18n>Operation Type:</strong></td>
                                                                <td>{{ application.operationTypeName }}</td>
                                                                <td><strong i18n>Review Detail:</strong></td>
                                                                <td colspan="2">{{ application.reviewLoanDetaile }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Customer Information" *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel-body">
                                                        <app-customer-information-detail [isLMS]="true"
                                                            [loanApplicationId]="application?.loanApplicationId">
                                                        </app-customer-information-detail>
                                                    </div>

                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Loan Information" *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel-body">
                                                        <app-loan-application-details-view [isLMS]="true"
                                                            [isRecommendedInfo]="true"
                                                            [loanApplicationId]="application?.loanApplicationId"
                                                            [loanApplicationDetail]=loanApplicationDetail
                                                            [loanInformation]="loanApplicationDetail?.loanInformation"
                                                            [visible]="false"> </app-loan-application-details-view>
                                                    </div>

                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Transaction Dynamics" *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel panel-default">
                                                        <!-- default -->
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h2   class="panel-title pull-left">
                                                                        <ng-container i18n>Transaction Dynamics </ng-container> <small>-
                                                                            {{ application.referenceNumber }}</small>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <app-transaction-dynamics [operation]="application?.operationId"
                                                            [callerId]="2" [isAnalyst]="isAnalyst == true"
                                                            [applicationId]="application?.loanApplicationId"
                                                            [proposedItems]="proposedItems"></app-transaction-dynamics>
                                                    </div>
                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Condition Precidence" *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel panel-default">
                                                        <!-- default -->
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h2   class="panel-title pull-left">
                                                                        <ng-container> Conditions </ng-container><small>-  {{ application.referenceNumber }}</small>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- <app-credit-condition  [callerId]="2" [isAnalyst]="isAnalyst == true" [applicationId]="application?.loanReviewApplicationId" [proposedItems]="proposedItems"></app-credit-condition> -->
                                                        <app-credit-condition [operation]="application?.operationId"
                                                            [callerId]="2" [isAnalyst]="isAnalyst == true"
                                                            [applicationId]="application?.loanApplicationId"
                                                            [proposedItems]="proposedItems"></app-credit-condition>
                                                    </div>
                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Supporting Documents" *ngIf="hideGeneralInfoPanel">
                                                    <document-upload [reload]="reload"
                                                        [operationId]="application?.operationId"
                                                        [customerId]="application?.customerId"
                                                        [customerGroupId]="application?.customerGroupId"
                                                        [targetId]="application?.loanApplicationId" [deleteLink]="false"
                                                        [isOperationSpecific]="false" [isLms]="true"
                                                        (requiredDocumentsUploadSatisfied)="setrequiredUploadValue($event)"
                                                        [targetReferenceNumber]="application?.relatedReferenceNumber == null ? application?.referenceNumber : application?.relatedReferenceNumber">
                                                    </document-upload>

                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Approval Process Changes"
                                                    *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel-body">
                                                        <table class="table table-casa-information">
                                                            <tbody>
                                                                <tr>
                                                                    <th i18n>Customer Name</th>
                                                                    <th i18n>Product Name</th>
                                                                    <th i18n>Tenor</th>
                                                                    <th i18n>Rate</th>
                                                                    <th i18n>Amount</th>
                                                                    <th i18n>Exchange Rate</th>
                                                                    <th i18n>Approval Status</th>
                                                                    <th i18n>Staff</th>
                                                                </tr>
                                                                <tr *ngFor="let x of changeLog">
                                                                    <td>{{ x.customerName }}</td>
                                                                    <td>{{ x.approvedProductName }}</td>
                                                                    <td>{{ x.approvedTenor/30 | number : '1.0-0' }}
                                                                        months</td>
                                                                    <td>{{ x.approvedRate | number:'1.2' }}</td>
                                                                    <td>{{ x.approvedAmount | number:'1.2' }}</td>
                                                                    <td>{{ x.exchangeRate | number:'1.2' }}</td>
                                                                    <td>{{ getApprovalStatus(x.statusId) }}</td>
                                                                    <td>{{ x.staffName }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Offer Letter" *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel-body">
                                                        <button i18n  type="button" class="btn btn-primary"
                                                            style="margin-right: 5px;"
                                                            [disabled]="isOfferLetterAvailable"
                                                            (click)="popoverSeeMore()">View Offer Letter</button>
                                                    </div>

                                                </p-tabPanel>
                                                <p-tabPanel i18n-header  header="Approval Process Comments"
                                                    *ngIf="hideGeneralInfoPanel">
                                                    <div class="panel-body">
                                                        <app-approval-comments [operationId]="application?.operationId"
                                                            [applicationId]="application?.loanApplicationId"
                                                            (trailCount)="setTrailCount($event)">
                                                        </app-approval-comments>

                                                        <app-approval-comments *ngIf="application?.loanApplicationId>0"
                                                            [requireAll]=false [operationId]="48"
                                                            [applicationId]="application?.loanApplicationId"
                                                            [tableLabel]="'LMS Availment Comments'">
                                                        </app-approval-comments>
                                                    </div>

                                                </p-tabPanel>



                                            </p-tabView>
                                        </div>

                                    </div>

                                </p-tabPanel>
                            </p-tabView>


                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9 ">
                                    <!-- buttons -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- endof loan applications -->

            </p-tabPanel>
        </p-tabView>

    </div>
</div>


<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displaySearchForm" id="add-modal" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 i18n  class="panel-title">
                Search Application
            </h2>
        </div>

        <form novalidate (ngSubmit)="submitForm(searchForm)" [formGroup]="searchForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label i18n  for="searchString" class="control-label col-md-12">Loan Application Reference Number/ Customer Name/ Staff Code</label>
                        <div class="col-md-12">
                            <input type="text" name="searchString" formControlName="searchString" id="searchString"
                                class="form-control"
                                [ngClass]="!searchForm.controls['searchString'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button i18n  type="button" (click)="submitForm(searchForm)" [disabled]="searchForm.invalid"
                            class="btn btn-success pull-right">Search</button>
                        <button i18n  type="button" (click)="displaySearchForm=false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
<!--end of form modal-->


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass"
    (closeEvent)="hideMessage($event)"></fintrakbanking-message>


<p-dialog [responsive]=true [(visible)]="displayDocument" modal="modal" showEffect="fade" width="1200">
    <div *ngIf="displayDocument" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2   class="panel-title">
                <ng-container i18n>Document Title:</ng-container>
                <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayDocument=false">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:450px">

            <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;"
                [src]="'data:image/jpg;base64,'+binaryFile" alt="" class="img-thumbnail">

        </div>

    </div>
</p-dialog>


<p-dialog [responsive]=true [(visible)]="displayReport" width="800" modal="modal" showEffect="fade">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2 i18n  class="panel-title pull-left">
                        Generated Offer Letter

                    </h2>
                    <button i18n  type="button" (click)="displayReport=false" style="margin-right:5px"
                        class="btn btn-danger pull-right">Cancel</button>


                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="col-md-12" style=" width:1200px; overflow:auto;">
                <iframe [src]="reportSrc" id="report" name="report" frameborder="2" height="500px" width="1500px"
                    style="overflow:auto"></iframe>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <button i18n  type="button" (click)="displayReport=false" style="margin-right:5px"
                    class="btn btn-danger pull-right">Cancel</button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayApproverSearchForm" modal="modal" id="searchModal" showEffect="fade"
    width="650" [contentStyle]="{'overflow':'auto','max-height':'700px'}">
    <app-reassign-request [approvalTrailId]="approvalTrailId" (showCallerDialogue)="displayApproverSearchModal($event)">
    </app-reassign-request>
</p-dialog>


<!-- <PRE>{{ application | json }}</PRE> -->