<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Approval Trail Log
                            </h2>
                            <!-- <button type="button" class="btn btn-primary pull-right" (click)="startLoanAppHome()">Cancel PEN</button> -->
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p-dataTable [value]="approvalWorkflowData" [responsive]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15]" [lazy]="true" [totalRecords]="itemTotal" (onLazyLoad)="loadData($event)">
                        <p-column i18n-header field="requestStaffName" header="Intiated From"></p-column>
                        <p-column i18n-header field="requestApproval Level" header="Initiator Approval Level"></p-column>
                        <p-column i18n-header field="responseStaffName" header="Directed To"></p-column>
                        <p-column i18n-header field="responseApproval Level" header="Response Approval Level"></p-column>
                        <p-column i18n-header field="approvalStatus" header="Approval Status"></p-column>
                        <p-column i18n-header field="operationName" header="Operation"></p-column>
                        <p-column i18n-header field="systemArrivalDate" header="Date of Arrival">
                            <ng-template let-col let-apr="rowData" pTemplate="body">
                                {{apr[col.field] | date: 'medium'}}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="systemResponseDate" header="Date of Response">
                            <ng-template let-col let-apr="rowData" pTemplate="body">
                                {{apr[col.field] | date: 'medium' }}
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>

                <div class="panel-footer">

                </div>

            </div>
        </div>
    </div>
</div>


