<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h2 class="panel-title pull-left" i18n>Suggested Conditions</h2>
                <div *ngIf="!isAnalyst" class="pull-right">
                    <button (click)="showLoanSuggestionsForm()" pButton type="button" i18n-label label="Add New" icon="fa-plus"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <p-dataTable [value]="suggestedConditions" [paginator]="true" [rows]="5" selectionMode="single"
        (onRowUnselect)="removeSelectedCondition($event.data)" (onHeaderCheckboxToggle)="onSelectedAllCondition($event)"
        (onRowSelect)="onSelectedCondition($event.data)" [(selection)]="selectedConditions">

            <p-column [style]="{'width':'30px'}">
                <ng-template let-i="rowIndex" let-line pTemplate="rowexpansion">{{ i + 1 }}</ng-template>
            </p-column>
            <!-- <p-column [style]="{'width':'38px'}" selectionMode="multiple" *ngIf="isAnalyst"></p-column> -->
            
            <p-column i18n-header field="approvedProductName" header="Facility"></p-column>
            <p-column i18n-header field="suggestionTypeName" header="Suggestion Type"></p-column>
            <p-column i18n-header field="description" header="Description"></p-column>

            <p-column [style]="{'width':'130px'}">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    <div style="text-align:center">
                        <a *ngIf="!isAnalyst" (click)="deleteLoanSuggestedConditions(d)" href="javascript:void(0)" i18n>Remove</a>
                        <span *ngIf="!isAnalyst" style="padding:3px;">|</span>
                        <a *ngIf="!isAnalyst" (click)="editLoanSuggestedConditions(d)" href="javascript:void(0)" i18n>Edit</a>
                        <!-- <span *ngIf="isAnalyst" style="padding:3px;">|</span> -->
                        <a *ngIf="isAnalyst" (click)="addSuggestedConditionsAtAnalyst(d)" href="javascript:void(0)" i18n>Add</a>
                    </div>
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>

</div>

<p-dialog [responsive]=true [(visible)]="displayLoanSuggestionsForm" id="reccol-modal" modal="modal" showEffect="fade"
    width="450">

    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{formState}} <ng-container i18n>RM Suggestion</ng-container></h2>
        </div>

        <form novalidate [formGroup]="suggestionsForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label i18n>Facility</label>
                        </div>
                        <div class="col-md-12">
                            <select name="loanApplicationDetailId" formControlName="loanApplicationDetailId" id="loanApplicationDetailId"
                                class="form-control" [ngClass]="!suggestionsForm.controls['loanApplicationDetailId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select Facility--</option>
                                <option *ngFor="let x of proposedItems" [value]="x.loanApplicationDetailId">{{
                                    x.approvedProductName }} -- {{ x.obligorName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label i18n>Suggestion Type</label>
                        </div>
                        <div class="col-md-12">
                            <select name="suggestionTypeId" formControlName="suggestionTypeId" id="suggestionTypeId"
                                class="form-control" [ngClass]="!suggestionsForm.controls['suggestionTypeId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select Suggestion Type --</option>
                                <option *ngFor="let x of rmSuggestionTypes" [value]="x.suggestionTypeId">
                                    {{ x.suggestionTypeName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-12">
                            <label i18n>Description</label>
                        </div>
                        <div class="col-md-12">
                                <textarea name="description" formControlName="description" id="description" class="form-control"
                                    [ngClass]="!suggestionsForm.controls['description'].valid ? 'required-input' : 'valid-input'"></textarea>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="saveLoanConsultant(suggestionsForm)" [disabled]="suggestionsForm.invalid"
                            class="btn btn-success pull-right" i18n>Save and Close</button>
                        <button type="button" (click)="displayLoanSuggestionsForm=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
