<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 i18n  class="panel-title pull-left">
                                Assigned Recovery Loans
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group" style="margin-right:30px" *ngIf="pendingEmailData.length > 0 ">
          <div class="col=md-9">
            <div class="pull-right" style="margin-left:10px">
              <button i18n  type="button" (click)="GenerateMAil()" class="btn btn-success pull-right"><span
                  style="padding-right:4px;">Generate Mail To Agents</span></button>
            </div>
          </div>
        </div>
        <br /> -->
        <p-tabView>

            <p-tabPanel i18n-header  header=" Assigned Recovery Loans List">
                <div class="panel-body">
                    <p-dataTable [paginator]="true" [rows]="10" [value]="loanOperationApprovalData" [responsive]="true"
                        [(selection)]="schemeSelections" dataKey="loanReferenceNumber">
                        <p-column i18n-header  [style]="{'width':'50px'}" selectionMode="multiple" suppressRowClickSelection="false">
                        </p-column>
                        <p-column i18n-header  field="loanReferenceNumber" header="Reference Number" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="customerName" header="Customer Name" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="relationshipOfficerName" header="Relationship Manager" sortable="true"
                            [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="assignedBy" header="Assigned By" sortable="false" [filter]="false"
                            filterMatchMode="contains">
                        </p-column>
                        <!-- <p-column i18n-header  field="maturityDate" header="Facility Maturity Date" sortable="false" [filter]="false"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln[col.field] | date : 'medium' }}
                            </ng-template>
                        </p-column> -->
                        <p-column i18n-header  field="expCompletionDate" header="Expected Completion Date" sortable="false"
                            [filter]="false" filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln[col.field] | date : 'medium' }}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header  field="accreditedConsultantCompany" header="Consultant" sortable="true"
                            [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="totalAmountRecovery" header="Total Outstanding Balance" sortable="true"
                            [filter]="true" filterMatchMode="contains">
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.totalAmountRecovery | number : '1.2' }}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header  field="assignmentType" header="Assignment Type" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                        </p-column>
                        <p-column i18n-header  field="category" header="Category" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                        </p-column>
                        <p-column i18n-header  [style]="{'width':'200px'}" header="" *ngIf="schemeSelections.length == 0">
                            <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                <a i18n (click)="viewLoanDetails(row)" href="javascript:void(0)">Details</a>
                                <span style="padding:3px;">|</span>
                                <a i18n *ngIf="schemeSelections.length == 0" (click)="reassign(row)"
                                    href="javascript:void(0)">Re-Assign</a>
                                <span style="padding:3px;">|</span>
                                <a *ngIf="schemeSelections.length == 0" (click)="unassign(row)"
                                    href="javascript:void(0)">
                                    <ng-container i18n>Un-Assign</ng-container>
                                    
                                </a>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </div>
                <div class="panel-footer" *ngIf="schemeSelections.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <button  type="button" (click)="bulkReAssignment()" [disabled]="schemeSelections.length < 1"
                                class="btn btn-success pull-right"><span
                                    style="padding-right:4px;">{{label}}</span></button>
                            <button   type="button" (click)="bulkUnAssignment()" [disabled]="schemeSelections.length < 1"
                                class="btn btn-success pull-right"><span
                                    style="padding-right:4px;">
                                    <ng-container i18n>Un-Assign</ng-container>
                                </span></button>
                        </div>
                    </div>
                </div>
                </p-tabPanel>

                <p-tabPanel i18n-header  header=" Unassigned Recovery Loans Status">
                    <div class="panel-body">
                        <p-dataTable [paginator]="true" [rows]="10" [value]="unAssignloanOperationApprovalData" [responsive]="true"
                            [(selection)]="schemeSelections" dataKey="loanReferenceNumber">
                            <!-- <p-column i18n-header  [style]="{'width':'50px'}" selectionMode="multiple" suppressRowClickSelection="false">
                            </p-column> -->
                            <p-column i18n-header  field="loanReferenceNumber" header="Reference Number" sortable="true" [filter]="true"
                                filterMatchMode="contains"></p-column>
                            <p-column i18n-header  field="customerName" header="Customer Name" sortable="true" [filter]="true"
                                filterMatchMode="contains"></p-column>
                            <p-column i18n-header  field="relationshipOfficerName" header="Relationship Manager" sortable="true"
                                [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header  field="assignedBy" header="Assigned By" sortable="false" [filter]="false"
                                filterMatchMode="contains">
                            </p-column>
                            <!-- <p-column i18n-header  field="maturityDate" header="Facility Maturity Date" sortable="false" [filter]="false"
                                filterMatchMode="contains">
                                <ng-template let-col let-ln="rowData" pTemplate="body">
                                    {{ln[col.field] | date : 'medium' }}
                                </ng-template>
                            </p-column> -->
                            <p-column i18n-header  field="expCompletionDate" header="Expected Completion Date" sortable="false"
                                [filter]="false" filterMatchMode="contains">
                                <ng-template let-col let-ln="rowData" pTemplate="body">
                                    {{ln[col.field] | date : 'medium' }}
                                </ng-template>
                            </p-column>
                            <p-column i18n-header  field="accreditedConsultantCompany" header="Consultant" sortable="true"
                                [filter]="true" filterMatchMode="contains"></p-column>
                            <p-column i18n-header  field="totalAmountRecovery" header="Total Outstanding Balance" sortable="true"
                                [filter]="true" filterMatchMode="contains">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.totalAmountRecovery | number : '1.2' }}
                                </ng-template>
                            </p-column>
                            <p-column i18n-header  field="assignmentType" header="Assignment Type" sortable="true" [filter]="true"
                                filterMatchMode="contains">
                            </p-column>
                            <p-column i18n-header  field="category" header="Category" sortable="true" [filter]="true"
                                filterMatchMode="contains">
                            </p-column>
                            <p-column i18n-header  [style]="{'width':'9%'}" header="Status">
                                <ng-template let-record="rowData" let-i="rowIndex" pTemplate="body">
                                    <div class="btn-group"
                                        [innerHtml]="getApplicationStatus(true,record.approvalStatusId)">
                                    </div>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
    
                    </div>
                    
                    </p-tabPanel>
                </p-tabView>

            </div>
        </div>
    </div>

    <p-dialog [responsive]=true [(visible)]="displayReassignmentForm" modal="modal" id="searchModal" showEffect="fade"
        width="1000" [contentStyle]="{'overflow':'auto','max-height':'600px'}">

        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div style="margin-left:0" class="row">
                    <h2 i18n  class="panel-title pull-left">
                        Loan Recovery Re-Assignment
                    </h2>
                    <a href="" (click)="displayReassignmentForm = false" class="pull-right remove-btn">
                        <i class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>

                </div>
            </div>

        </div>

        <div style="margin-bottom:0" class="panel panel-default">

            <div class="panel-heading">
                <h2   class="panel-title">
                </h2>
            </div>

            <!-- <form novalidate [formGroup]="loanRecoveryReassignmentForm" autocomplete="off"> -->
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label i18n  for="newConsultantName" class="control-label col-md-2">Search For Agent</label>
                        <div class="col-md-4">
                            <input (focus)="openSearchBox()" name="newConsultantName" id="newConsultantName"
                                [(ngModel)]="newConsultantName" type="text" class="form-control"
                                i18n-placeholder="Pick New Agent" name="agent" [ngClass]="'valid-input'">
                            <div class="pull-right" style="margin-left:10px">
                                <a class="close" (click)="clearInput()">&times;</a>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label i18n  for="currentConsultant" class="control-label col-md-2">Previous Agent</label>
                        <div class="col-md-4">
                            <input name="currentConsultant" readonly id="currentConsultant"
                                [(ngModel)]="currentConsultant" type="text" class="form-control" i18n-placeholder=""
                                name="currentConsultant" [ngClass]="'valid-input'">
                        </div>
                        <label i18n  for="expCompletionDate" class="control-label col-md-2">Expected Completion Date </label>
                        <div class="col-md-4">
                            <p-calendar id="expCompletionDate" [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="1900:2030" [showIcon]="true"
                                [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                                [style]="{'width': '100%', 'z-index': '999'}" [(ngModel)]="expCompletionDate">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </form> -->
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="saveRecoveryReassignmentForm()"
                            [disabled]="newConsultantName == null || newConsultantName == undefined"
                            class="btn btn-success pull-right">{{label}}</button>
                        <button i18n  type="button" (click)="displayReassignmentForm = false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>


    <p-dialog [responsive]=true [(visible)]="displayBulkReassignmentForm" modal="modal" id="searchModal"
        showEffect="fade" width="1000" [contentStyle]="{'overflow':'auto','max-height':'600px'}">

        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div style="margin-left:0" class="row">
                    <h2 i18n  class="panel-title pull-left">
                        Loan Recovery Re-Assignment
                    </h2>
                    <a href="" (click)="displayReassignmentForm = false" class="pull-right remove-btn">
                        <i class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>
                </div>
            </div>
        </div>

        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                </h2>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label i18n  for="newConsultantName" class="control-label col-md-2">Search For Agent</label>
                        <div class="col-md-4">
                            <input (focus)="openSearchBox()" name="newConsultantName" id="newConsultantName"
                                [(ngModel)]="newConsultantName" type="text" class="form-control"
                                i18n-placeholder="Pick New Agent" name="agent" [ngClass]="'valid-input'">
                            <div class="pull-right" style="margin-left:10px">
                                <a class="close" (click)="clearInput()">&times;</a>
                            </div>
                        </div>
                        <label i18n  for="expCompletionDate" class="control-label col-md-2">Expected Completion Date </label>
                        <div class="col-md-4">
                            <p-calendar id="expCompletionDate" [monthNavigator]="true" [yearNavigator]="true"
                                yearRange="1900:2030" [showIcon]="true"
                                [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                                [style]="{'width': '100%', 'z-index': '999'}" [(ngModel)]="expCompletionDate">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button  type="button" (click)="saveRecoveryReassignmentForm()"
                            [disabled]="newConsultantName == null || newConsultantName == undefined"
                            class="btn btn-success pull-right">{{label}}</button>
                        <button i18n  type="button" (click)="displayBulkReassignmentForm = false" style="margin-right:5px"
                            class="btn btn-danger pull-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>

    <p-dialog [responsive]=true [(visible)]="displaySearchModal" modal="modal" id="searchModal" showEffect="fade"
        width="650">
        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div style="margin-left:0" class="row">
                    <h2 i18n  class="panel-title pull-left">
                        Search For Agent
                    </h2>
                    <a href="" (click)="displaySearchModal=false" class="pull-right remove-btn">
                        <i class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>

                </div>
            </div>
            <div style="padding:3px" class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="search" (keyup)="searchDB($event.target.value)" class="form-control"
                            i18n-placeholder="Type in your search parameter">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            <!--{{mfacilityType}}-->
                        </p>
                        <table *ngIf="searchResults" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th i18n>Name</th>
                                    <th i18n>Firm Name</th>
                                    <th i18n>Address</th>
                                    <th i18n>State Name</th>
                                    <th i18n>Category</th>
                                    <th i18n>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr (click)="pickSearchedData(res)" style="cursor: pointer"
                                    *ngFor="let res of searchResults; let i = index">
                                    <td>
                                        {{res.name}}
                                    </td>
                                    <td>
                                        {{res.firmName}}
                                    </td>
                                    <td>
                                        {{res.address}}
                                    </td>
                                    <td>
                                        {{res.stateName}}
                                    </td>
                                    <td>
                                        {{res.category}}
                                    </td>
                                    <td>
                                        {{res.agentCategory}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>

    <p-dialog [responsive]=true [(visible)]="displayApprovalModal" widgetVar="ajaxDialog"
        [contentStyle]="{'overflow':'scroll','max-height':'600px'}" modal="modal" showEffect="fade" width="1200">
        <div class="panel-body">
            <div class="form-horizontal">
                <p-tabView>

                    <p-tabPanel i18n-header  header="Recovery Loans">

                        <p-dataTable [paginator]="true" [rows]="10" [value]="loanRecoveryApprovalData" [responsive]=true
                            [(selection)]="schemeSelection" dataKey="loanReferenceNumber" selectionMode="single">
                            <p-column i18n-header  field="loanReferenceNumber" header="Ref. Number" sortable="true" [filter]="true"
                                filterMatchMode="contains"></p-column>
                            <p-column i18n-header  field="customerName" header="Customer Name" sortable="true" [filter]="true"
                                filterMatchMode="contains"></p-column>
                            <p-column i18n-header  field="relationshipManagerName" header="Relationship Manager" sortable="true"
                                [filter]="true" filterMatchMode="contains"></p-column>
                            <!-- <p-column i18n-header  field="effectiveDate" header="Effective Date" sortable="false" [filter]="false"
                                filterMatchMode="contains">
                                <ng-template let-col let-ln="rowData" pTemplate="body">
                                    {{ln[col.field] | date : 'medium' }}
                                </ng-template>
                            </p-column>
                            <p-column i18n-header  field="maturityDate" header="Facility Maturity Date" sortable="false"
                                [filter]="false" filterMatchMode="contains">
                                <ng-template let-col let-ln="rowData" pTemplate="body">
                                    {{ln[col.field] | date : 'medium' }}
                                </ng-template>
                            </p-column> -->
                            <p-column i18n-header  field="expCompletionDate" header="Expected Completion Date" sortable="false"
                                [filter]="false" filterMatchMode="contains">
                                <ng-template let-col let-ln="rowData" pTemplate="body">
                                    {{ln[col.field] | date : 'medium' }}
                                </ng-template>
                            </p-column>
                            <p-column i18n-header  field="totalAmountRecovery" header="Total Outstanding Balance" sortable="true"
                                [filter]="true" filterMatchMode="contains">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.totalAmountRecovery | number : '1.2' }}
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>

                    <p-tabPanel i18n-header  header="Comments">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 i18n>Recovery Approval Comments</h3>
                            </div>
                            <div class="panel-body">
                                <p-dataTable resizableColumns="false" [value]="trail23" width="1500" height="100%"
                                    [paginator]="true" [rows]="5" scrollable="true">
                                    <p-column i18n-header  [style]="{'width':'100px'}" field="systemArrivalDateTime"
                                        header="Date Initiated" sortable="true" [filter]="true"
                                        filterMatchMode="contains">
                                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            {{ d.systemArrivalDateTime | date: 'short' }}
                                        </ng-template>
                                    </p-column>
                                    <p-column i18n-header  field="fromStaffName" header="Staff Name" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                    <p-column i18n-header  [style]="{'width':'150px'}" field="comment" header="Comment"
                                        sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                    <p-column i18n-header  field="fromApprovalLevelName" header="Approval Level" sortable="true"
                                        [filter]="true" filterMatchMode="contains"></p-column>
                                    <p-column i18n-header  field="approvalStatus" header="Status" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                    <p-column i18n-header  field="approvalState" header="State" sortable="true" [filter]="true"
                                        filterMatchMode="contains"></p-column>
                                </p-dataTable>
                            </div>
                        </div>

                    </p-tabPanel>
                    <p-tabPanel i18n-header  header="Approval Memorandum">
                        <div class="card no-padding">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                    </div>
                                </div>

                                <!-- CAM -->
                                <div class="panel-body" style="min-height:350px;">
                                    <div *ngFor="let x of documentations">
                                        <p><strong>{{x.title}}</strong></p>
                                        <span [innerHtml]="x.templateDocument"></span>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button i18n  (click)="displayApprovalModal=false" type="button" class="btn btn-danger"
                                    style="margin-right:5px">Close</button>
                                <button i18n  (click)="print()" type="button" class="btn btn-success"
                                    style="margin-right:5px">Print</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </p-dialog>