<div style="margin-bottom:0" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" i18n>
      Collateral Details
    </h2>
  </div>
  <div class="panel-body">
    <p-dataTable [value]="collateralDetails" [responsive]="true">
      <p-header i18n>Collateral Details</p-header>
      <p-column i18n-header field="collateralCode" header="Collateral Code"></p-column>
      <p-column i18n-header field="collateralType" header="Collateral Type"></p-column>
      <p-column i18n-header field="collateralSubTypeName" header="Collateral SubType"></p-column>
      <p-column i18n-header field="collateralValue" header="Collateral Value">
        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
          {{ d.collateralValue | number : '1.2' }}
        </ng-template>
      </p-column>
      <p-column i18n-header field="haircut" header="Hair Cut"></p-column>
    </p-dataTable>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>
