<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title pull-left" i18n>
          Manual Data Archive
        </h2>

      </div>
    </div>
  </div>

  <div class="panel-body">
    <form novalidate [formGroup]="mainForm" autocomplete="off">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 i18n>         
              Manual Data Archive          
          </h6>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-md-1">
                <input type="checkbox" name="isFullyUtilised" formControlName="isFullyUtilised"
                  (click)="fullyUtilised($event)" id="isFullyUtilised"
                  [ngClass]="!mainForm.controls['isFullyUtilised'].valid ? 'required-input' : 'valid-input'"
                  style="box-shadow: none;margin-top: 10px; margin-left: 0px;">
              </div>
              <label for="isFullyUtilised" class="control-label col-md-6" i18n>
                All fully Utilised Loans will be Archived
              </label>
            </div>

            <div class="form-group">
              <div class="col-md-1">
                <input type="checkbox" name="isBatchUtilised" formControlName="isBatchUtilised"
                  (click)="batchUtilised($event)" id="isBatchUtilised"
                  [ngClass]="!mainForm.controls['isBatchUtilised'].valid ? 'required-input' : 'valid-input'"
                  style="box-shadow: none; margin-top: 10px; margin-left: 0px;">
              </div>
              <label for="isBatchUtilised" class="control-label col-md-6" i18n>
                Batch Archive Loans will be processed
              </label>
            </div>
            <div class="form-group">
              <label for="startDate" class="control-label col-md-1" i18n>Start Date</label>
              <div class="col-md-3">
                <p-calendar id="startDate" formControlName="startDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1900:2030" [showIcon]="true"
                  [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                  [style]="{'width': '100%', 'z-index': '999'}"
                  [ngClass]="mainForm.controls['startDate'].valid ? 'valid-input' : 'required-input'"></p-calendar>
              </div>

              <label for="endDate" class="control-label col-md-1" i18n>End Date</label>
              <div class="col-md-3">
                <p-calendar id="endDate" formControlName="endDate" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="1900:2030" [showIcon]="true"
                  [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                  [style]="{'width': '100%', 'z-index': '999'}"
                  [ngClass]="mainForm.controls['endDate'].valid ? 'valid-input' : 'required-input'"></p-calendar>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group pull-right">
          <button [disabled]="" type="button" (click)="saveManualArchive()" class="btn btn-success" i18n>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>