<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h2 class="panel-title pull-left" i18n>
                    Letter Generation Request
                </h2>
                <div class="pull-right">
                    <button (click)="showLetterGenerationRequestForm()" pButton type="button" i18n-label label="New Request"
                        icon="fa-plus"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <p-dataTable [value]="letterGenerationRequests" [responsive]="true" [paginator]="false" [rows]="5" let
            i="index">
            <p-column i18n-header field="dateTimeCreated" header="Date" [filter]="false">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    {{ d.dateTimeCreated | date: 'dd-MM-yyyy' }}
                </ng-template>
            </p-column>
            <p-column i18n-header field="requestRef" header="Reference Code" sortable="true" filterMatchMode="contains"></p-column>
            <p-column i18n-header field="customerName" header="Customer" sortable="true" filterMatchMode="contains"></p-column>
            <p-column i18n-header field="requestType" header="Request Type" sortable="true" filterMatchMode="contains">
                <ng-template let-d="rowData" pTemplate="body">
                    <div style="text-align:center">
                        {{getRequestTypeName(d.requestType)}}
                    </div>
                </ng-template>
            </p-column>
            <p-column i18n-header field="loanBalance" header="Outstanding Amount" sortable="true" filterMatchMode="contains" [style]="{'width':'120px','text-align':'right'}">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    {{ d.loanBalance | number:'1.2' }}
                </ng-template>
            </p-column>
            
            <p-column i18n-header field="requestDate" header="Request Date" sortable="true" filterMatchMode="contains">
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    {{ d.requestDate | date: 'dd-MM-yyyy' }}
                </ng-template>
            </p-column>
            <p-column i18n-header [style]="{'width':'9%'}">
                <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                    <div class="btn-group"
                        [innerHtml]="getApprovalStatus(row.approvalStatusId)">
                    </div>
                </ng-template>
            </p-column>
            <p-column i18n-header [style]="{'width':'100px'}" header="View">
                <ng-template pTemplate="header"> </ng-template>
                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                    <div style="text-align:center">
                        <a (click)="editLetterGenerationRequest(d)" href="javascript:void(0)" i18n>View</a>
                    </div>
                </ng-template>
            </p-column>
            <p-column i18n-header [style]="{'width':'100px'}" header="View">
                    <ng-template pTemplate="header"></ng-template>
                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                        <div style="text-align:center">
                            <a (click)="forward(d)" href="javascript:void(0)" i18n>Send for Approval</a>
                        </div>
                    </ng-template>
                </p-column>
        </p-dataTable>
    </div>

</div>

<p-dialog [responsive]=true [(visible)]="displayLetterGenerationRequestForm" id="ct-modal" modal="modal"
    showEffect="fade" width="1200" [contentStyle]="{'overflow':'auto','max-height':'700px'}">

    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ formState }} <ng-container i18n> Letter Generation Request</ng-container>
                
            </h2>
        </div>

        <p-tabView [activeIndex]="activeTabindex" (onChange)="onTabChange($event)">
            <p-tabPanel i18n-header header="General">
                    <app-customer-information-detail *ngIf="customerId > 0" [loadWithCustomerId]="customerId">
                    </app-customer-information-detail>
                <form novalidate [formGroup]="letterGenerationRequestForm" autocomplete="off">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label i18n for="customerName" class="control-label col-md-12">Customer</label>
                                <div class="col-md-8">
                                    <input type="text" readonly=true name="customerName" formControlName="customerName"
                                        id="customerName" class="form-control"
                                        [ngClass]="!letterGenerationRequestForm.controls['customerName'].valid ? 'required-input' : 'valid-input'">
                                </div>
                                <div class="col-md-4 pull-right">
                                    <button (click)="showCustomerSearchForm()" pButton type="button"
                                        [label]="customerButtonTitle" icon="fa-plus"></button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label i18n for="requestDate" class="control-label col-md-12">Request Date</label>
                                <div class="col-md-12">
                                    <p-calendar id="requestDate" formControlName="requestDate" [monthNavigator]="true"
                                        [yearNavigator]="true" yearRange="1900:2030" [showIcon]="true"
                                        [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                                        [style]="{'width': '100%', 'z-index': '999'}"
                                        [ngClass]="letterGenerationRequestForm.controls['requestDate'].valid ? 'valid-input' : 'required-input'">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="form-group">
                                <label i18n for="requestType" class="control-label col-md-12">Request Type</label>
                                <div class="col-md-12">
                                    <select id="requestType" formControlName="requestType" name="requestType"
                                        [ngClass]="letterGenerationRequestForm.controls['requestType'].valid ? 'valid-input' : 'required-input'"
                                        class="form-control">
                                        <option i18n value=""> Select Request Type</option>
                                        <option *ngFor="let req of requestTypes" value="{{req.id}}"> {{req.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label i18n for="asAtDate" class="control-label col-md-12">As At Date</label>
                                <div class="col-md-12">
                                    <p-calendar id="asAtDate" formControlName="asAtDate" [monthNavigator]="true"
                                        [yearNavigator]="true" yearRange="1900:2030" [showIcon]="true"
                                        [inputStyle]="{'width': '100%','border-left':'3px solid #3cd225'}"
                                        [style]="{'width': '100%', 'z-index': '999'}"
                                        [ngClass]="letterGenerationRequestForm.controls['asAtDate'].valid ? 'valid-input' : 'required-input'">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="form-group">
                                <label i18n for="comment" class="control-label col-md-12">Comment</label>
                                <div class="col-md-12">
                                    <textarea name="comment" formControlName="comment" id="comment" class="form-control"
                                        [ngClass]="!letterGenerationRequestForm.controls['comment'].valid ? 'required-input' : 'valid-input'"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </p-tabPanel>
            <!-- <p-tabPanel i18n-header header="Customer Info">
                    <app-customer-information-detail *ngIf="customerId > 0" [loadWithCustomerId]="customerId">
                    </app-customer-information-detail>
            </p-tabPanel> -->

            <p-tabPanel i18n-header header="Debt Status">
                <form novalidate [formGroup]="letterGenerationRequestForm" autocomplete="off">
                    <div class="panel-body">
                        <!-- <div class="form"> -->
                            <div class="form-group">
                                <label i18n for="loanBalance" class="control-label col-md-2">Loan Balance</label>
                                <div class="col-md-4">
                                    <input name="loanBalance" formControlName="loanBalance" id="loanBalance" class="form-control" />
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </form>
                <p-dataTable [responsive]="true" [value]="camsolLoans" dataKey="camsolId"
                 [(selection)]="letterGenerationCamsolList"
                 (onRowSelect)="onRowSelect($event.data)" 
                 (onRowUnselect)="onRowSelectUnselect($event.data)">
                    <p-column i18n-header [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column i18n-header field="customerCode" header="Customer Code">
                    </p-column>
                    <p-column i18n-header field="customerName" header="Customer Name">
                    </p-column>
                    <p-column i18n-header field="balance" header="Balance">
                    </p-column>
                    <p-column i18n-header field="accountNumber" header="Account Number">
                    </p-column>
                    <p-column i18n-header field="camsolTypeName" header="Source">
                    </p-column>

                    <!-- <p-column i18n-header [style]="{'width':'150px'}" header="View">
                        <ng-template pTemplate="header"> </ng-template>
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                            <div style="text-align:center">
                                <a (click)="getValuationPrerequisites(d.collateralValuationId)"
                                    href="javascript:void(0)">Add / View Prerequisite(s)</a>
                            </div>
                        </ng-template>
                    </p-column> -->
                </p-dataTable>
            </p-tabPanel>

            <p-tabPanel i18n-header  header="Signatories">
                <p-dataTable [responsive]="true" dataKey="signatoryId" [value]="authorisedSignatories" 
                [(selection)]="letterGenerationsignatories">
                    <p-column i18n-header [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column i18n-header field="signatoryTitle" header="Signatory's Tile ">
                    </p-column>
                    <p-column i18n-header field="signatoryName" header="Signatory's Name">
                    </p-column>
                    <p-column i18n-header field="signatoryInitials" header="Signatory's Initials">
                    </p-column>
                </p-dataTable>
            </p-tabPanel>
            <p-tabPanel i18n-header header="Customer Exposures" *ngIf="customerId > 0">
                <expfacility [reload]="customerId" [customer]="customerIds" [loanTypeId]=1  (customerExposureResult)="setcustomerExposureResult($event)">
                </expfacility>
            </p-tabPanel>
        </p-tabView>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button (click)="displayLetterGenerationRequestForm=false" type="button" class="btn btn-danger"
                            style="margin-right:5px" i18n>Cancel</button>
                        <!-- <button type="button" (click)="nextView()" style="margin-right:5px"
                            [disabled]="letterGenerationRequestForm.invalid || showNext == false" class="btn btn-success">Next</button> -->
                        <button type="button" (click)="saveLetterGenerationRequest(letterGenerationRequestForm)"
                            [disabled]="letterGenerationRequestForm.invalid || activeTabindex != 2"
                            class="btn btn-success pull-right" i18n>Save</button>
                        <!-- <button [disabled]="letterGenerationRequestForm.invalid" type="button" (click)="forward()"
                                                class="btn btn-success">Submit For Approval
                                            </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</p-dialog>

<p-dialog [responsive]=true [modal]=true [dismissableMask]=true [(visible)]="showSearchCustomerDialog" width="800"
    [contentStyle]="{'overflow':'auto','max-height':'700px'}">
    <customer-search (customer)="setCustomer($event)" [showPhoneNumberSearch]="false">

    </customer-search>
</p-dialog>

<p-dialog [responsive]=true [modal]=true [dismissableMask]=true [(visible)]="showLcForward" width="600"
    [contentStyle]="{'overflow':'auto','max-height':'700px'}">
    <form novalidate [formGroup]="lcForwardForm" autocomplete="off">
        <div class="panel panel-default">
            <div class="panel-heading" i18n>
                Letter Generation Request
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="comment" class="control-label col-md-12"><strong i18n>Comment</strong></label>
                    <div class="col-md-12">
                        <textarea [ngClass]="lcForwardForm.controls['comment'].valid ? 'valid-input' : 'required-input'"
                            class="form-control" formControlName="comment" name="comment" cols="15" rows="3"></textarea>
                    </div>
                    <!-- <label i18n for="forward" class="control-label col-md-12">Status</label>
                    <div class="col-md-12">
                        <select name="forward" (change)="resetButton($event.target.value)" id="forward"
                            class="form-control" formControlName="forward"
                            [ngClass]="lcForwardForm.controls['forward'].valid ? 'valid-input' : 'required-input'">
                            <option i18n value="">--- Select Approval Status ---</option>
                            <option i18n *ngFor="let item of approvalStatusData" [value]="item.approvalStatusId">
                                {{item.approvalStatusName}}</option>
                        </select>
                    </div> -->
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="goForApproval()" [disabled]="lcForwardForm.invalid"
                            class="btn btn-success pull-right" i18n>Submit</button>
                        <button type="button" (click)="closeDialog()" style="margin-right:5px"
                            class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>

<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass"
    (closeEvent)="hideMessage($event)"></fintrakbanking-message>

<!-- 
                              <select name="responseTypeId" id="responseTypeId" formControlName="responseTypeId" class="form-control" [ngClass]="!addForm.controls['responseTypeId'].valid ? 'required-input' : 'valid-input'">
                                  <option i18n value=">-- Select Response Type --</option>
                                  <option i18n *ngFor="let x of responseTypes" [value]="x.responseTypeId">{ x.responseType }</option>
                              </select>
-->