<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Request Job Types
                            </h2>
                            <div class="pull-right">
                                <button (click)="showForm()" pButton type="button" i18n-label label="Add New" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body"> 
                    <p-dataTable [value]="jobTypes">
                        <p-column i18n-header field="jobTypeName" header="Request Job Type Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>    
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"></ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editJobType(i)" href="javascript:void(0)" i18n>Edit</a>
                            </ng-template>
                        </p-column>                    
                    </p-dataTable>
                </div>

            </div>
            <!--end of panel-->


        </div>
    </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displayForm" id="add-modal" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <ng-container i18n>New </ng-container>{{ entityName }} 
            </h2>
        </div> 

        <form novalidate [formGroup]="jobTypeForm" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="jobTypeName" class="control-label col-md-4" i18n>Job Type Name</label>
                        <div class="col-md-8">
                            <input type="text" name="jobTypeName" formControlName="jobTypeName" id="jobTypeName" class="form-control" [ngClass]="!jobTypeForm.controls['jobTypeName'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="submitForm(jobTypeForm)" [disabled]="jobTypeForm.invalid" class="btn btn-success pull-right"  i18n>Save</button>
                        <button type="button" (click)="displayForm=false"  style="margin-right:5px"class="btn btn-danger pull-right">Cancel</button>
				    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
<!--end of form modal-->


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>
