<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Staff Signature Management
                            </h2>
                            <div class="pull-right">
                                <button (click)="showDialog()" pButton type="button" label="Add New" icon="fa-plus" i18n>Add New </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <p-dataTable [paginator]="true" [rows]="15" [value]="staffDataset" [responsive]=true selectionMode="single">
                        <p-column i18n-header [style]="{'width':'110px'}" field="staffCode" header="Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="staffName" header="Staff Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <!-- <p-column i18n-header field="documentTitle" header="Document" sortable="true" [filter]="true" filterMatchMode="contains"></p-column> -->
                        <p-column i18n-header field="fileName" header="File Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                        <p-column [style]="{'width':'60px'}">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-staff="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editStaff(staff)">
                                    Edit
                                </a>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [responsive]=true [(visible)]="display" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <ng-container i18n>  Upload Signature</ng-container>
                
               {{selectedStaff.staffFullName}} 
            </h2>
        </div>
        <form class="form-horizontal" novalidate autocomplete="off">
            <div class="panel-body">
                <div class="form-group">
                    <label for="searchedName" class="control-label col-md-12" i18n>Staff</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input (focus)="openSearchBox()" type="text" [(ngModel)]="searchedStaff" class="form-control" placeholder="Search staff" name="searchedName" i18n-placeholder>
                            <div class="input-group-btn">
                                <button (click)="openSearchBox()" style="padding-top:8px;padding-bottom:0px" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="document" class="control-label col-md-12" i18n>Select Scanned Staff Signature</label>
                    <div class="col-md-12">
                        <input type="file" (change)="onFileChange($event)" placeholder="Select image file to upload" accept=".jpg,.jpeg,.png" #fileInput name="fileInput" style="padding-top:2px;" class="form-control" i18n-placeholder>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:auto;height:250px;text-align:center">
                    <div class="col-md-12">
                        <img *ngIf="binaryFile" style="max-width: 100%;max-height: 100%; display: block 2px black; margin: 0 auto;" [src]="'data:image/jpg;base64,'+binaryFile">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="uploadFile()" [disabled]="file==undefined || disableBtn == true" class="btn btn-success pull-right">
                            <span class="glyphicon glyphicon-upload"></span><ng-container i18n>Upload</ng-container>
                            </button>
                        <button style="margin-right:5px" type="button" class="btn btn-danger pull-right" (click)="hideModal()" i18n>Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displaySearchModal" modal="modal" id="searchModal" showEffect="fade" width="650">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <div style="margin-left:0" class="row">
                <h2 class="panel-title pull-left" i18n>
                    Search Staff
                </h2>
                <div class="pull-right"><a class="close" style="margin: -10px 8px;" (click)="displaySearchModal=false">&times;</a></div>
            </div>
        </div>
        <div style="padding:3px" class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" id="search" (keyup)="searchDB($event.target.value)" class="form-control" placeholder="Type in your search parameter" i18n-placeholder>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <table *ngIf="searchResults" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th i18n>Staff Code</th>
                                <th i18n>First Name</th>
                                <th i18n>Middle Name</th>
                                <th i18n>Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="pickSearchedData(res)" style="cursor: pointer" *ngFor="let res of searchResults; let i = index">
                                <td>{{res.staffCode}}</td>
                                <td>{{res.firstName}}</td>
                                <td>{{res.middleName}}</td>
                                <td>{{res.lastName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</p-dialog>