<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Departments
                            </h2>
                            <div class="pull-right">
                                <button (click)="showAddModal()" pButton type="button" i18n-label label="Add New" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p-dataTable [value]="departments">
                        <p-column i18n-header field="departmentName" header="Department" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="departmentCode" header="Department Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <!-- <p-column i18n-header field="branchName" header="Branch Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column> -->
                        <p-column i18n-header field="description" header="Description" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header"></ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editDepartment(i)" href="javascript:void(0)" i18n>Edit</a>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>

            </div>
            <!--end of panel-->


        </div>
    </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displayAddModal" id="add-modal" modal="modal" showEffect="fade" width="900">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ entityName}}
            </h2>
        </div>

        <form novalidate [formGroup]="departmentForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="departmentName" class="control-label col-md-2" i18n>Department Name</label>
                        <div class="col-md-4">
                            <input type="text" name="departmentName" formControlName="departmentName" id="departmentName" class="form-control" [ngClass]="!departmentForm.controls['departmentName'].valid ? 'required-input' : 'valid-input'">
                        </div>
                        <label for="departmentCode" class="control-label col-md-2" i18n>Department Code</label>
                        <div class="col-md-4">
                            <input type="text" name="departmentCode" formControlName="departmentCode" id="departmentCode" class="form-control" [ngClass]="!departmentForm.controls['departmentCode'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- <label for="branchId" class="control-label col-md-2" i18n>Branch</label>
                        <div class="col-md-4">
                            <select type="text" name="branchId" formControlName="branchId" id="branchId" class="form-control" [ngClass]="!departmentForm.controls['branchId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select Branch --</option>
                                <option *ngFor="let branch of branches" [value]="branch.branchId">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                        </div> -->
                        <label for="description" class="control-label col-md-2" i18n>Description</label>
                        <div class="col-md-4">
                            <textarea rows="2" name="description" id="description" class="form-control" formControlName="description" [ngClass]="departmentForm.controls['description'].valid ? 'valid-input' : 'required-input'"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="submitForm(departmentForm)" [disabled]="departmentForm.invalid" class="btn btn-success pull-right"  i18n>Save</button>
                        <button type="button" (click)="displayAddModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
<!--end of form modal-->


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>