<p-accordion>
    <p-accordionTab  header="Employer Type">
        <div class="row">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left" i18n>
                         Employer Type
                        </h2>
                        <div class="pull-right">
                            <button (click)="showEmployerType()" pButton type="button" label="Add New" icon="fa-plus"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p-dataTable #dt [paginator]="true" [rows]="15" [value]="employerTypeTable" [responsive]=true selectionMode="single">
                    <p-column [style]="{'width':'110px'}" field="employerTypeName" header="Employer Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                    <p-column [style]="{'width':'60px'}">

                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template let-x="rowData" let-i="rowIndex" pTemplate="body">
                            <a (click)="editEmployerType(x)" i18n>
                                Edit
                            </a>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div> 
        </div>
    </p-accordionTab>
    <p-accordionTab  header="Employer Sub Type">
        <div class="row">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left" i18n>
                         Employer Sub Type
                        </h2>
                        <div class="pull-right">
                            <button (click)="showEmployerSubType()" pButton type="button" label="Add New" icon="fa-plus"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p-dataTable #dt [paginator]="true" [rows]="15" [value]="employerSubTypeTable" [responsive]=true selectionMode="single">
                    <p-column [style]="{'width':'110px'}" field="employerTypeName" header="Employer Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                    <p-column [style]="{'width':'110px'}" field="employerSubTypeName" header="Employer Sub Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                    <p-column [style]="{'width':'60px'}">

                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template let-x="rowData" let-i="rowIndex" pTemplate="body">
                            <a (click)="editEmployerSubType(x)" i18n>
                                Edit
                            </a>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </p-accordionTab>
</p-accordion>


<p-dialog [responsive]=true [(visible)]="displayEmployerModel" id="add-modal" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
               Employer Type
            </h2>
        </div>

        <form novalidate [formGroup]="employerTypeForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="EmployerTypeName" class="control-label col-md-4" i18n>Employer Type</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control " formControlName="EmployerTypeName" minlength="3" maxlength="300"
                            [ngClass]="!employerTypeForm.controls['EmployerTypeName'].valid ? 'required-input' : 'valid-input'"
                            name="EmployerTypeName" >
                         </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" (click)="addEmployerType()"  [disabled]="employerTypeForm.invalid" class="btn btn-success pull-right"  i18n>Save</button>                    
                        <button type="button" (click)="displayEmployerModel=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>                                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayEmployerSubModel" id="add-modal" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
               Employer Sub Type
            </h2>
        </div>

        <form novalidate [formGroup]="employerSubTypeForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="EmployerTypeId" class="control-label col-md-4" i18n>Employer Type</label>
                        <div class="col-md-8">
                            <select name="EmployerTypeId" id="EmployerTypeId"  formControlName="EmployerTypeId" class="form-control" 
                            [ngClass]="!employerSubTypeForm.controls['EmployerTypeId'].valid ? 'required-input' : 'valid-input'">
                            <option value="" i18n>-- Select Empleyer Type --</option>
                            <option *ngFor="let x of employerTypeTable" [value]="x.employerTypeId">
                                {{x.employerTypeName}}
                            </option>                            
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EmployerSubTypeName" class="control-label col-md-4" i18n>Employer Sub Type</label>
                        <div class="col-md-8">
                            <input type="text" name="EmployerSubTypeName" formControlName="EmployerSubTypeName" id="EmployerSubTypeName" class="form-control" 
                            [ngClass]="!employerSubTypeForm.controls['EmployerSubTypeName'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" (click)="addEmployerSubType()"  [disabled]="employerSubTypeForm.invalid" class="btn btn-success pull-right"  i18n>Save</button>                    
                        <button type="button" (click)="displayEmployerSubModel=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                            </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>


