<div class="ui-g">
  <div class="ui-g-12 no-padding">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 i18n class="panel-title pull-left">
              Security Release Search
            </h2>
          </div>
        </div>
      </div>
    </div>

    <p-tabView>
      <p-tabPanel i18n-header header="">

        <!-- loan applications -->
        <div class="card no-padding">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-12">
                  <h2 i18n class="panel-title pull-left">
                    Security Release
                  </h2>

                  <div class="pull-right">
                    <button (click)="showSearchForm()" pButton type="button" i18n-label label="Search" icon="fa-search"></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p-tabView>
                <p-tabPanel i18n-header header="Security Release">
                  <p-dataTable [value]="securityRelease" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,20,30]">
                    <p-column i18n-header field="dateRecieved" header="Arrival Date" sortable="true" [filter]="true"
                      filterMatchMode="contains">
                      <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                        {{ d.dateRecieved | date: 'dd MMM yyyy' }}
                      </ng-template>
                    </p-column>
                    <p-column i18n-header field="customerName" header="Customer Name" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="collateralCode" header="Collateral ID" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="documentDescription" header="Description" sortable="true" [filter]="true"
                      filterMatchMode="contains">
                    </p-column>
                    <p-column i18n-header field="documentReferenceNumber" header="Document Reference Number" sortable="true"
                      [filter]="true" filterMatchMode="contains">
                    </p-column>
                    <p-column i18n-header field="approvalStatus" header="Approval Status" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="currentApproval Level" header="Approval Level" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="responsiblePerson" header="Responsible Person" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>

                    <p-column i18n-header field="createdByName" header="Created By" sortable="true" [filter]="true"
                      filterMatchMode="contains">
                    </p-column>
                    <p-column i18n-header [style]="{'width':'80px'}" header="">
                      <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                        <div style="text-align:center">
                          <a (click)="viewDocuments(d)" href="javascript:void(0)" i18n>View Memo</a>

                        </div>
                      </ng-template>
                    </p-column>

                  </p-dataTable>
                </p-tabPanel>
              </p-tabView>

            </div>

            <div class="panel-footer">
              <div class="row">
                <div class="col-md-3 col-md-offset-9 ">
                  <!-- buttons -->
                </div>
              </div>
            </div>

          </div>
        </div>

      </p-tabPanel>
    </p-tabView>

  </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displayDetail" id="add-modal" modal="modal" showEffect="fade" width="900"
[contentStyle]="{'overflow':'auto','max-height':'700px','max-width':'1300px'}">
  <div class="panel-heading">
    <div style="margin-left:0" class="row">
        <div class="pull-right">
            <a class="close" style="margin: -10px 8px;" (click)="displayDetail=false">&times;</a>
        </div>
    </div>
  </div>
  <p-tabPanel i18n-header *ngIf="(TARGET_ID>0)" header="Approval Memo">
    <app-approval-memo
        [showControls]="true"
        [allowTemplateToLoad]="false"
        [referenceNumber]="REFERENCE_NUMBER"
        [label]="'Security Release'"
        [customerId]="CUSTOMER_ID"
        [OPERATION_ID]="OPERATION_ID"
        [targetId]="TARGET_ID">
    </app-approval-memo>
  </p-tabPanel>
</p-dialog>


<p-dialog [responsive]=true [(visible)]="displaySearchForm" id="add-modal" modal="modal" showEffect="fade" width="450">
  <div style="margin-bottom:0" class="panel panel-default">
    <div class="panel-heading">
      <h2 i18n class="panel-title">
        Search Security Release
      </h2>
    </div>

    <form novalidate [formGroup]="searchForm" autocomplete="off" (ngSubmit)="submitForm(searchForm)">

      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="searchString" class="control-label col-md-12">Customer Name/ Customer Code</label>
            <div class="col-md-12">
              <input type="text" name="searchString" formControlName="searchString" id="searchString"
                class="form-control"
                [ngClass]="!searchForm.controls['searchString'].valid ? 'required-input' : 'valid-input'">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <button type="button" (click)="submitForm(searchForm)" [disabled]="searchForm.invalid"
              class="btn btn-success pull-right" i18n>Search</button>
            <button type="button" (click)="displaySearchForm=false" style="margin-right:5px"
              class="btn btn-danger pull-right" i18n>Cancel</button>
          </div>
        </div>
      </div>

    </form>

  </div>
</p-dialog>

<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass"
  (closeEvent)="hideMessage($event)"></fintrakbanking-message>