<div>

        <p-dataTable [value]="customerExposure">
                <p-column i18n-header field="facilityType" header="Facility Type" [style]="{'width': '200px'}">

                </p-column>
                <p-column i18n-header field="existingLimit" header="Existing Limit">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.existingLimit | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="proposedLimit" header="Proposed Limit">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.proposedLimit | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="recommendedLimit" header="Proposed Limit">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.recommendedLimit | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="change" header="Change">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.change | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="outstandings" header="Outstandings">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.outstandings | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="pastDueObligationsPrincipal" header="Past Due Obligations Principal">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.pastDueObligationsPrincipal | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="pastDueObligationsInterest" header="Past Due Obligations Interest">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.pastDueObligationsInterest | number : '1.2' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="reviewDate" header="Review Date">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                {{ d.reviewDate | date: 'dd-MM-yyyy' }}
                        </ng-template>
                </p-column>
                <p-column i18n-header field="prudentialGuideline" header="Status"></p-column>
                <p-column i18n-header field="loanStatus" header="Loan Status"></p-column>

                <p-column [style]="{'width':'103px'}">
                        <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <div style="text-align:center">
                                        <a (click)="viewDetail(d.loanId,d.productTypeId)" href="javascript:void(0)" i18n>details</a>
                                </div>
                        </ng-template>
                </p-column>
        </p-dataTable>
</div>

<!--         
        <div>
                        <p>Related Party  (List other sister companies under the group and FBN exposures to them)</p>
                        <p-dataTable [value]="customerExposure">
                                        <p-column i18n-header field="facilityType" header="Facility Type">
                                                
                                        </p-column>
                                        <p-column i18n-header field="existingLimit" header="Existing Limit">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.existingLimit | number : '1.2' }}
                                                </ng-template>
                                        </p-column>
                                        <p-column i18n-header field="proposedLimit" header="Proposed Limit">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.proposedLimit | number : '1.2' }}
                                                </ng-template>
                                        </p-column>
                                        <p-column i18n-header field="change" header="Change">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.change | number : '1.2' }}
                                                </ng-template>
                                        </p-column>
                                        <p-column i18n-header field="outstandings" header="Outstandings">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.outstandings | number : '1.2' }}
                                                </ng-template>
                                        </p-column>
                                        <p-column i18n-header field="pastDueObligationsPrincipal" header="Past Due Obligations Principal">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.pastDueObligationsPrincipal | number : '1.2' }}
                                                    </ng-template>
                                        </p-column>
                                        <p-column i18n-header field="pastDueObligationsInterest" header="Past Due Obligations Interest">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.pastDueObligationsInterest | number : '1.2' }}
                                                    </ng-template>
                                        </p-column>
                                        <p-column i18n-header field="reviewDate" header="Review Date">
                                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        {{ d.reviewDate | date: 'dd-MM-yyyy' }}
                                                    </ng-template>
                                        </p-column>
                                    </p-dataTable>

        </div>
    -->