<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <!-- <span [innerHtml]="test"></span> -->
        <!--module header-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 i18n class="panel-title pull-left">
                            Secretariat - Loan Application Search
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <!--endof module header-->
        
        <!-- <expfacility [customerId]="33"></expfacility> -->

        <p-tabView [activeIndex]="activeTabindex" (onChange)="onTabChange($event)">
                
            <p-tabPanel i18n-header  header="Loan Applications">

                <!-- loan applications -->
                <div class="card no-padding">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 i18n class="panel-title pull-left">
                                        Credit Applications
                                    </h2>
            
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">

                            <form novalidate [formGroup]="searchForm" autocomplete="off">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <select (change)="onApplicationTypeChange($event.target.value)" name="applicationTypeId" formControlName="applicationTypeId"
                                                id="applicationTypeId" class="form-control" [ngClass]="!searchForm.controls['applicationTypeId'].valid ? 'required-input' : 'valid-input'">
                                                <option value="null" i18n>-- Select Application Type --</option>
                                                <option *ngFor="let x of applicationTypes" [value]="x.applicationTypeId">{{ x.applicationTypeName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <p-dataTable [value]="applications" [responsive]=true [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">

                                <!-- <p-column [style]="{'width':'10px'}" selectionMode="single"></p-column> -->

                                <p-column i18n-header field="applicationDate" header="Date" [filter]="true" filterMatchMode="contains" [style]="{'width':'60px'}">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.applicationDate | date: 'dd-MM-yyyy' }}
                                    </ng-template>
                                </p-column>

                                <!-- <p-column [style]="{'width':'90px'}" field="accountNumber" header="Account Number" [filter]="true" filterMatchMode="contains"></p-column> -->
                                <p-column i18n-header [style]="{'width':'110px'}" field="applicationReferenceNumber" header="Reference" [filter]="true" filterMatchMode="contains"></p-column>

                                <p-column header="Customer Name/Group" [filter]="false" filterMatchMode="contains" [style]="{'width':'22%'}">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.customerName }} {{ d.customerGroupName }}
                                    </ng-template>
                                </p-column>

                                <p-column [style]="{'width':'120px'}">
                                    <ng-template pTemplate="header"></ng-template>
                                    <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                        <a (click)="view(row)" href="javascript:void(0)"><i class="glyphicon glyphicon-eye"></i><span i18n>Commitee Decision</span></a>
                                    </ng-template>
                                </p-column>  

                            </p-dataTable>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-9 ">
                                    <!-- buttons -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- endof loan applications -->

            </p-tabPanel > 


                <p-tabPanel i18n-header  header="Committee Decision Upload" [disabled]="disableUploadTab">
                    <document-upload 
                        [reload]="reload" [databaseTable]="8"
                        [customerId]="application?.customerId" 
                        [operationId]="application?.operationId" 
                        [targetId]="application?.loanApplicationId"
                        [applicationId]="application?.loanApplicationId" 
                        [referenceNumber]="application?.applicationReferenceNumber" 
                        [deleteLink]="false" [panelTitle]="'Committee Decision'" 
                        (uploadCount)="setUploadCount($event)">
                    </document-upload>
                </p-tabPanel > 

                <p-tabPanel i18n-header  header="Committee Members Decision" [disabled]="disableDecisionTab">
                    
                    <span *ngIf="selectedApplicationTypeId == 1">

                    <div class="panel-body">
                        <div style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">
                            Loans -
                            <small i18n>Select facility to review</small>
                        </div>
                        
                        <p-dataTable [value]="proposedItems" [paginator]="true" [rows]="5" selectionMode="single" (onRowSelect)="onLineRowSelect($event.data)">
                        
                            <p-column i18n-header field="obligorName" header="Customer Name"></p-column>
                            <p-column i18n-header field="proposedProductName" header="Proposed Product"></p-column>
                        
                            <p-column header="Proposed Tenor" [style]="{'width':'100px'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.proposedTenor/30 | number : '1.0-0' }} months
                                </ng-template>
                            </p-column>
                        
                            <p-column i18n-header field="proposedRate" header="Proposed Rate" [style]="{'width':'100px'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.proposedRate | number : '1.2' }}
                                </ng-template>
                            </p-column>
                        
                            <p-column i18n-header field="proposedAmount" header="Proposed Limit" [style]="{'text-align':'right'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.proposedAmount | number : '1.2' }}
                                </ng-template>
                            </p-column>
                        
                            <p-column i18n-header field="currencyCode" header="" [style]="{'width':'43px'}"></p-column>
                        
                            <p-column i18n-header field="exchangeRate" header="Ex. Rate" [style]="{'width':'60px'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.exchangeRate | number : '1.2' }}
                                </ng-template>
                            </p-column>
                        
                            <p-column header="Total Amount" [style]="{'text-align':'right'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    {{ d.proposedAmount * d.exchangeRate | number : '1.2' }}
                                </ng-template>
                            </p-column>
                        
                            <p-column *ngIf="privilege.canApprove" field="statusId" header="Status" [style]="{'color':'#555','text-align':'center','width':'150px'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    <select (change)="onLineItemChange(5,$event.target.value,d.loanApplicationDetailId)">
                                        <option i18n *ngIf="d.statusId != 2 && d.statusId != 3" value="">-- Select Status --</option>
                                        <option  *ngIf="d.statusId != 3" value="3">
                                            <small i18n>Not Supported</small>
                                        </option>
                                        <option *ngIf="d.statusId != 2" value="2">
                                            <small i18n>Supported</small>
                                        </option>
                                        <option *ngIf="d.statusId == 3" value="3" selected="selected">
                                            <small i18n>Not Supported</small>
                                        </option>
                                        <option *ngIf="d.statusId == 2" value="2" selected="selected">
                                            <small i18n>Supported</small>
                                        </option>
                                    </select>
                                </ng-template>
                            </p-column>
                        
                            <p-column i18n-header field="statusId" header="" [style]="{'text-align':'right','width':'30px'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    <span *ngIf="d.statusId == 2">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <span *ngIf="d.statusId == 3">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                </ng-template>
                            </p-column>
                        
                            <p-column i18n-header field="loanApplicationDetailId" header="" [style]="{'text-align':'right','width':'25px'}">
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    <span *ngIf="touchedLineItems.indexOf(d.loanApplicationDetailId) > -1">*</span>
                                </ng-template>
                            </p-column>
                        
                        </p-dataTable>

                    </div>

                    <div class="panel-body">

                        <form [formGroup]="commentForm" novalidate autocomplete="off">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label i18n class="col-md-6">Recommended Product</label>
                                    <label i18n class="col-md-3">Recommended Limit</label>
                                    <label i18n class="col-md-3">Recommended Tenor</label>

                                    <div class="col-md-6">
                                        <select (change)="onLineItemChange(4,$event.target.value)" [attr.disabled]="disableChanges() ? true : null" name="productId"
                                            formControlName="productId" id="productId" class="form-control" [ngClass]="!commentForm.controls['productId'].valid ? 'required-input' : 'valid-input'">
                                            <option value="" i18n>-- Change Product --</option>
                                            <option *ngFor="let x of products" [value]="x.productId">{{ x.productName }}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <input (change)="onLineItemChange(1,$event.target.value)" type="text" [attr.disabled]="disableChanges() ? true : null" name="principal"
                                            formControlName="principal" formatM id="principal" class="numeric form-control" [ngClass]="!commentForm.controls['principal'].valid ? 'required-input' : 'valid-input'">
                                    </div>

                                    <div class="col-md-3">
                                        <input (change)="onLineItemChange(3,$event.target.value)" type="text" [attr.disabled]="disableChanges() ? true : null" name="tenor"
                                            formControlName="tenor" formatM id="tenor" class="numeric form-control" [ngClass]="!commentForm.controls['tenor'].valid ? 'required-input' : 'valid-input'">
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label i18n class="control-label col-md-6">Comment</label>
                                    <label i18n class="control-label col-md-6">Vote</label>
                                    <div class="col-md-6">
                                        <textarea style="height:60px;" name="comment" formControlName="comment" id="comment" class="form-control" [ngClass]="commentForm.controls['comment'].valid ? 'valid-input' : 'required-input'"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <select (change)="onVoteChange($event.target.value)" name="vote" id="vote" class="form-control" formControlName="vote" [ngClass]="commentForm.controls['vote'].valid ? 'valid-input' : 'required-input'">
                                            <option value="" i18n>-- Select Vote --</option>
                                            <option i18n value="3">No</option>
                                            <option i18n value="2">Yes</option>
                                            <option i18n value="8">Represent</option>
                                            <option i18n value="9">Step Down</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- <div formArrayName="members">
                                    <div *ngFor="let x of commentForm.controls.members.controls; let i=index" class="form-group" style="margin-bottom:0px;">
                                        <div [formGroupName]="i">

                                            <label i18n class="control-label col-md-12">{{ x.value.staffName }}</label>
                                            <div class="col-md-10" style="padding-right:3px;">
                                                <input type="text" name="comment" id="comment" class="form-control" formControlName="comment" [ngClass]="commentForm.controls.members.controls[i].controls.comment.valid ? 'valid-input' : 'required-input'">
                                            </div>

                                        </div>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <div class="col-md-2 pull-left">
                                        <button i18n style="margin:10px 0 10px 0;" type="button" (click)="forwardCam()" [disabled]="commentForm.invalid || !(legalLendingLimitImpact > 0)" class="btn btn-success col-md-12">Save</button>
                                        <!-- <button style="margin:10px 0 10px 0;" type="button" (click)="forwardCam()" [disabled]="commentForm.invalid || uploadCount == 0" class="btn btn-success col-md-12">Save</button> -->
                                    </div>
                                </div>
                        
                            </div>

                        </form>
        
                        <!-- <pre>{{ commentForm.value.members[0].comment | json }}</pre> -->
                        <!-- <pre>{{ commentForm.controls.members.controls[0].valid }}</pre> -->
                        <!-- <pre>{{ commentForm.controls.members.controls[0].controls.comment.value }}</pre> -->
                        <!-- <pre>{{ commentForm.controls.members.controls[0].controls.comment.valid }}</pre> -->
                        <div *ngIf="errorMessage.length > 0" class="alert alert-danger col-md-12" role="alert" style="padding:15;">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error: </span>{{ errorMessage }}
                        </div>
<!-- 
                        <div *ngIf="uploadCount == 0" class="alert alert-warning col-md-12" role="alert" style="padding:15;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Info: </span>Please upload minutes first!
                        </div> -->

                    </div>

                    </span>

                    <!-- LMS FORM -->
    
                    <span *ngIf="selectedApplicationTypeId == 2">

                    <div class="panel-body">

                        <form [formGroup]="commentFormLms" novalidate autocomplete="off">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label i18n class="control-label col-md-6">Comment</label>
                                    <label i18n class="control-label col-md-6">Vote</label>
                                    <div class="col-md-6">
                                        <textarea style="height:60px;" name="comment" formControlName="comment" id="comment" class="form-control" [ngClass]="commentFormLms.controls['comment'].valid ? 'valid-input' : 'required-input'"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <select (change)="onVoteChange($event.target.value)" name="vote" id="vote" class="form-control" formControlName="vote" [ngClass]="commentFormLms.controls['vote'].valid ? 'valid-input' : 'required-input'">
                                            <option value="" i18n>-- Select Vote --</option>
                                            <option i18n value="3">No</option>
                                            <option i18n value="2">Yes</option>
                                            <option i18n value="8">Represent</option>
                                            <option i18n value="9">Step Down</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 pull-left">
                                        <button i18n style="margin:10px 0 10px 0;" type="button" (click)="forwardCamLms()" [disabled]="commentFormLms.invalid || uploadCount == 0" class="btn btn-success col-md-12">Save</button>
                                    </div>
                                </div>
                        
                            </div>

                        </form>
        
                        <!-- <pre>{{ commentFormLms.value.members[0].comment | json }}</pre> -->
                        <!-- <pre>{{ commentFormLms.controls.members.controls[0].valid }}</pre> -->
                        <!-- <pre>{{ commentFormLms.controls.members.controls[0].controls.comment.value }}</pre> -->
                        <!-- <pre>{{ commentFormLms.controls.members.controls[0].controls.comment.valid }}</pre> -->

                        <div *ngIf="errorMessage.length > 0" class="alert alert-danger col-md-12" role="alert" style="padding:15;">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error: </span>{{ errorMessage }}
                        </div>
<!--                         
                        <div *ngIf="uploadCount == 0" class="alert alert-warning col-md-12" role="alert" style="padding:15;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Info: </span>Please upload minutes first!
                        </div> -->
                    </div>

                    </span>


                </p-tabPanel >
    


        </p-tabView>

    </div>
</div>





    <!--modal for obligor / Loan details starts-->

    
    <!--modal ends-->
        
    
    <fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>
