<div class="card no-padding">
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                <h2 class="panel-title pull-left">
                    <ng-container i18n>Memo For</ng-container> {{label}}
                </h2>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-9">
                    <form novalidate [formGroup]="documentSectionForm" autocomplete="off">
                        <select (change)="onDocumentSectionChange($event.target.value)"
                            formControlName="sectionId" name="sectionId" id="sectionId"
                            class="form-control">
                            <option value="" i18n>-- Select Document Section --</option>
                            <option *ngFor="let x of documentationSections" [value]="x.sectionId">
                                {{ x.staffRoleName }} :: {{ x.title }}</option>
                        </select>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <button *ngIf="displayDocumentation == false"
                            (click)="previewDocumentation()" style="padding: 3px 6px 3px 6px;">
                            <span class="glyphicon glyphicon-file"></span> <ng-container i18n>Preview</ng-container></button>
                        <button (click)="previewDocumentation(true)"
                            style="padding: 3px 6px 3px 6px;">
                            <span class="glyphicon glyphicon-print"></span> <ng-container i18n>Print</ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Default FAM Preview -->

        <!-- FAM -->
        <div *ngIf="displayDocumentation == false" class="panel-body"
            style="min-height:100vh; height:100vh;">
            <CKEDITOR *ngIf="(editMode == true)" [content]="sectionContent" [height]="250"
                (contentChange)="contentChange($event)"></CKEDITOR>
            <div id="print-selected-section" *ngIf="!(editMode == true)"
                [innerHTML]="sectionContent" style="overflow:auto;height:320px">
            </div>
            <div><i>{{ sectionDescription }}</i></div>
        </div>



        <div class="panel-footer">
            <div class="row" style="padding-left:inherit;">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div *ngIf="showControls == true" class="form-group">
                            <button *ngIf="allowTemplateToLoad == true && canLoadDocument == true" type="button"
                                (click)="getDocumentTemplate()" class="btn btn-warning">
                                <span class="glyphicon glyphicon-plus"
                                    style="padding-right:4px;"></span> <ng-container i18n>Load Template</ng-container></button>

                            <button [disabled]="selectedSectionIdIndex == null" type="button"
                                (click)="nextSection(1)" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"
                                    style="padding-right:4px;"></span><ng-container i18n>Previous</ng-container> </button>

                            <button [disabled]="selectedSectionIdIndex == null" type="button"
                                (click)="nextSection(2)" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-right"
                                    style="padding-right:4px;"></span> <ng-container i18n>Next</ng-container></button>

                            <button [disabled]="!(editMode == true)" type="button"
                                (click)="saveSection(true)" class="btn btn-success"
                                style="margin-right:10px;">
                                <span class="glyphicon glyphicon-floppy-disk"
                                    style="padding-right:4px;"></span> <ng-container i18n>Save Changes</ng-container></button>

                            <button
                                [disabled]="(selectedSectionIdIndex == null || editMode == true)"
                                type="button" (click)="printSelectedSection()"
                                class="btn btn-success" style="margin-right:10px;">
                                <span class="" style="padding-right:4px;"></span><ng-container i18n>Print Section</ng-container> 
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--append modal-->
<p-dialog [responsive]=true [(visible)]="displayAppendModal" [modal]="true" [appendTo]="'body'"
    width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>Load Document Template</h2>
            <div class="pull-right">
                <a class="close" (click)="displayAppendModal=false">&times;</a>
            </div>
        </div>
        <form novalidate [formGroup]="appendForm" autocomplete="off">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="creditTemplateId" class="control-label col-md-4" i18n>Document Template</label>
                        <div class="col-md-8">
                            <select name="creditTemplateId" id="creditTemplateId" formControlName="creditTemplateId"
                                class="form-control"
                                [ngClass]="appendForm.controls['creditTemplateId'].valid ? 'valid-input' : 'required-input'">
                                <option value="" i18n>-- Select Document Template --</option>
                                <option *ngFor="let x of documentTemplates" [value]="x.templateId">{{ x.templateName }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="loadDocumentTemplate(appendForm)" [disabled]="appendForm.invalid"
                            class="btn btn-warning pull-right" i18n>Load Document</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
<!--end of append modal-->

<p-dialog (onHide)='dialogHiding($event)' (onShow)='dialogShowing($event)' [responsive]=true
    [(visible)]="displayDocumentation"
    [contentStyle]="{'overflow':'visible','min-height': '95vh','overflow-y': 'scroll', 'height': '95vh'}"
    [draggable]="false" [appendTo]="'body'" [modal]="true" width="1200">
    <div *ngIf="displayDocumentation" style="margin-bottom:0" class="panel panel-default" style="height: auto;">

        <div class="panel-heading">
            <h2 *ngIf="documentations != null && documentations != undefined && documentations.length > 0"
                class="panel-title">
                APPROVAL MEMO No.:
                <strong>{{ referenceNumber }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="closeDocumentation()">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="height: auto;">
            <div *ngFor="let x of documentations">
                <p><strong>{{x.title}}</strong></p>
                <span [innerHtml]="x.templateDocument"></span>
            </div>
        </div>
    </div>
</p-dialog>

<scroll-to-top-button></scroll-to-top-button>