<div>
    <div class="ui-g-12 ui-md-6 ui-lg-2">
        <div class="ui-g card colorbox colorbox-1">
            <div class="ui-g-6">
                <span class="colorbox-count"><ng-container i18n>Limit</ng-container>
                 {{lsectorLimit | number : '1.2'}}</span>
            </div>
            <div class="ui-g-6">
                <span class="colorbox-count"><ng-container i18n>Exposure</ng-container>
                 {{osectorLimit | number : '1.2'}}</span>
            </div>

        </div>
    </div>
</div>