<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Image Upload
                            </h2>

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="title" class="control-label col-md-2" i18n>
                                Title
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" [(ngModel)]="data.title">
                            </div>
                            <label for="title" class="control-label col-md-2" i18n>
                                Image
                            </label>
                            <div class="col-md-4">
                                <input type="file" #imgFile class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <img *ngIf="imageUrl" style="width: 150px" [src]="'data:image/jpg;base64,'+imageUrl" alt="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="viewdocument" class="col-md-12">
                                <iframe src="htmlContent" width="1080" height="473" marginwidth="0" marginheight="0" frameborder="no" scrolling="yes" style="border-width:2px; border-color:#333; background:#FFF; border-style:solid;">
                                </iframe>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-10">
                                <button (click)="UploadImage()" class="btn btn-primary btn-block" i18n>
                                    Upload
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>