<div class="ui-g">
  <div class="ui-g-12 no-padding">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2 class="panel-title pull-left" i18n>
              Cash Security Release Search
            </h2>
          </div>
        </div>
      </div>
    </div>

    <p-tabView>
      <p-tabPanel header="">

        <!-- loan applications -->
        <div class="card no-padding">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="panel-title pull-left" i18n>
                    Cash Security Release
                  </h2>

                  <div class="pull-right">
                    <button (click)="showSearchForm()" pButton type="button" label="Search" icon="fa-search"></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body">
              <p-tabView>
                <p-tabPanel i18n-header header="Cash Security Release">
                  <p-dataTable [value]="securityRelease" [paginator]="true" [rows]="10"
                    [rowsPerPageOptions]="[10,20,30]">
                    <p-column i18n-header field="dateRecieved" header="Arrival Date" sortable="true" [filter]="true"
                      filterMatchMode="contains">
                      <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                        {{ d.dateRecieved | date: 'dd MMM yyyy' }}
                      </ng-template>
                    </p-column>
                    <p-column i18n-header [style]="{'width':'10%'}" field="applicationReferenceNumber" header="Reference"
                      [filter]="true" filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="customerName" header="Customer Name" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="collateralCode" header="Collateral ID" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header [style]="{'width':'15%'}" field="facility" header="Facility" [filter]="true"
                      filterMatchMode="contains"></p-column>
                    <p-column i18n-header [style]="{'width':'15%'}" field="collateralSummary" header="Collateral Summary"
                      [filter]="true" filterMatchMode="contains"></p-column>
                    <p-column i18n-header field="lienAmount" header="Lien Amount" [filter]="false" filterMatchMode="contains"
                      [style]="{'width':'10%','text-align':'right'}">
                      <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                        {{ d.lienAmount | number : '1.2' }}
                      </ng-template>
                    </p-column>
                    <p-column i18n-header field="approvalStatus" header="Approval Status" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>

                    <p-column i18n-header field="responsiblePerson" header="Responsible Person" sortable="true" [filter]="true"
                      filterMatchMode="contains"></p-column>

                    <p-column i18n-header field="createdByName" header="Created By" sortable="true" [filter]="true"
                      filterMatchMode="contains">
                    </p-column>

                  </p-dataTable>
                </p-tabPanel>
              </p-tabView>

            </div>

            <div class="panel-footer">
              <div class="row">
                <div class="col-md-3 col-md-offset-9 ">
                  <!-- buttons -->
                </div>
              </div>
            </div>

          </div>
        </div>

      </p-tabPanel>
    </p-tabView>

  </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displaySearchForm" id="add-modal" modal="modal" showEffect="fade" width="450">
  <div style="margin-bottom:0" class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title" i18n>
        Cash Search Security Release
      </h2>
    </div>

    <form novalidate [formGroup]="searchForm" autocomplete="off" (ngSubmit)="submitForm(searchForm)">

      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="searchString" class="control-label col-md-12" i18n>Application Reference Number/ Customer Name/Customer Code</label>
            <div class="col-md-12">
              <input type="text" name="searchString" formControlName="searchString" id="searchString"
                class="form-control"
                [ngClass]="!searchForm.controls['searchString'].valid ? 'required-input' : 'valid-input'">
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
            <button type="button" (click)="submitForm(searchForm)" [disabled]="searchForm.invalid"
              class="btn btn-success pull-right" i18n>Search</button>
            <button type="button" (click)="displaySearchForm=false" style="margin-right:5px"
              class="btn btn-danger pull-right" i18n>Cancel</button>
          </div>
        </div>
      </div>

    </form>

  </div>
</p-dialog>

<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass"
  (closeEvent)="hideMessage($event)"></fintrakbanking-message>