<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class=" no-padding">
            <div class="panel panel-default">
               
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Bulk Loan Disbursement Approval
                            </h2>
                            <!-- <div class="pull-right">
                                <button *ngIf="collapseForm==false" (click)="collapseSearchForm(true)" pButton
                                    type="button" label="Collapse upload" icon="fa-arrow-up"></button>
                                <button *ngIf="collapseForm==true" (click)="collapseSearchForm(false)" pButton
                                    type="button" label="Bulk upload" icon="fa-search"></button>
                            </div> -->
                        </div>
                    </div>
                </div>
                
                
                             
               <br> 
               <form novalidate [formGroup]="bulkApprovalForm" autocomplete="off">
                <div >
                    <div class="panel-body">
                        <p-dataTable [value]="bulkLoanEntries" [responsive]=true [paginator]="true" [rows]="15"
                                         [(selection)]="disburseSelection" dataKey="multipleBulkDisbursementId"
                                          [rowsPerPageOptions]="[10,20,30]">
                        <p-column i18n-header i18n-header  [style]="{'width':'50px'}"  selectionMode="multiple" suppressRowClickSelection="false"></p-column> 
                        
                        <p-column i18n-header field="customerCode" header="Customer" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="productName" header="Product" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="productTypeName" header="Product Type" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="loanAmount" header="Loan Amount" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="accountNumber" header="Account Number" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="repaymentScheduleMethodName" header="Schedule Name" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                         <p-column i18n-header field="interestRepaymentFrequencyName" header="Interest Frequency." sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="principalRepaymentFrequencyName" header="Principal Frequency." sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column> 
                        <p-column i18n-header field="passed" header="Passed" sortable="true" [filter]="true" filterMatchMode="contains">
                            <ng-template pTemplate="header" i18n>Status</ng-template>
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                            <span *ngIf="d.passed == true " style="color: green" i18n>Success</span>
                                            <span *ngIf="d.passed == false" style="color: red" i18n>Failed</span>
                                    </ng-template>
                        </p-column>   
                        <p-column i18n-header [style]="{'width':'150px'}" header="Action">
                            <ng-template pTemplate="header" i18n>Action</ng-template>
                                <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                    <a  href="javascript:void(0)" (click)="getSchedules(d)" i18n>View Schedule</a> 
                                </ng-template>
                            </p-column>              
                        </p-dataTable>
                        </div>
                       
                        <div class="col-md-12">
                                <div class="form-group">
                                        <label for="Comment" class="control-label col-md-2" i18n>
                                            Comment
                                        </label>
                                        <div class="col-md-4">
                                     <input name="comment" id="comment"  class="form-control"   formControlName="comment" 
                                     [ngClass]="!bulkApprovalForm.controls['comment'].valid ? 'required-input' : 'valid-input'" placeholder="Enter Comment Here" i18n-placeholder>
                                        </div>
                                        <label for="status" class="control-label col-md-1" i18n>Status</label>
                                        <div class="col-md-2">
                                            <select name="status" id="status" formControlName="status"  [ngClass]="!bulkApprovalForm.controls['status'].valid ? 'required-input' : 'valid-input'" 
                                                class="form-control">
                                                <option value="1" i18n>Approve</option>
                                                <option value="0" i18n>Disapprove</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                                <button class="btn btn-sm btn-primary pull-right" [disabled]="!bulkApprovalForm.valid" (click)="disburseChanged()" i18n>Submit For Approval </button>
                                            </div>
                                    </div>
                        </div>
                </div>  
                </form> 
            </div>
        </div>
        <!-- <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- <fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)">
</fintrakbanking-message> -->



<!--modal ends-->




<p-dialog [responsive]=true resizable="true" [(visible)]="displayScheduleModalForm" id="add-modal" modal="modal" showEffect="fade" width="1200" height="600">
        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div style="margin-left:0" class="row">
                    <h2 class="panel-title pull-left" i18n>
                        Schedule Details
                    </h2>
                    <a href="" (click)="displayScheduleModalForm=false" class="pull-right remove-btn">
                        <i class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>
                </div>
            </div>
            <div style="padding:3px" class="panel-body">
                <fieldset>
                    <!-- <legend style="width: 45%">
                        Details
                    </legend> -->
                    <table style="margin-bottom: 20px">
                        <tr>
                            <td style="font-size: 12px;font-weight: bold;padding: 4px" i18n>Granted Amount</td>
                            <td style="text-align: right;padding-left: 10px;padding: 4px">{{scheduleHeader?.principalAmount}}</td>
                            <td style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px" i18n>Interest Rate</td>
                            <td style="text-align: right;padding: 4px">{{scheduleHeader?.interestRate}} %</td>
                            <td style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px" i18n>Effective Interest Rate</td>
                            <td style="text-align: right;padding: 4px">{{scheduleHeader?.effectiveInterestRate | number: '1.2-2'}} %</td>
                        </tr>
                        <tr>
                            <td style="font-size: 12px;font-weight: bold;padding: 4px" i18n>Effective Date</td>
                            <td style="text-align: right;padding-left: 10px;padding: 4px">{{scheduleHeader?.effectiveDate | date}}</td>
                            <td style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px" i18n>Maturity Date</td>
                            <td style="text-align: right;padding: 4px">{{scheduleHeader?.maturityDate | date}}</td>
                        </tr>
                    </table>
                </fieldset>
    
                <p-dataTable scrollable="true" #dt scrollHeight="300px" [value]="schedules" [responsive]=true selectionMode="single">
                        <p-header>
                                <div class="ui-helper-clearfix">
                                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left" i18n>Export to CSV</button>
                                    <!-- <button type="button" pButton icon="fa-file" iconPos="left" label="Export to Excel" (click)="DownloadSchedule(scheduleGroupForm)" style="float:right"></button> -->
                                </div>
                            </p-header>
                    <p-column i18n-header [style]="{'width':'80px'}" field="paymentNumber" header="No"></p-column>
                    <p-column i18n-header field="paymentDate" header="Payment Date">
                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                            <span>{{schedule[col.field] | date}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="startPrincipalAmount" header="Start Principal">
                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                            <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="periodPaymentAmount" header="Periodic Amount">
                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                            <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="periodPrincipalAmount" header="Principal Amount">
                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                            <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="periodInterestAmount" header="Interest Amount">
                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                            <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="endPrincipalAmount" header="Balance">
                        <ng-template let-col let-schedule="rowData" pTemplate="body">
                            <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="displayScheduleModalForm=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
    
