<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Commercial Loan Review Operation Awaiting Approval
                            </h2>
                            <!-- <div *ngIf="displayCustomerLoanDetails" class="pull-right">
                                    <button pButton type="button" (click)="showLoanReviewForm()" label="Perform Operation" icon="fa-plus"></button>
                                </div> -->
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div *ngIf="displayLoanReviewList" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4">

                            </div>
                        </div>
                        <div class="card no-padding">
                            <p-dataTable [paginator]="true" [value]="approvedLoanReviewData" [rows]="10" (onRowSelect)="onSelectedLoanReviewChange($event)">
                                <p-column i18n-header [style]="{'width':'30px'}" selectionMode="single"></p-column>
                                <p-column i18n-header [style]="{'width':'100px'}" field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header [style]="{'width':'125px'}" field="loanReferenceNumber" header="Loan Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header [style]="{'width':'170px'}" field="customerName" header="Customer's Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <!-- <p-column i18n-header [style]="{'width':'150px'}" field="operationName" header="Operation Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column> -->
                                <p-column i18n-header [style]="{'width':'50px'}" field="divisionShortCode" header="Unit" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header [style]="{'width':'150px'}" field="productName" header="Facility" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column [style]="{'text-align':'right','width':'130px'}" field="approvedAmount" header="Amount" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.principalAmount | currency:item.currencyCode:true:'1.2-2'}}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header [style]="{'width':'50px'}" field="interestRate" header="Interest" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header [style]="{'width':'70px'}" field="approvedTenorString" header="Tenor" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            </p-dataTable>
                        </div>
                    </div>

                    <div *ngIf="displayCustomerLoanDetails" class="form-horizontal">
                        <div class="form-group">
                            <p-tabView>
                                <p-tabPanel i18n-header header="Facility Details">
                                    <div style="margin-bottom:0" class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title" i18n>
                                                Facility Details
                                            </h2>
                                        </div>
                                        <div class="panel-body">
                                            <table *ngIf="selectedLoanReview != null" class="table table-customer-information">
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <strong i18n>Application Reference No:</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.applicationReferenceNumber ? selectedLoanReview.applicationReferenceNumber : 'N/A'}}</td>
                                                        <td>
                                                            <strong i18n>Customer Code</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.customerCode }}</td>
                                                        <td>
                                                            <strong i18n>Customer Group</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.customerGroupName ? selectedLoanReview.customerGroupName : 'N/A'}}</td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Customer Name</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.customerName ? selectedLoanReview.customerName : 'N/A'}}</td>
                                                        <td>
                                                            <strong i18n> Sector Name</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.sectorName }}</td>
                                                        <td>
                                                            <strong i18n> Sub-Sector Name</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.subSectorName }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n> Initiating Officer</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.relationshipOfficerName ? selectedLoanReview.relationshipOfficerName : 'N/A' }}</td>
                                                        <!-- <td>
                                                            <strong i18n>Business Manager</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.relationshipManagerName }}</td> -->
                                                        <td>
                                                            <strong i18n>Branch Name</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.branchName }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n> Facility</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.productName }}</td>
                                                        <td>
                                                            <strong i18n>Facility Type</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.productTypeName ? selectedLoanReview.productTypeName : 'N/A'}}</td>
                                                        <td>
                                                            <strong i18n>Customer Type</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.customerType ? selectedLoanReview.customerType : 'N/A'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n>Approved Limit</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.approvedAmount | currency:selectedLoanReview.currencyCode:true:'1.2-2'}}</td>
                                                        <td>
                                                            <strong i18n> Interest Rate</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.interestRate }}</td>
                                                        <td>
                                                            <strong i18n>Loan Tenor</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.approvedTenorString }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong i18n> Effective Date</strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.effectiveDate ? (selectedLoanReview.effectiveDate | date) : 'N/A'}}</td>
                                                        <td>
                                                            <strong i18n> Expiry Date </strong>
                                                        </td>
                                                        <td>{{ selectedLoanReview.maturityDate ? (selectedLoanReview.maturityDate | date) : 'N/A' }}</td>
                                                        <td>
                                                            <strong i18n>Tenor Left</strong>
                                                        </td>
                                                        <td>{{tenorLeft}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <form *ngIf="displayTenorChangeModal" [formGroup]="tenorChangeForm" autocomplete="off">
                                            <div class="panel-body">
                                                <fieldset style="padding-left:14px">
                                                    <legend><strong i18n>Operation Performed: Tenor Change</strong></legend>
                                                    <div class="form-group">
                                                        <label for="newTenor" class="control-label col-md-2" i18n>Added Tenor (days)</label>
                                                        <div class="col-md-4 ">
                                                            {{ selectedLoanReview.newTenor }}
                                                        </div>
                                                        <label for="newMaturity" class="control-label col-md-2" i18n>New Expiry Date</label>
                                                        <div class="col-md-4 ">
                                                            <input type="text" [attr.disabled]="true" name="newMaturity" formControlName="newMaturity" id="newMaturity" class="form-control" [ngClass]="!tenorChangeForm.controls['newMaturity'].valid ? 'required-input' : 'valid-input'">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newTenorLeft" class="control-label col-md-2" i18n>New Tenor Left (days)</label>
                                                        <div class="col-md-4 ">
                                                            <input type="text" [attr.disabled]="true" name="newTenorLeft" value="{{newTenorLeft}}" id="tempTenor" class="form-control">
                                                        </div>

                                                        <label for="totalTenor" class="control-label col-md-2" i18n>Total Tenor (days)</label>
                                                        <div class="col-md-4 ">
                                                            <input type="text" [attr.disabled]="true" name="totalTenor" value="{{totalTenor}}" id="totalTenor" class="form-control">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <button type="button" (click)="approve()" class="btn btn-success" i18n>Approve</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form *ngIf="displayInterestChangeModal" [formGroup]="interestRateChangeForm" autocomplete="off">
                                            <div class="panel-body">
                                                <fieldset style="padding-left:14px">
                                                    <legend><strong i18n>Operation Performed: Interest Rate Change</strong></legend>
                                                    <div class="form-group">
                                                        <label for="New Interest Rate" class="control-label col-md-2" i18n>New Interest Rate</label>
                                                        <div class="col-md-4 ">
                                                            {{ selectedLoanReview.newinterestRate }}
                                                            <!-- <input type="text" name="newInterestRate" formControlName="newInterestRate" id="newInterestRate" class="form-control" [ngClass]="!interestRateChangeForm.controls['newInterestRate'].valid ? 'required-input' : 'valid-input'"> -->
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="" formatM class="control-label col-md-2"></label>
                                                        <div class="col-md-4 ">
                                                            <button type="button" (click)="approveInterestRate()" class="btn btn-success" i18n>Approve</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </form>
                                        <form *ngIf="displaySubAllocationChangeModal" [formGroup]="subAllocationForm" autocomplete="off">
                                            <div class="panel-body">
                                                <fieldset style="padding-left:14px">
                                                    <legend><strong i18n>Principal Sub-Allocation</strong></legend>
                                                    <div class="form-group">
                                                        <div class="col-md-12 ">
                                                            <p-dataTable *ngIf="showFirstGrid" [paginator]="false" [value]="sourceValues" [rows]="5" (onRowSelect)="onSubAllocateLoanChange($event)" [selection]="true">
                                                                <p-header i18n>Running Commercial Loan For Sub-Allocation </p-header>
                                                                <p-column [style]="{'width':'30px'}" selectionMode="single"></p-column>
                                                                <p-column i18n-header field="loanReferenceNumber" header="Loan Reference No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                                                <p-column i18n-header field="principalAmount" header="Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                                                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                                                        <span [style]="{'width':'150px','text-align':'right'}">{{row.principalAmount | number:'1.2'}}</span>
                                                                    </ng-template>
                                                                </p-column>
                                                                <p-column i18n-header field="newPrincipalAmount" header="New Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                                                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                                                        <span [style]="{'width':'150px','text-align':'right'}">{{row.newPrincipalAmount | number:'1.2'}}</span>
                                                                    </ng-template>
                                                                </p-column>
                                                                <p-footer>
                                                                    <div class="pull-left" ><ng-container i18n>All Selected Loan Principal: </ng-container>
                                                                    <b>{{allSelectedPrincipalAmount | number:'1.2'}}</b></div><ng-container i18n>Sub Allocation Principal Sum:  </ng-container><b>{{ subAllocationPrincipalAmount | number:'1.2'}}</b></p-footer>
                                                            </p-dataTable>
                                                            <p-dataTable *ngIf="!showFirstGrid" [paginator]="false" [value]="sourceValues" [rows]="5" (onRowSelect)="onSubAllocateLoanChange($event)" [selection]="true">
                                                                <p-header i18n>Running Commercial Loan For Sub-Allocation </p-header>
                                                                <p-column [style]="{'width':'30px'}" selectionMode="single"></p-column>
                                                                <p-column i18n-header field="loanReferenceNumber" header="Loan Reference No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                                                <p-column i18n-header field="principalAmount" header="Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                                                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                                                        <span [style]="{'width':'150px','text-align':'right'}">{{row.principalAmount | number:'1.2'}}</span>
                                                                    </ng-template>
                                                                </p-column>
                                                                <p-column i18n-header field="newPrincipalAmount" header="New Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                                                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                                                        <span [style]="{'width':'150px','text-align':'right'}">{{row.newPrincipalAmount | number:'1.2'}}</span>
                                                                    </ng-template>
                                                                </p-column>
                                                                <p-footer>
                                                                    <div class="pull-left"><ng-container i18n>All Selected Loan Principal:</ng-container><b>{{allSelectedPrincipalAmount | number:'1.2'}}</b></div><ng-container i18n>Sub Allocation Principal Sum:</ng-container>
                                                                    <b>{{ subAllocationPrincipalAmount | number:'1.2'}}</b></p-footer>
                                                            </p-dataTable>
                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <div class="form-group">
                                                        <label for="submit" class="control-label col-md-2"></label>
                                                    </div>
                                                    <hr>
                                                </fieldset>
                                            </div>
                                        </form>
                                        <!-- <form *ngIf="displayFacilityLineAmountChangeModal" [formGroup]="facilityAmountForm">
                                                <div class="panel-body">
                                                  <fieldset style="padding-left:14px">
                                                      <legend><strong i18n>Operation Performed: Line Facility Amount Change</strong></legend>
                                                      <div class="form-group">
                                                          <label for="newPrincipalAmount" class="control-label col-md-2">New Line Amount</label>
                                                          <div class="col-md-4 ">
                                                                {{ selectedLoanReview.newLineAmount }}
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="" formatM class="control-label col-md-2"></label>
                                                          <div class="col-md-4 ">
                                                              <button type="button" (click)="approveamountchange()"  class="btn btn-success">Approve</button>
                                                          </div>
                                                      </div>
                                                  </fieldset>
                                                </div>
                                            </form> -->

                                        <div *ngIf="displayMaturityIntructionModal" class="panel-body">
                                            <fieldset style="padding-left:14px">
                                                <legend><strong i18n>Operation Performed: Roll Over</strong></legend>
                                                <div class="form-group">
                                                    <label for="newTenor" class="control-label col-md-2" i18n>Tenor (days)</label>
                                                    <div class="col-md-4 ">
                                                        {{ selectedLoanReview.newTenor }}
                                                        <!-- <input type="text" name="newTenor" formControlName="newTenor" id="tempTenor" class="form-control" [ngClass]="!tenorChangeForm.controls['newTenor'].valid ? 'required-input' : 'valid-input'"> -->
                                                    </div>
                                                    <label for="instructionTypeName" class="control-label col-md-2" i18n> Instruction</label>
                                                    <div class="col-md-4 ">
                                                        {{ selectedLoanReview.instructionTypeName }}
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <button type="button" (click)="approveAutoRollOver()" class="btn btn-success" i18n>Approve</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                        <!-- <form *ngIf="displayAutomaticRolloverModal" [formGroup]="autoRollOverForm"> -->
                                        <div *ngIf="displayAutomaticRolloverModal" class="panel-body">
                                            <fieldset style="padding-left:14px">
                                                <legend><strong i18n>Operation Performed: Automatic Roll Over</strong></legend>
                                                <div class="form-group">
                                                    <label for="newTenor" class="control-label col-md-2" i18n>Tenor (days)</label>
                                                    <div class="col-md-4 ">
                                                        {{ selectedLoanReview.newTenor }}
                                                        <!-- <input type="text" name="newTenor" formControlName="newTenor" id="tempTenor" class="form-control" [ngClass]="!tenorChangeForm.controls['newTenor'].valid ? 'required-input' : 'valid-input'"> -->
                                                    </div>
                                                    <label for="instructionTypeName" class="control-label col-md-2" i18n> Instruction</label>
                                                    <div class="col-md-4 ">
                                                        {{ selectedLoanReview.instructionTypeName }}
                                                    </div>
                                                </div>

                                            </fieldset>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <button type="button" (click)="approveRollOver()" class="btn btn-success " i18n>Approve</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </form> -->

                                    </div>
                                </p-tabPanel>
                                <p-tabPanel i18n-header header="Form 3800B">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <button (click)="previewDocumentation()" style="padding: 3px 6px 3px 6px;">
                                                                    <span class="glyphicon glyphicon-file"></span>
                                                                <ng-container i18n> Preview FAM Document</ng-container>
                                                                </button>
                                                <!-- <button (click)="print()" style="padding: 3px 6px 3px 6px;">
                                                                    <span class="glyphicon glyphicon-print"></span> Print</button> -->
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-bottom:5px">

                                            <app-form-3800b-lms [applicationReferenceNumber]="selectedLoanReview?.lmsApplicationReferenceNumber"></app-form-3800b-lms>
                                            <!-- <iframe [src]="reportSrc" id="report" name="report" frameborder="2" height="500px" width="1000px" style="overflow:auto"></iframe> -->
                                            <!-- <div [innerHTML]="originalForm3800bSrc.documentTemplate" id="letter" class="paper" style="overflow:auto;height:300px"></div> -->
                                            <!-- <CKEDITOR *ngIf="editMode" [(content)]="originalForm3800bSrc.documentTemplate" [height]="250"></CKEDITOR> -->
                                        </div>
                                    </div>


                                </p-tabPanel>
                            </p-tabView>
                            <p-tabPanel i18n-header header="Supporting Documents">
                                {{loanSelectedData?.loanReviewApplicationId}} | {{loanSelectedData?.applicationReferenceNumber}}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title" i18n>
                                            Supporting Documents
                                            <!-- {{ supportingDocuments.length }} -->
                                        </h2>
                                    </div>
                                    <div class="panel-body">

                                        <p-dataTable [value]="supportingDocuments" [paginator]="true" [rows]="5">
                                            <p-column i18n-header field="documentTitle" header="Document Title" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                            <p-column i18n-header field="fileExtension" header="Type" [filter]="true" filterMatchMode="contains" [style]="{'width':'60px'}"></p-column>

                                            <p-column [style]="{'width':'150px'}">
                                                <ng-template pTemplate="header"> </ng-template>
                                                <ng-template pTemplate="body" let-d="rowData" let-i="rowIndex">
                                                    <a *ngIf="['jpg','jpeg', 'png'].indexOf(d.fileExtension.toLowerCase()) > -1" (click)="viewDocument(d)" href="javascript:void(0)" i18n>View</a>
                                                    <a *ngIf="['doc','docx', 'pdf','xls', 'xlsx'].indexOf(d.fileExtension.toLowerCase()) > -1" (click)="DownloadDocument(d.documentId)" href="javascript:void(0)" i18n>Download</a>
                                                </ng-template>
                                            </p-column>

                                        </p-dataTable>
                                    </div>
                                </div>
                            </p-tabPanel>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" *ngIf="displayBackToList" (click)="backToLoanReviewList()" class="btn btn-primary pull-right" i18n>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <p-dialog [responsive]="true" [(visible)]="displayLoanReviewOperationModal" id="limit-def-modal" modal="modal" showEffect="fade"
        width="500">
        <div style="margin-bottom:0" class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="panel-title pull-left">
                            {{entityName}}
                        </h2>
                        <a (click)="displayLoanReviewOperationModal = false; data.operationTypeId=null" class="pull-right remove-btn">
                          <i class="glyphicon glyphicon-remove-sign"></i>
                      </a>
                    </div>
                </div>
            </div>
      
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4">Operation Type</label>
                        <div class="col-md-8">
                            <select name="operationTypeId" [(ngModel)]="data.operationTypeId" (change)="onOperationTypeChange($event.target.value)" class="form-control"
                                [ngClass]="!data.operationTypeId ? 'required-input' : 'valid-input'">
                                <option value="" [selected]="true" >--- Select Operation Type ---</option>
                                <option *ngFor="let pc of operationTypes" value="{{pc.operationTypeId}}">
                                    {{pc.operationTypeName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </p-dialog> -->

<!-- <p-dialog [responsive]="true" [(visible)]="displayRolloverModal" id="rollover-modal" modal="modal" showEffect="fade"
        width="1100">
        <div *ngIf="selectedLoanReview != null || selectedLoanReview != undefined">
          <app-cp-rollover [LoadLoanDetails]="termLoanId" ></app-cp-rollover>
        </div>
      
        <div class="panel-footer">
          <div class="row">
              <div class="col-md-12">
                  <button type="button" (click)="displayRolloverModal=false" style="margin-right:5px" class="btn btn-danger pull-right">Close</button>
              </div>
          </div>
      </div>
      </p-dialog> -->

<!-- <p-dialog [responsive]="true" [(visible)]="displayAutomaticRolloverModal" id="maturity-instruction-modal" modal="modal" showEffect="fade"
        width="1100">
      
        <div *ngIf="selectedLoanReview != null || selectedLoanReview != undefined">
          <app-maturity-instruction [LoadLoanDetails]="termLoanId" ></app-maturity-instruction>
        </div>
      
        <div class="panel-footer">
          <div class="row">
              <div class="col-md-12">
                  <button type="button" (click)="displayRolloverModal=false" style="margin-right:5px" class="btn btn-danger pull-right">Close</button>
              </div>
          </div>
      </div>
      </p-dialog> -->

<!-- <p-dialog [responsive]="true" [(visible)]="displayInterestChangeModal2" id="rollover-modal" modal="modal" showEffect="fade"
        width="1100">
        <app-cp-interest-rate-change [LoadLoanDetails]="termLoanId"></app-cp-interest-rate-change>
        <div class="panel-footer">
          <div class="row">
              <div class="col-md-12">
                  <button type="button" (click)="displayInterestChangeModal=false" style="margin-right:5px" class="btn btn-danger pull-right">Close</button>
              </div>
          </div>
      </div>
      </p-dialog> -->

<!-- <p-dialog [responsive]="true" [(visible)]="displayTenorChangeModal" id="rollover-modal" modal="modal" showEffect="fade"
        width="1100">
        <app-cp-tenor-change [LoadLoanDetails]="termLoanId"></app-cp-tenor-change>
        <div class="panel-footer">
          <div class="row">
              <div class="col-md-12">
                  <button type="button" (click)="displayTenorChangeModal=false" style="margin-right:5px" class="btn btn-danger pull-right">Close</button>
              </div>
          </div>
      </div>
      </p-dialog> -->

<!-- <p-dialog [responsive]="true" [(visible)]="displaySubAllocationChangeModal" id="rollover-modal" modal="modal" showEffect="fade"
        width="1100">
        <app-cp-sub-allocation [LoadLoanDetails]="termLoanId" [ShowSubAllocation]="displaySubAllocationChangeModal"></app-cp-sub-allocation>
        <div class="panel-footer">
          <div class="row">
              <div class="col-md-12">
                  <button type="button" (click)="displaySubAllocationChangeModal=false" style="margin-right:5px" class="btn btn-danger pull-right">Close</button>
              </div>
          </div>
      </div>
      </p-dialog> -->
<p-dialog [responsive]=true [(visible)]="displayDocument" modal="modal" showEffect="fade" width="1200">
    <div style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                <ng-container i18n>Document Title:</ng-container>
                <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayDocument=false">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:450px">

            <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;" [src]="'data:image/jpg;base64,'+binaryFile" alt="" class="img-thumbnail">

        </div>

    </div>
</p-dialog>
<p-dialog [responsive]="true" [(visible)]="displayLoanReviewOperationModal" id="limit-def-modal" modal="modal" showEffect="fade" width="600">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="panel-title pull-left" i18n>
                        Approve Line Operation
                    </h2>
                    <a (click)="displayLoanReviewOperationModal = false" class="pull-right remove-btn">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4" i18n>Comment</label>
                    <div class="col-md-8">
                        <textarea [ngClass]="!comment ? 'required-input' : 'valid-input'" class="form-control" [(ngModel)]="comment" name="comment" cols="15" rows="3"></textarea>
                    </div>
                    <label class="col-md-4" i18n>Status</label>
                    <div class="col-md-8">
                        <select name="approvalStatusId" id="approvalStatusId" class="form-control" [(ngModel)]="approvalStatusId" [ngClass]="!approvalStatusId ? 'required-input' : 'valid-input'">
                                <option value="" i18n>--- Select Approval Status ---</option>
                                <option value="2" i18n>Approved</option>
                                <option value="3" i18n>Disapproved</option>
                                <option value="5" i18n>Referred</option>
                                <!-- <option *ngFor="let item of approvalStatusData" [value]="item.approvalStatusId">{{item.approvalStatusName}}</option> -->
                              </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- end panel-body -->
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button (click)="displayLoanReviewOperationModal = false" type="button" class="btn btn-danger" style="margin-right:5px" i18n>Close</button>
                        <button [disabled]="!comment || !approvalStatusId" type="button" (click)="goForApproval(selectedLoanReview)" class="btn btn-success" i18n>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>


<!--modal for all documentation -->

<p-dialog [responsive]=true [(visible)]="displayDocumentation" modal="modal" showEffect="fade" width="1200">
    <div *ngIf="displayDocumentation" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title" >
               <ng-container i18n> Appraisal Documentation for REFERENCE:</ng-container>
                <strong>{{ selectedLoanReview?.applicationReferenceNumber }}</strong> of OBLIGOR:
                <strong>{{ selectedLoanReview?.customerName }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="closeDocumentation()">&times;</a>
            </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:450px">
            <div *ngFor="let x of documentations">
                <p><strong>{{x.title}}</strong></p>
                <span [innerHtml]="x.templateDocument"></span>
            </div>
        </div>

    </div>
</p-dialog>