<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Contigent Facility Release Approval
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- <div class="panel-body" *ngIf="!isContigent">
                    <p-dataTable [rows]="10" [paginator]="true" [value]="loanApprovalData" [responsive]=true
                        selectionMode="single" [(selection)]="loanSelection" (onRowSelect)="viewLoanDetails()">
                        <p-header>Loans </p-header>
                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                        <p-column field="timeIn" header="Arrival Date" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.timeIn | date : 'dd/MM/yyyy' }}
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'80px'}" field="timeLapse" header="Time In"></p-column>
                        <p-column field="loanReferenceNumber" header="Loan Account Number" sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column field="customerName" header="Customer Name " sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="productName" header="Facility" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column field="principalAmount" header="Loan Amount " sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.principalAmount | currency:ln.currencyCode:true: '1.2-2' }}
                            </ng-template>
                        </p-column>
                        <p-column field="dateTimeCreated" header="Booked Date" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.bookingDate | date : 'dd/MM/yyyy' }}
                            </ng-template>
                        </p-column>
                        <p-column field="lastComment" header="Comment"></p-column>
                    </p-dataTable>
                </div>  -->
                <!-- <div class="panel-body" *ngIf="!isContigent">
                    <p-dataTable [rows]="10" [paginator]="true" [value]="revolvingLoanApprovalData" [responsive]=true
                        selectionMode="single" [(selection)]="loanSelection" (onRowSelect)="viewLoanDetails()">
                        <p-header>Revolving Facility</p-header>
                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                        <p-column field="timeIn" header="Arrival Date" sortable="true" [filter]="true"
                        filterMatchMode="contains">
                        <ng-template let-col let-ln="rowData" pTemplate="body">
                            {{ln.timeIn | date : 'dd/MM/yyyy' }}
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width':'80px'}" field="timeLapse" header="Time In"></p-column>
                        <p-column field="loanReferenceNumber" header="Facility Account No." sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column field="customerName" header="Customer Name " sortable="true" [filter]="true"
                            filterMatchMode="contains"></p-column>
                        <p-column field="productName" header="Facility" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column field="overdraftLimit" header="Overdraft Limit " sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.overdraftLimit | currency:ln.currencyCode:true: '1.2-2' }}
                            </ng-template>
                        </p-column>
                        <p-column field="dateTimeCreated" header="Book Date" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.bookingDate | date : 'dd/MM/yy' }}
                            </ng-template>
                        </p-column>
                        <p-column field="lastComment" header="Comment"></p-column>
                    </p-dataTable>
                </div>  -->

                <div class="panel-body">
                    <p-dataTable [rows]="10" [paginator]="true" [value]="contingentLoanApprovalData" [responsive]="true" selectionMode="single" [(selection)]="loanSelection" (onRowSelect)="viewLoanDetails()">
                        <p-header i18n>Contingent Facility</p-header>
                        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                        <!-- <p-column field="timeIn" header="Arrival Date" sortable="true" [filter]="true"
                            filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.timeIn | date : 'dd/MM/yyyy' }}
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'80px'}" field="timeLapse" header="Time In"></p-column> -->
                        <p-column i18n-header [style]="{'width':'70px'}" field="divisionShortCode" header="Unit" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="systemArrivalDateTime" [style]="{'width':'90px'}" header="Arrival Date" sortable="true" [filter]="true" filterMatchMode="contains">
                            <ng-template let-i="rowIndex" let-row="rowData" pTemplate type="body">
                                {{ row.systemArrivalDateTime | date: 'medium' }}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="loanReferenceNumber" header="Facility Account No." sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="customerName" header="Customer Name " sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="productName" header="Facility" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="contingentAmount" header="Contingent Amount " sortable="true" [filter]="true" filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.contingentAmount | currency:ln.currencyCode:true: '1.2-2'}}
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="dateTimeCreated" header="Book Date" sortable="true" [filter]="true" filterMatchMode="contains">
                            <ng-template let-col let-ln="rowData" pTemplate="body">
                                {{ln.bookingDate | date : 'dd/MM/yy' }}
                            </ng-template>
                        </p-column>
                        <!-- <p-column field="lastComment" header="Comment"></p-column> -->
                        <!-- <p-column [style]="{'width':'60px'}">
                            <ng-template pTemplate="header">
                                View
                            </ng-template>
                            <ng-template let-staff="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="viewContigentLoanDetails(i, $event)" style="display: block" href="#">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            </ng-template>
                        </p-column> -->



                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [responsive]=true [(visible)]="displayLoanToApproveModal" [draggable]="false" appendToBody="true" modal="modal" showEffect="fade" width="950">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h2 class="panel-title">
                    {{ pageText }} :: {{loanSelectedData.customerName}}
                </h2>
                <div class="pull-right">
                    <a class="close" (click)="displayLoanToApproveModal=false">&times;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <p-tabView>
            <p-tabPanel i18n-header header="Loan Disbursement Approval">
                <div class="panel-body" style="overflow:scroll; height:300px">
                    <form novalidate [formGroup]="operationForm" autocomplete="off">
                        <table class="table table-customer-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong i18n>Application Reference Number</strong>
                                    </td>
                                    <td>{{ loanSelectedData.applicationReferenceNumber }}</td>
                                    <td>
                                        <strong i18n>Loan Type</strong>
                                    </td>
                                    <td>{{ loanSelectedData.loanTypeName }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Is Related Party</strong>
                                    </td>
                                    <td *ngIf="loanSelectedData?.isRealatedParty"> Yes</td>
                                    <td *ngIf="!loanSelectedData?.isRealatedParty"> No</td>
                                    <td>
                                        <strong i18n>Politically Exposed?</strong>
                                    </td>
                                    <td *ngIf="loanSelectedData?.isPoliticallyExposed"> Yes</td>
                                    <td *ngIf="!loanSelectedData?.isPoliticallyExposed"> No</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Sector</strong>
                                    </td>
                                    <td>{{ loanSelectedData.sectorName }}/{{ loanSelectedData.subSectorName }}</td>
                                    <td>
                                        <strong i18n>Branch</strong>
                                    </td>
                                    <td>{{ loanSelectedData.branchName }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Relationship Manager</strong>
                                    </td>
                                    <td>{{ loanSelectedData.relationshipManagerName }}</td>
                                    <td>
                                        <strong i18n>Relationship officer</strong>
                                    </td>
                                    <td>{{ loanSelectedData.relationshipOfficerName }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Investment Grade?</strong>
                                    </td>
                                    <td *ngIf="loanSelectedData?.isInvestmentGrade"> Yes</td>
                                    <td *ngIf="!loanSelectedData?.isInvestmentGrade"> No</td>
                                    <td>
                                        <strong i18n>Product Name</strong>
                                    </td>
                                    <td>{{ loanSelectedData?.productName }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Product Type</strong>
                                    </td>
                                    <td>{{ loanSelectedData.productTypeName}}</td>
                                    <td>
                                        <strong i18n>Approved Amount</strong>
                                    </td>
                                    <td>{{loanSelectedData.approvedAmount | currency:loanSelectedData.currencyCode:true: '1.2-2'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Disbursable Amount</strong>
                                    </td>
                                    <td>{{ loanSelectedData.disbursableAmount | currency:loanSelectedData.currencyCode:true: '1.2-2'}}</td>
                                    <td>
                                        <strong i18n>Account Number</strong>
                                    </td>
                                    <td>{{ loanSelectedData.casaAccountDetails }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Effective Date</strong>
                                    </td>
                                    <td>{{ loanSelectedData.effectiveDate | date: 'dd-MM-yyyy'}}</td>
                                    <td>
                                        <strong i18n>Interest</strong>
                                    </td>
                                    <td>{{ loanSelectedData.interestRate }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong i18n>Tenor</strong>
                                    </td>
                                    <td>{{ loanSelectedData.approvedTenorString }}</td>
                                    <td>
                                        <strong i18n>Loan status</strong>
                                    </td>
                                    <td>{{ loanSelectedData.loanStatusName }}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{casaAccountText}}</strong></td>
                                    <td>
                                        <strong>{{productAccountNumber1}}</strong>
                                    </td>
                                    <td *ngIf="isCommercialLoan || isIDF"><strong>{{casaAccountText}}</strong></td>
                                    <td *ngIf="isCommercialLoan || isIDF">
                                        <strong>{{productAccountNumber2}}</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong i18n>Comment</strong>
                                    </td>
                                    <td>
                                        <textarea formControlName="comment" [ngClass]="!loanSelectedData.comment ? 'required-input' : 'valid-input'" class="form-control" [(ngModel)]="loanSelectedData.comment" name="comment" cols="15" rows="3"></textarea>
                                    </td>
                                    <td>
                                        <strong i18n>Status</strong>
                                    </td>
                                    <td>
                                        <select name="approvalStatus" formControlName="approvalStatusId" (change)="resetButton($event.target.value)" id="approvalStatus" class="form-control" [(ngModel)]="loanSelectedData.loanApprovalStatusId" [ngClass]="!loanSelectedData.loanApprovalStatusId ? 'required-input' : 'valid-input'">
                                            <option value="" i18n>--- Select Approval Status ---</option>
                                            <option *ngFor="let item of approvalStatusData" [value]="item.approvalStatusId">{{item.approvalStatusName}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                </div>
            </p-tabPanel>
            <p-tabPanel i18n-header header="Approval Comments">
                <p-dataTable [value]="approvalWorkflowData" [paginator]="true" [rows]="5" [responsive]="true">
                    <p-column i18n-header field="requestStaffName" header="Intiated By"></p-column>
                    <p-column i18n-header field="requestApproval Level" header="Initiator Approval Level"></p-column>
                    <!-- <p-column field="responseStaffName" header="Directed To"></p-column> -->
                    <p-column i18n-header field="responseApproval Level" header="Response Approval Level"></p-column>
                    <p-column i18n-header field="approvalStatus" header="Approval Status"></p-column>
                    <p-column i18n-header field="comment" header="Comment"></p-column>
                    <p-column i18n-header field="systemArrivalDate" header="Date of Arrival">
                        <ng-template let-col let-apr="rowData" pTemplate="body">
                            {{apr[col.field] | date: 'medium'}}
                        </ng-template>
                    </p-column>
                    <p-column i18n-header field="systemResponseDate" header="Date of Response">
                        <ng-template let-col let-apr="rowData" pTemplate="body">
                            {{apr[col.field] | date: 'medium' }}
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </p-tabPanel>
            <!-- <p-tabPanel i18n-header header="Customer Information">
                    <app-customer-information-detail [loanApplicationId]="loanApplId">
                    </app-customer-information-detail>
                </p-tabPanel> -->
            <p-tabPanel i18n-header header="Other Information">
                <div class="panel-body">
                    <p-accordion #accordion>
                        <p-accordionTab i18n-header *ngIf="loanSelectedData != null" [selected]="true" header="Customer Information">
                            <div class="panel-body" style="overflow:auto; height:250px">
                                <app-customer-information-detail [loadWithCustomerId]="loanSelectedData.customerId">
                                </app-customer-information-detail>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab i18n-header header="Loan Collateral(s)">
                            <div class="panel-body" style="overflow:auto; height:250px">
                                <p-dataTable id="loanCollateralList" [value]="loanSelectedData.loanCollateral" [responsive]="true" [paginator]="false" [rows]="5">
                                    <p-column i18n-header field="collateralTypeName" header="Type" [style]="{'width':'280px'}" sortable="true" filterMatchMode="contains"></p-column>
                                    <p-column i18n-header field="currencyCode" header="" [style]="{'text-align':'right','width':'40px'}" sortable="true" filterMatchMode="contains"></p-column>
                                    <p-column i18n-header field="collateralValue" header="Value" sortable="true" filterMatchMode="contains">
                                        <ng-template pTemplate="body" let-item="rowData">
                                            {{item.collateralValue | number:'1.2'}}
                                        </ng-template>
                                    </p-column>
                                    <p-column i18n-header field="haircut" header="Haircut" sortable="true" filterMatchMode="contains"></p-column>
                                    <p-column i18n-header field="valuationCycle" header="Valuation Cycle" sortable="true" filterMatchMode="contains"></p-column>
                                    <p-column i18n-header field="allowSharing" header="share Allowed" sortable="true" filterMatchMode="contains"> </p-column>
                                    <p-footer> </p-footer>
                                </p-dataTable>
                            </div>

                        </p-accordionTab>

                        <p-accordionTab i18n-header header="Loan Monitoring Trigger">
                            <div class="panel-body">
                                <p-dataTable [value]="loanSelectedData.monitoringTriggers" [responsive]="true" [paginator]="false" [rows]="5">
                                    <p-column i18n-header field="monitoringTrigger" header="Monitoring Trigger"></p-column>
                                    <!-- <p-footer> Number of Guarantors: {{loanSelectedData.monitoringTriggers.count}}</p-footer> -->
                                </p-dataTable>
                            </div>
                        </p-accordionTab>

                        <p-accordionTab i18n-header header="Loan Documents">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title" i18n>
                                        Supporting Documents
                                        <!-- <small>- {{ workingLoanApplication }}</small> -->
                                    </h2>
                                </div>

                                <div class="panel-body">
                                    <document-upload [reload]="reload" [operationId]="loanSelection?.appraisalOperationId" [customerId]="loanSelection?.customerId" [isOperationSpecific]="false" [customerGroupId]="loanSelection?.customerGroupId" [targetId]="loanSelection?.loanApplicationId"
                                        [targetReferenceNumber]="loanSelection?.relatedReferenceNumber == null ? loanSelection?.applicationReferenceNumber : loanSelection?.relatedReferenceNumber">
                                    </document-upload>

                                    <!-- <p-dataTable [value]="supportingDocuments" [paginator]="true" [rows]="5">
                                        <p-column field="documentTitle" header="Document Title" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column field="fileExtension" header="Type" [filter]="true" filterMatchMode="contains"
                                            [style]="{'width':'60px'}"></p-column>
                                        <p-column field="physicalFileNumber" header="File Number" sortable="true"
                                            [filter]="true" filterMatchMode="contains" [style]="{'width':'150px'}"></p-column>
                                        <p-column field="physicalLocation" header="Physical Location" sortable="true"
                                            [filter]="true" filterMatchMode="contains"></p-column>
                                        <p-column [style]="{'width':'100px'}">
                                            <ng-template pTemplate="header"> </ng-template>
                                            <ng-template pTemplate="body" let-d="rowData" let-i="rowIndex">
                                                <a *ngIf="['jpg','jpeg', 'png'].indexOf(d.fileExtension.toLowerCase()) > -1"
                                                    (click)="viewDocument(d.documentId)" href="javascript:void(0)">View</a>
                                                <a *ngIf="['doc','docx', 'pdf','xls', 'xlsx'].indexOf(d.fileExtension.toLowerCase()) > -1"
                                                    (click)="DownloadDocument(d.documentId)" href="javascript:void(0)">Download</a>
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable> -->
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </p-tabPanel>
            <!-- <p-tabPanel i18n-header header="Job Requests" [disabled]="loanSelectedData == null">
                <div *ngIf="loanSelectedData.loanApplicationDetailId != null" >
                    <job-request-template [hideCloseButton]="true" [targetId]="loanSelectedData.loanApplicationDetailId" [operationAvailable]="true" [operationsId]="loanSelectedData.operationId">
                    </job-request-template>
                </div>

                <div class="panel-body" style="overflow:auto;height:250px">
                    <job-request-view [loanApplicationId]="loanSelectedData.loanApplicationId" [loanApplicationDetailId]="loanSelectedData.loanApplicationDetailId"
                        [showTitle]="false">
                    </job-request-view>
                </div>
            </p-tabPanel> -->
            <!-- <p-tabPanel i18n-header header="CRMS Regulatory" *ngIf="isCRMSstaff">
                <crms-regulatories [loanSystemTypeId]="loanSystemTypeId" [loanId]="loanId" [isLms]="isLms">
                </crms-regulatories>
            </p-tabPanel> -->
            <p-tabPanel i18n-header header="Facility Tranches" *ngIf="showFacilityTranches">
                <div class="panel-body">
                    <div class="card no-padding">
                        <div class="card no-padding">
                            <p-dataTable [value]="selectedLoan" [paginator]="true" [rows]="5" dataKey="loanId">
                                <p-column i18n-header field="loanReferenceNumber" header="Loan Reference Number" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="effectiveDate" header="Effective Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.effectiveDate | date}}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="maturityDate" header="Maturity Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.maturityDate | date}}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="principalAmount" header="Principal Amount" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.principalAmount | number : '1.2' }}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="outstandingPrincipal" header="Outstanding Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.outstandingPrincipal | number : '1.2' }}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="outstandingInterest" header="Outstanding Interest" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.outstandingInterest | number : '1.2' }}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="interestOnPastDuePrincipal" header="Interest On Past Due Principal" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.interestOnPastDuePrincipal | number : '1.2' }}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="interesrtOnPastDueInterest" header="Interest On Past Due Interest" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.interesrtOnPastDueInterest | number : '1.2' }}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="crmsCode" header="CRMS Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="crmsDate" header="CRMS Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template pTemplate="body" let-item="rowData">
                                        {{item.crmsDate | date}}
                                    </ng-template>
                                </p-column>
                            </p-dataTable>

                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-primary" (click)="ReferToRM()" style="margin-right:5px">
                        <i class="glyphicon glyphicon-check"></i><ng-container i18n> Refer Back</ng-container></button>
                </div>

                <div class="btn-group pull-right">
                    <button (click)="displayLoanToApproveModal=false" type="button" class="btn btn-danger" style="margin-right:5px">Close</button>
                    <button [disabled]="!loanSelectedData.comment || !loanSelectedData.loanApprovalStatusId" type="button" (click)="promptToGoForApproval(loanSelectedData, false)" class="btn btn-success">{{sendButtonText !=
                        null ? sendButtonText : 'Approve' }}</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<!-- <app-fintrakbanking-dialog [title]="title" [show]="displayConfirmDialog" [width]="width" [message]="message" (approveEvent)="promptToGoForApproval(loanSelectedData)"
    (closeEvent)="cancelApproval()"></app-fintrakbanking-dialog> -->
<p-dialog [responsive]=true [(visible)]="displayDocument" modal="modal" showEffect="fade" width="1200">
    <div *ngIf="displayDocument" style="margin-bottom:0" class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                <ng-container i18n>Document Title:</ng-container>
                <strong>{{ selectedDocument }}</strong>
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayDocument=false">&times;</a>
            </div>
        </div>
        <div class="panel-body" style="overflow:auto;height:450px">
            <img *ngIf="binaryFile" style="max-width: 100%; display: block 2px black;" [src]="'data:image/jpg;base64,'+binaryFile" alt="" class="img-thumbnail">
        </div>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayOperationRouteCommentForm" modal="modal" showEffect="fade" width="450">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                Re-route
            </h2>
            <div class="pull-right">
                <a class="close" (click)="cancelForm()">&times;</a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <form novalidate [formGroup]="operationForm" autocomplete="off">
            <div class="form-horizontal">

                <!-- <div class="form-group">
                    <label class="control-label col-md-6">Operation</label>
                    <div class="col-md-12">
                        <select (change)="onOperationChange($event.target.value)" name="operationId" formControlName="operationId" id="operationId" class="form-control" [ngClass]="operationForm.controls['operationId'].valid ? 'valid-input' : 'required-input'">
                            <option value="">-- Select Operation --</option>
                            <option *ngFor="let x of routeableOperations" [value]="x.id">{{ x.name }}</option>
                        </select>
                    </div>
                </div> -->

                <div class="form-group">
                    <label class="control-label col-md-6" i18n>Approval Level</label>
                    <div class="col-md-12">
                        <select name="approvalLevelId" formControlName="approvalLevelId" id="approvalLevelId" class="form-control" [ngClass]="operationForm.controls['approvalLevelId'].valid ? 'valid-input' : 'required-input'">
                            <option value="" i18n>-- Select Approval Level --</option>
                            <option *ngFor="let x of approvalLevels" [value]="x.approvalLevelId">{{
                                x.approvalLevelAndRoleName }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-12" i18n>Comment</label>
                    <div class="col-md-12">
                        <textarea style="height:60px;" name="comment" formControlName="comment" id="comment" class="form-control" [ngClass]="operationForm.controls['comment'].valid ? 'valid-input' : 'required-input'"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div *ngIf="errorMessage.length > 0" class="alert alert-danger col-md-12" role="alert" style="padding:15;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only" i18n>Error: </span>{{ errorMessage }}
        </div>
    </div>

    <div class="panel-footer">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12" style="text-align:right">
                    <button type="button" (click)="cancelForm()" class="btn btn-danger" i18n>Cancel</button>
                    <button type="button" [disabled]="operationForm.invalid" (click)="returnBackToModifier()" class="btn btn-success">
                        <span class="glyphicon glyphicon-send"></span><ng-container i18n>Send</ng-container>
                        </button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayTwoFactorAuth" id="auth-token" modal="modal" showEffect="fade" width="450">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title" i18n>
                Authentication Token
            </h2>
            <div class="pull-right">
                <a class="close" (click)="displayTwoFactorAuth=false">&times;</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="twoFactorAuthStaffCode" class="control-label col-md-12" i18n>Staff Code</label>
                    <div class="col-md-12">
                        <input type="text" name="twoFactorAuthStaffCode" [(ngModel)]="twoFactorAuthStaffCode" id="twoFactorAuthStaffCode" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="twoFactorAuthPassCode" class="control-label col-md-12" i18n>Pass Code</label>
                    <div class="col-md-12">
                        <input type="password" name="twoFactorAuthPassCode" [(ngModel)]="twoFactorAuthPassCode" id="twoFactorAuthPassCode" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <button type="button" [disabled]="!twoFactorAuthPassCode" (click)="goForApproval(loanSelectedData, false)" style="margin-right:5px " class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" i18n>Authenticate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>