<div class="ui-g">
        <div class="ui-g-12 no-padding">
            <div class="card no-padding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="panel-title pull-left" i18n>
                                Global Interest Rate Change Awaiting Approval
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="row">
                            <div class="col-md-12"> -->
    
                                <p-tabView [activeIndex]="activeIndex">
                                    <p-tabPanel i18n-header header="Product Price Index Global">
                                        <!-- <div class="row"> -->
                                            <p-dataTable [value]="productPriceIndexGlobalData" [paginator]="true" [rows]="20" [responsive]="true">
                                                <p-column i18n-header field="productPriceIndexName" header="Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                                <p-column i18n-header field="oldRate" header="Old Rate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                                <p-column i18n-header field="newRate" header="New Rate" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                                <p-column i18n-header field="dateTimeCreated" header="Application Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                                    <ng-template let-col let-ln="rowData" pTemplate="body">
                                                        {{ln[col.field] | date : 'medium' }}
                                                    </ng-template>
                                                </p-column>
                                                <p-column i18n-header field="effectiveDate" header="Effictive Date" sortable="true" [filter]="true" filterMatchMode="contains">
                                                    <ng-template let-col let-ln="rowData" pTemplate="body">
                                                        {{ln[col.field] | date : 'dd/MM/yyyy' }}
                                                    </ng-template>
                                                </p-column>
                                                <p-column i18n-header header="isMarketInduced" header="Market Induced" [style]="{'width':'7%'}">
                                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        <span *ngIf="d.isMarketInduced==true" style="color:#a9a9a9;" class="glyphicon glyphicon-ok"></span>
                                                        <span *ngIf="d.isMarketInduced==false" style="color:#a9a9a9;" class="glyphicon glyphicon-remove"></span>
                                                    </ng-template>
                                                </p-column>
                                                <!-- <p-column header="approvalStatusId" header="Has Been Applied" [style]="{'width':'7%'}">
                                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                                        <span *ngIf="d.approvalStatusId == 2" style="color:#a9a9a9;" class="glyphicon glyphicon-ok"></span>
                                                    </ng-template>
                                                </p-column> -->
                                                <p-column [style]="{'width':'80px', 'text-align':'center'}">
                                                        <ng-template pTemplate="header" i18n>
                                                            View to Approve
                                                        </ng-template>
                                                        <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                                            <button type="button" (click)="viewDetails(row, $event)">
                                                                <i class="glyphicon glyphicon-eye-open"></i>
                                                            </button>
                                                        </ng-template>
                                                </p-column>
                                                <p-column [style]="{'width':'80px', 'text-align':'center'}">
                                                    <ng-template pTemplate="header" i18n>
                                                       View Comments
                                                    </ng-template>
                                                    <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
                                                        <button type="button" (click)="viewComments(row, $event)">
                                                            <i class="glyphicon glyphicon-eye-open"></i>
                                                        </button>
                                                    </ng-template>
                                            </p-column>
                                            </p-dataTable>
                                       <!-- </div> -->
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->
    
    
    <fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>
    
    
    <p-dialog [responsive]=true [(visible)]="displayModalForm" id="add-modal" modal="modal" showEffect="fade" width="500" >
            <div class="panel-heading">
                <h2 class="panel-title" i18n>
                Approve Global Interest Rate Change
                </h2>
            </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="productPriceIndexId" class="control-label col-md-4" i18n>
                                Product Price Index
                                        </label>
                            <div class="col-md-8">
                                    {{selectedData.productPriceIndexName}}                      
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="effectiveDate" class="control-label col-md-4" i18n>
                                    Effective Date
                                  </label>
                                  <div class="col-md-8">
                                        {{selectedData.effectiveDate | date : 'dd/MM/yyyy' }}                 
                                  </div>
                    </div>
    
                        <div class="form-group">
                                <label for="oldRate" class="control-label col-md-4" i18n>
                                        Old Rate
                                        </label>
                                        <div class="col-md-8">
                                                {{selectedData.oldRate}}  
                                        </div>
                        </div>
                        <div class="form-group">
                            <label for="newRate" class="control-label col-md-4" i18n>
                                New Rate
                            </label>
                            <div class="col-md-8">
                                    {{selectedData.newRate }}
                            </div>
    
                            
                        </div>
                        <div class="form-group">
                            <label for="newRate" class="control-label col-md-4" i18n>
                                Market Induced
                            </label>
                            <div class="col-md-8">
                                    {{selectedData.isMarketInduced }}
                            </div>
    
                            
                        </div>
                       
                        <div class="form-group">
    
                                <label  class="control-label col-md-4" i18n>
                                        Comment
                                </label>
                                    <div class="col-md-8">
                                            <textarea [ngClass]="!comment ? 'required-input' : 'valid-input'" class="form-control" [(ngModel)]="comment"
                                            name="comment" cols="15" rows="3"></textarea>
                                     </div>
                                    
                        </div> 
                        <div class="form-group">
    
                                <label  class="control-label col-md-4" i18n>
                                        Status
                                </label>
                                    <div class="col-md-8">
                                        <select name="approvalStatusId" id="approvalStatusId" class="form-control" [(ngModel)]="approvalStatusId"
                                            [ngClass]="!approvalStatusId ? 'required-input' : 'valid-input'">
                                            <option value="" i18n>--- Select Approval Status ---</option>
                                            <option value="2" i18n>Approved</option>
                                            <option value="3" i18n>Disapproved</option>    
                                        </select>
                                     </div>
                                    
                        </div>
                        <br/>
                        <br/>
    
    
                    </div>
                </div>
            <div class="panel-footer" >
                <div class="row">
                    <div class="col-md-12">
                        <!--The refer back at Global Interest rate needs to be reviewed-->
                        <!-- <button *ngIf="!userIsCreditInputter"
                            type="button" (click)="refer()" class="btn btn-primary" ><span
                                class="glyphicon glyphicon-chevron-left" style="padding-right:4px;"></span>
                                <ng-container i18n> Refer Back</ng-container></button> -->
                            <button [disabled]="!comment || !approvalStatusId" type="button" (click)="promptToGoForApproval()"
                            class="btn btn-success" i18n>Submit For Approval</button>
                           <!-- <button type="button" (click)="submitPriceIndexForm(createUpdateForm)" [disabled]="createUpdateForm.invalid" class="btn btn-success pull-right">Save</button>  -->
                        <button type="button" (click)="displayModalForm=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>
    </p-dialog>

    
    <p-dialog [responsive]=true [(visible)]="displayCommentForm" id="comment-modal" modal="modal" showEffect="fade"
    width="1200">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ commentTitle }}
            </h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">

                    <div *ngIf="warningMessage != ''" class="alert alert-danger">
                        <strong i18n>Warning!</strong> {{ warningMessage }}
                    </div>

                    <div style="display: inline-block;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: 700;">Loan -
                        <small i18n>Approve Global Interest Rate Change</small>
                    </div>

                    <table border="1" class="col-md-12">
                        <tr>
                            <td i18n>Product Price Index</td>
                            <td i18n> Effective Date</td>
                            <td i18n>Old Rate</td>
                            <td i18n>New Rate</td>
                            <td i18n>Market Induced</td>
                        </tr>
                        <tr>
                            <td> {{selectedData.productPriceIndexName}}   </td>
                            <td> {{selectedData.effectiveDate | date : 'dd/MM/yyyy' }}   </td>
                            <td> {{selectedData.oldRate}} </td>
                            <td> {{selectedData.newRate }}</td>
                            <td>{{selectedData.isMarketInduced }}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <form novalidate [formGroup]="commentForm" autocomplete="off">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel-body" style="padding-right:0;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div *ngIf="errorMessage.length > 0" class="alert alert-danger col-md-12" role="alert"
                                    style="margin: 0 15px 0 15px;width: -webkit-fill-available;">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only" i18n>Error: </span>{{ errorMessage }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- </div> -->
                <div class="col-md-5" style="background-color:#F5F5F5;border-left:solid 1px #ccc;">
                    <div class="panel-body">
                        <div class="form-horizontal">

                            <div *ngIf="forwardAction == 5" class="form-group">
                                <label for="staffName" class="col-md-12" i18n>Target Level / Staff</label>
                                <div class="col-md-12">
                                    <select (change)="onTargetStaffLevelChange($event.target.value)" type="text"
                                        name="trailId" formControlName="trailId" id="trailId" class="form-control"
                                        [ngClass]="!commentForm.controls['trailId'].valid ? 'required-input' : 'valid-input'">
                                        <option value="" i18n>-- Select Staff / Level --</option>
                                        <option *ngFor="let x of backtrail" [value]="x.approvalTrailId">
                                            {{ x.fromApprovalLevelName }} -- {{ x.fromStaffName }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <!-- <label for="comment">{{ commentLabel }}</label> -->
                                    <label for="comment" i18n>Comment/Recommendation</label>

                                </div>
                                <div class="col-md-12">
                                    <textarea style="height:87px;" name="comment" formControlName="comment" id="comment"
                                        class="form-control"
                                        [ngClass]="!commentForm.controls['comment'].valid ? 'required-input' : 'valid-input'"></textarea>
                                </div>
                            </div>

                            <div class="form-group"
                                *ngIf="isBusiness == false && forwardAction != 5 && userIsRelationshipManager == false && userIsAccountOfficer == false && userisAnalyst == false">
                                <label for="" class="col-md-12" i18n>Credit Decision </label>
                                <div class="col-md-6">
                                    <select name="vote" formControlName="vote"
                                        [ngClass]="!commentForm.controls['vote'].valid ? 'required-input' : 'valid-input'"
                                        id="vote" class="form-control">
                                        <option value="" i18n>-- Select Decision --</option>
                                        <option value="1" i18n>Decline</option>
                                        <option value="2" i18n>Accept</option>
                                 </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" (click)="forwardCam(commentForm)" [disabled]="commentForm.invalid"
                        class="btn btn-success pull-right">
                        <span class="glyphicon glyphicon-send" style="padding-right:4px;"></span> <ng-container i18n>Save and Send</ng-container> </button>
                    <button type="button" (click)="cancelForm()" style="margin-right:5px"
                        class="btn btn-danger pull-right" i18n>Cancel</button>
                </div>
            </div>
        </div>
    </div>

</p-dialog>

<p-dialog [responsive]=true [(visible)]="displayApprovalComment" id="comment-modal" modal="modal" showEffect="fade"
width="1200">
<div style="margin-bottom:0" class="panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title" i18n> Global Interest rate Approval Comments</h2>
                        </div>
                        <div class="panel-body">
                    
                    
                            <p-dataTable #dt [value]="trails" [paginator]="true" [rows]="5">
                                <p-header>
                                    <div class="ui-helper-clearfix">
                                        <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left" i18n>Export to CSV</button>
                                    </div>
                                </p-header>
                                <p-column i18n-header field="fromStaffName" header="From : Staff Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="toStaffName" header="To : Staff Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="fromApprovalLevelName" header="From : Approval Level" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="toApprovalLevelName" header="To : Approval Level" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="systemArrivalDateTime" header="Arrival Date Time" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.systemArrivalDateTime | date: 'medium' }}
                                    </ng-template>
                                </p-column>
                                <p-column i18n-header field="systemResponseDateTime" header="Response Date Time" sortable="true" [filter]="true" filterMatchMode="contains">
                                    <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                        {{ d.systemResponseDateTime | date: 'medium' }}
                                    </ng-template>
                                </p-column> 
                                <p-column i18n-header field="comment" header="Comment" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="approvalStatus" header="Approval Status" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                                <p-column i18n-header field="approvalState" header="State" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12">
                <button type="button" (click)="displayApprovalComment=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
            </div>
        </div>
    </div>
</div>

</p-dialog>
    