.scroll {
    width: 1200px;
    background-color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    width: 100%;
  }
  
  /* try removing the "hack" below to see how the table overflows the .body */
  .hack1 {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  
  .hack2 {
    display: table-cell;
    overflow-x: auto;
    width: 100%;
  }