<p-tabView>
    <p-tabPanel i18n-header header="Refresh Staging Monitoring">
      <div class="panel-body">
        <div class="ui-g ui-fluid">
  
          <div class="form-group" style="margin-right:30px">
            <label for="searchItem" class="control-label col=md-3" i18n>
  
              Start Date
            </label>
  
            <div class="col=md-9">
              <!-- <p-calendar [(ngModel)]="startDate" dateFormat="dd-MM-yy" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span> -->
              <input type="date" [(ngModel)]="startDate" dateFormat="dd-MM-yy" /> <span
                            style="margin-left:35px"></span>
            </div>
          </div>
          <div class="form-group" style="margin-right:30px">
            <label for="searchItem" class="control-label col=md-3 " i18n>
              End Date
            </label>
  
            <div class="col=md-9">
              <!-- <p-calendar [(ngModel)]="endDate" dateFormat="dd-MM-yy" [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span> -->
              <input type="date" [(ngModel)]="endDate" dateFormat="dd-MM-yy" /> <span
                            style="margin-left:35px"></span>
            </div>
          </div>

          <!-- <div class="form-group" style="margin-right:30px">
            <label for="searchItem" class="control-label col=md-3 ">
              Search Parameter
            </label>
  
            <div class="col=md-9">
              <input type="text" name="searchInfo" maxlength="50" [(ngModel)]="searchInfo" id="searchInfo" class="form-control" placeholder="Batch ID" >
            </div>
          </div> -->
  
          <div class="form-group" style="margin-right:30px" *ngIf="!isLms">
            <label for="searchItem" class="control-label col=md-3">
              .
            </label>
            <div class="col=md-9">
              <button pButton type="button" (click)="getBatchPostingDetails()" label="Get Staging Monitoring"></button>
            </div>
          </div>
        </div>



        <div class="scroll">
            <div class="hack1">
              <div class="hack2">
                <p-dataTable #dt [value]="batchPostingCount" [paginator]="true" [rows]="5">
                    <p-header>
                        <div class="ui-helper-clearfix">
                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export to CSV" (click)="dt.exportCSV()" style="float:left"></button>
                        </div>
                    </p-header>
                    <p-column i18n-header field="status" header="Status" sortable="true" [filter]="true" filterMatchMode="contains"  [style]="{'width':'100px'}">
                    </p-column>

                  <p-column i18n-header field="count" header="Count" sortable="true" [filter]="true" filterMatchMode="contains"  [style]="{'width':'100px'}">
                  </p-column>
                  
                  <p-column [style]="{'width':'100px'}">
                      <ng-template pTemplate="header"></ng-template>
                      <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                          <a (click)="ExportToExcel(d.status,$event)" href="javascript:void(0)" i18n>Download Status Record</a>
                      </ng-template>
                  </p-column>
                  
                </p-dataTable>
              </div>
            </div>
          </div>


      </div>
    </p-tabPanel>
  </p-tabView>