<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Departments Units
                            </h2>
                            <div class="pull-right">
                                <button (click)="showAddModal()" pButton type="button" i18n-label label="Add New" icon="fa-plus"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p-dataTable [value]="departmentUnits" [rows]=5>
                        <p-header i18n> List of Department Units</p-header>
                        <p-column i18n-header field="unitName" header="Units" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="unitEmail" header="Unit's Email" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="departmentName" header="Department" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>

                        <p-column [style]="{'width':'60px','text-align':'center'}">
                            <ng-template pTemplate="header"></ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
                                <a (click)="editDepartmentUnit(i)" href="javascript:void(0)" i18n>
                                    Edit
                                </a>
                            </ng-template>
                        </p-column>

                        <p-column [style]="{'width':'60px','text-align':'center'}">
                            <ng-template pTemplate="header"></ng-template>
                            <ng-template let-d="rowData" let-i="rowIndex" pTemplate="body">
               
                                <a (click)="deleteDepartmentUnit(d)" href="javascript:void(0)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>

            </div>
            <!--end of panel-->


        </div>
    </div>
</div>

<!--form modal-->
<p-dialog [responsive]=true [(visible)]="displayAddModal" id="add-modal" modal="modal" showEffect="fade" width="500">
    <div style="margin-bottom:0" class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ entityName}}
            </h2>
        </div>

        <form novalidate [formGroup]="departmentUnitForm" autocomplete="off">

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="departmentUnitName" class="control-label col-md-4" i18n>Unit Name</label>
                        <div class="col-md-8">
                            <input type="text" name="departmentUnitName" formControlName="departmentUnitName" id="departmentUnitName" class="form-control"
                                [ngClass]="!departmentUnitForm.controls['departmentUnitName'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="departmentUnitEmail" class="control-label col-md-4" i18n>Unit Email</label>
                        <div class="col-md-8">
                            <input type="text" name="departmentUnitEmail" formControlName="departmentUnitEmail" id="departmentUnitEmail" class="form-control"
                                [ngClass]="!departmentUnitForm.controls['departmentUnitEmail'].valid ? 'required-input' : 'valid-input'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departmentId" class="control-label col-md-4" i18n>Department</label>
                        <div class="col-md-8">
                            <select type="text" name="departmentId" formControlName="departmentId" id="departmentId" class="form-control" [ngClass]="!departmentUnitForm.controls['departmentId'].valid ? 'required-input' : 'valid-input'">
                                <option value="" i18n>-- Select Department --</option>
                                <option *ngFor="let dept of departments" [value]="dept.departmentId">
                                    {{ dept.departmentName }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="submitForm(departmentUnitForm)" [disabled]="departmentUnitForm.invalid" class="btn btn-success pull-right"  i18n>Save</button>
                        <button type="button" (click)="displayAddModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</p-dialog>
<!--end of form modal-->


<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage($event)"></fintrakbanking-message>