<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h2 class="panel-title pull-left" i18n>
          Batch Prepayments Approval
        </h2>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="panel-body">
      <p-dataTable [paginator]="true" [rows]="5" [value]="batchPrepaymentData" [responsive]=true selectionMode="single">
        <p-column i18n-header [style]="{'width':'210px'}" field="batchCode" header="Batch Code" sortable="true" [filter]="true"
          filterMatchMode="contains"></p-column>
        <p-column i18n-header field="dateCreated" header="Date Created" sortable="true" [filter]="true" filterMatchMode="contains">
          <ng-template let-col let-apr="rowData" pTemplate="body">
            {{apr[col.field] | date: 'dd MMM yyyy' }}
          </ng-template>
        </p-column>
        <p-column i18n-header field="numberOfLoans" header="Number Of Loans" sortable="true" [filter]="true"
          filterMatchMode="contains">
        </p-column>
        <p-column i18n-header field="totalAmount" header="Total Amount" sortable="true" [filter]="true" filterMatchMode="contains">
        </p-column>

        <p-column i18n-header field="comment" header="Comment" sortable="true" [filter]="true" filterMatchMode="contains">
        </p-column>
        <p-column i18n-header field="fromApprovalLevelName" header="Approval Level" sortable="true" [filter]="true"
          filterMatchMode="contains">
        </p-column>
        <p-column i18n-header field="approvalStatus" header="Approval Status" sortable="true" filterMatchMode="contains"
          [filter]="true">
        </p-column>

        <p-column [style]="{'width':'100px'}">
          <ng-template pTemplate="header">
          </ng-template>
          <ng-template let-batch="rowData" let-i="rowIndex" pTemplate="body">
            <a (click)="approveBatch(batch)" i18n>
              Approve
            </a>
          </ng-template>
        </p-column>

      </p-dataTable>
    </div>
  </div>
</div>


<p-dialog [responsive]="true" [(visible)]="showApprovalModal" id="limit-def-modal" modal="modal" showEffect="fade"
  width="1000" scrollable="true" [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
  'max-height': '80vh','min-height':'300px','z-index': 1000}">
  <p-tabView [activeIndex]="activeIndex" (onChange)="approvalTabChange($event)">
    <p-tabPanel i18n-header header="Approval Memorandum">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-9">

            </div>
            <div class="col-md-3">
              <div class="pull-right">
                  <button (click)="previewDocumentation()" style="padding: 3px 6px 3px 6px;">
                      <span class="glyphicon glyphicon-file"></span><ng-container i18n>Preview</ng-container></button>
            
                  <button (click)="print()" style="padding: 3px 6px 3px 6px;">
                      <span class="glyphicon glyphicon-print"></span> <ng-container i18n>Print</ng-container> </button>
              </div>
          </div>
          </div>
        </div>

        <div class="panel-body" style="overflow:auto;height:450px" id="print-section">
          <div *ngFor="let x of preDocumentations">
            <p><strong>{{x.title}}</strong></p>
            <span [innerHtml]="x.templateDocument"></span>
          </div>
        </div>

        <div class="panel-footer">
          <div class="row" style="padding-left:inherit;">
            <div class="col-md-12">
              <div class="form-horizontal">
                <div class="form-group">

                  <button type="button" (click)="showApprovalModal = false;" style="margin-right:5px"
                    class="btn btn-danger pull-right" i18n>Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel i18n-header header="Supporting Documents">
      <div class="panel panel-default">

        <document-upload [reload]="RELOAD" [operationId]="OPERATION_ID" [customerId]="CUSTOMER_ID"
          [customerGroupId]="GROUP_CUSTOMER_ID" [targetId]="TARGET_ID" [isOperationSpecific]="false" [isLms]="true"
          (requiredDocumentsUploadSatisfied)="true" [targetReferenceNumber]="REFERENCE_NUMBER">
        </document-upload>

        <div class="panel-footer ">
          <div class="row ">
            <div class="col-md-12 ">
              <button type="button" (click)="showApprovalModal = false;" style="margin-right:5px"
                class="btn btn-danger pull-right" i18n>Close</button>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel i18n-header header="Send for Approval">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left" i18n>
                Send for Approval
              </h2>
            </div>
          </div>
        </div>
       
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <textarea rows="4" name="comment" id="comment" class="form-control" [(ngModel)]="comment"
                [ngClass]="comment == null || comment == '' ? 'required-input' : 'valid-input'"></textarea>
            </div>
            <div class="col-md-6">
              <select class="form-control" [(ngModel)]="approvalStatusId" name="approvalStatus"
                [ngClass]="approvalStatusId != 2 && approvalStatusId != 3 ? 'required-input' : 'valid-input'">
                <option value="0" i18n>--- Select Approval ---</option>
                <option value="2" i18n>Approve</option>
                <option value="3" i18n>Decline</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="panel-body">
          <div class="row">
            <p-dataTable [paginator]="true" [rows]="5" [value]="batchLoansData" [responsive]=true
            selectionMode="single">
            <p-column i18n-header [style]="{'width':'210px'}" field="batchCode" header="Batch Code" sortable="true"
                [filter]="true" filterMatchMode="contains"></p-column>
            <p-column i18n-header field="loanReferenceNumber" header="Loan Reference Number" sortable="true"
                [filter]="true" filterMatchMode="contains"></p-column>
            <p-column i18n-header field="dateCreated" header="Date Created" sortable="true" [filter]="true"
                filterMatchMode="contains">
                <ng-template let-col let-apr="rowData" pTemplate="body">
                    {{apr[col.field] | date: 'dd MMM yyyy' }}
                </ng-template>
            </p-column>
           
            <p-column i18n-header field="amount" header="Amount" sortable="true" [filter]="true"
                filterMatchMode="contains"></p-column>
        </p-dataTable>

          </div>
          
        </div>

        <div class="panel-footer ">
          <div class="row ">
            <div class="col-md-12 ">
              <button type="button" (click)="submitForApproval()" class="btn btn-success pull-right"
                [disabled]="comment == null || comment == '' || approvalStatusId != 2 && approvalStatusId != 3" i18n>
                Send for Approval</button>
              <button type="button" (click)="referBack()" style="margin-right:5px" class="btn btn-primary pull-right">
                <i class="glyphicon glyphicon-chevron-left"></i><ng-container i18n> Refer Back</ng-container></button>
              <button type="button" (click)="showApprovalModal = false;" style="margin-right:5px"
                class="btn btn-danger pull-right" i18n>Close</button>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

</p-dialog>

<p-dialog [responsive]=true [(visible)]="showReferBackModal" id="recol-modal" modal="modal" showEffect="fade"
  width="700">
  <div style="margin-bottom:0" class="panel panel-default">
    <app-refer-back [referBackTargetId]="TARGET_ID" [referBackOperationId]="OPERATION_ID"
      (notify)="modalControl($event)" (notifyAfterReferBack)="referBackResultControl($event)">
    </app-refer-back>
  </div>
</p-dialog>