<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="panel-title pull-left" i18n>
                                Profile Setup
                            </h2>
                            <!-- <div class="pull-right">
                                <button (click)="showDialog()" pButton type="button" label="Add New" icon="fa-plus"></button>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <div class="ui-g-12">
                            <p-checkbox name="passwordReset" i18n-label label="User can reset password"></p-checkbox>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-6">
                                <p-checkbox name="passwordExpiration" i18n-label label="Enable password expiration after"></p-checkbox>
                            </div>
                            <div class="ui-g-1">
                                <input type="number" name="passwordExpirationPeriod" id="passwordExpirationPeriod">
                            </div>
                        </div>

                        <div class="ui-g-12">
                            <div class="ui-g-6">
                             <label for="minRequiredPasswordLenght" i18n>Minimum required password lenght</label>    
                           </div>
                            <div class="ui-g-1">
                                    <input type="number" name="minRequiredPasswordLenght" id="minRequiredPasswordLenght">
                                </div>
                        </div>

                        <div class="ui-g-12">
                            <p-checkbox name="group2" i18n-label label="User can reset password"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>