    /* You can add global styles to this file, and also import other style files */

    /*Loading Styles */
    td, th {
        padding: 7px;
    }

    #page-preloader {
        position: fixed;
        z-index: 100500;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #555;
        opacity: 0.8;
        .spinner {
            position: absolute;
            z-index: 1001;
            top: 50%;
            left: 50%;
            display: block;
            width: 100px;
            height: 100px;
            margin-top: -50px;
            margin-left: -50px;
            -webkit-animation: spin 2.5s infinite linear;
            animation: spin 2.5s infinite linear;
            border: 3px solid transparent;
            border-top-color: #3cd225;
            border-radius: 50%;
        }
    }

    #page-preloader .spinner:before,
    #page-preloader .spinner:after {
        position: absolute;
        content: '';
        border-radius: 50%;
    }

    #page-preloader .spinner:before {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
        border: 3px solid transparent;
        border-top-color: #2475ce;
    }

    #page-preloader .spinner:after {
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
        border: 3px solid transparent;
        border-top-color: #f76d2b;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    } //End Loading Styles
    //Message
    .banking-message {
        transition: all 0.5s ease;
        .banking-message-backdrop {
            position: fixed;
            z-index: 100500;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #555;
            opacity: 0.8;
        }
        div.message-box {
            background: #fff;
            border-radius: 4px;
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            outline: none;
            z-index: 100600;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            min-width: 600px;
            .message-title {
                background-color: #f5f5f5;
                border-color: #ddd;
                border-radius: 5px 5px 0 0;
                display: block;
                font-size: 22px;
                line-height: 20px;
                padding: 15px;
                h2 {
                    color: #333;
                    font-size: 18px;
                    text-align: left;
                    margin: 0;
                }
            }
            .message-body {
                padding: 15px;
                .icon {
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 75px;
                    margin-bottom: 10px;
                    margin-top: -15px;
                }
                p {
                    font-size: 19px;
                    text-align: center;
                }
            }
            .message-button {
                padding: 5px;
                a {
                    border-radius: 0 !important;
                }
            }
        }
    }

    .clear {
        clear: both;
    }

    .banking-message.error {
        .message-body {
            p {
                color: #D8000C;
            }
            .icon {
                background: url('./assets/layout/images/error.png');
            }
        }
    }

    .banking-message.success {
        .message-body {
            p {
                color: #4F8A10;
            }
            .icon {
                background: url('./assets/layout/images/success.png');
            }
        }
    }

    .banking-message.warning {
        .message-body {
            p {
                color: #9F6000;
            }
        }
    }

    .banking-message.info {
        .message-body {
            p {
                color: #00529B;
            }
        }
    } //End Message
    .no-padding {
        padding: 0 !important;
    }

    .ui-datatable .ui-datatable-thead>tr th {
        text-align: left !important;
        background: #f5f5f5 !important;
    }

    .ui-datatable .ui-column-filter {
        background: #fff !important;
    }

    .ui-datatable .ui-inputtext {
        background: #fff !important;
    }

    .ui-dialog {
        top: 10% !important;
        overflow: hidden;
    }

    #approvalModal {
        .ui-dialog {
            top: 20px !important;
            overflow: hidden;
        }
    }

    .ui-dialog .ui-dialog-titlebar {
        display: none;
    }

    .ui-dialog .ui-dialog-content {
        padding: 0 !important;
        border-radius: 5px;
        overflow: hidden;
    }

    .ui-dropdown {
        margin-top: 7px !important;
    }

    .growlMessage {
        z-index: 1020px !important;
    }

    .ui-growl {
        z-index: 1020px !important;
    }

    .form-group {
        margin-bottom: 9px;
    }

    .panel-footer {
        padding: 5px 15px !important;
    } // .ui-calendar {
    //     width: 259px;
    // }
    // .ui-calendar { width: 268px; }
    .ui-datepicker {
        top: -100px !important;
        left: 20px !important;
        z-index: 10000000;
        overflow: visible;
        .ui-datepicker-title select {
            color: #000;
        }
    }

    .ui-datepicker .ui-datepicker-title {
        margin: 0 1em !important;
    }

    body .ui-datepicker .ui-datepicker-header select.ui-datepicker-year {
        width: 54px !important;
    }

    .ui-calendar.ui-calendar-w-btn input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
        width: 100%;
        height: 29px;
        padding: 3px 12px !important;
        font-size: 12px !important;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    } // .ui-calendar .ui-datepicker-trigger {
    //     padding-top: 30px;
    // }
    .form-control {
        display: block;
        width: 100%;
        height: 29px; // height: 29px !important;
        padding: 3px 12px !important;
        font-size: 12px !important;
        line-height: 1.42857143;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #penForm>textarea {
        &.form-control {
            width: 100%;
            height: 40px !important;
        }
    }

    .layout-container .ultima-menu li a {
        font-size: .85em !important;
        display: block;
        padding: .4em .85em;
    }

    .layout-container .ultima-menu li ul li a>span {
        font-size: 12px !important;
    }

    .layout-container .layout-main {
        padding: 79px 9px 16px 9px !important;
        font-size: 11px !important;
        color: #555;
    }

    .layout-container .topbar .logo {
        background-size: 130px 30px !important;
        margin-left: -7px;
    } // Fintrak logo styling 
    .layout-container .topbar .topbar-left {
        box-sizing: border-box;
        padding: 20px;
        height: 75px;
        width: 250px;
        background-color: #eee;
        float: left;
        -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
    }

    .layout-container .topbar .logo {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        background: url(assets/layout/images/logo2x.png) center no-repeat;
        background-size: 100px 30px !important;
    } // end of Fintrak logo styling
    .table thead {
        background: #999;
        color: #fff;
    }

    legend {
        margin-bottom: 10px !important;
        font-size: 13px !important;
    } ///Theme customization
    .layout-container .topbar {
        background: #072d64 !important;
    }

    .ui-paginator {
        background-color: #072d64 !important;
    }

    .layout-container .topbar .topbar-right #menu-button {
        color: #072d64;
        background-color: #e0ad0f;
    }

    .drop-checkbox {
        margin-top: 4px;
    }

    body .ui-calendar .ui-datepicker-trigger {
        bottom: 6px;
    } //End Theme customization
    body .ui-datatable .ui-datatable-thead>tr th.ui-state-active,
    body .ui-datatable .ui-datatable-thead>tr th.ui-state-highlight {
        background-color: #8BC34A;
        color: #757575 !important;
        border-top-color: #8BC34A;
    }

    body .ui-datatable .ui-datatable-thead>tr th.ui-state-active .fa,
    body .ui-datatable .ui-datatable-thead>tr th.ui-state-highlight .fa {
        color: #757575;
    } // customer information
    .customer-row {
        margin-bottom: 14px;
    }

    .customer-row:last-child {
        margin-bottom: 0;
    }

    .dropdown-customer {
        margin: 13px 0;
        padding: 5px;
        height: 100%;
    }

    .dropdown-customer:hover {
        cursor: pointer;
    }

    .table-customer-information>tbody>tr {
        border-top: 1px solid rgb(221, 221, 221);
    }

    .table-customer-information>tbody>tr:first-child {
        border-top: 0;
    }

    .table-customer-information>tbody>tr>td {
        border-top: 0;
    }

    .toppad {
        margin-top: 20px;
    }

    .close {
        font-size: 35px;
        margin: -25px -6px;
    }

    .layout-container .topbar-items>li>a .topbar-item-name {
        margin-top: 6px;
        display: block !important;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }

    .layout-container .topbar-items>li.profile-item .profile-image {
        // width: 36px;
        // height: 36px;
        display: none !important;
    }

    .control-label {
        text-align: left !important;
    }

    .required-input {
        border-left: 3px solid #ff0000 !important
    }

    p-calendar.required-input {
        border: none !important;
        input[type="text"] {
            border-left: 3px solid #ff0000 !important;
        }
    }

    input.has-error {
        border: 1px solid #ff0000 !important;
    }

    .valid-input {
        border-left: 3px solid #3cd225 !important
    }

    p-calendar.valid-input {
        border: none !important;
        input[type="text"] {
            border-left: 3px solid #3cd225 !important
        }
    }

    .no-data {
        cursor: not-allowed;
        background-color: #eee;
        pointer-events: none;
        opacity: 1;
    }

    .no-data-div {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 1;
        input {
            background-color: #eee;
        }
    }

    .userInfo {
        h2 {
            margin-top: 0;
            font-size: 1.3em;
        }
        h5 {
            font-size: 1em;
        }
        .hline {
            height: 1px;
            border-bottom: solid 1px #999;
            width: 100%;
            margin-bottom: 3px;
        }
    }

    body .ui-accordion .ui-accordion-header {
        background-color: #999;
        color: #ffffff;
    }

    body .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
        background-color: #444;
    }

    h2.coyInfo {
        color: #fff;
        display: inline;
        font-size: 15px;
    }

    a:focus,
    a:hover {
        text-decoration: none !important;
    }

    .radio-checkbox {
        background: none;
        clear: both;
        input {
            float: left;
            margin-right: 15px !important;
            margin: 12px 10px 0 0;
        }
        div.chklabel {
            float: left;
            margin-top: 12px !important;
            color: #999 !important;
        }
    } //Sweet Alert Custom CSS
    .swal2-icon {
        height: 80px !important;
    } // .layout-container .layout-menu {
    // background-color: #ccc !important;
    // }
    .ui-paginator-rpp-options {
        color: #111 !important;
    }

    p-calendar {
        height: 29px !important;
    }

    .topbar-items {
        width: 500px;
        li.profile-item {
            margin-right: 10px !important;
        }
        li.notification-list {
            float: right !important;
            margin-right: 10px !important;
            .topbar-badge {
                position: absolute; // width: 15px;
                // height: 15px;
                left: 17px !important;
                padding: 2px 8px !important;
                text-align: center !important;
            }
            .topbar-item-name {
                position: absolute !important;
                left: 20px !important;
            }
        }
    }

    .checkbox-container {
        float: left;
        padding-right: 10px;
        /* margin-top: 4px; */
        padding-top: 4px;
    }

    label.checkbox {
        margin-top: 7px;
        display: inline-block;
    }

    input.numeric {
        text-align: right;
    }

    div.table-label {
        border-bottom: solid 1px #ccc;
        max-width: 100%;
        margin-bottom: 12px;
        padding: 5px 0px 5px;
        font-weight: 700;
    }

    td.centeredColumn {
        text-align: center !important;
    }

    .popover {
        max-width: 100% !important;
    }

    @media only screen and (max-width:615px) {
        .date-control input {
            width: 290px !important;
        }
    }

    @media only screen and (min-width:480px) {
        .date-control input {
            width: 200px !important;
        }
    }

    @media only screen and (min-width:768px) {
        .date-control input {
            width: 334px !important;
        }
    }

    .paper {
        position: relative; // width: 500px;
        padding: 50px;
        margin: 0 auto;
        background-color: #fff;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    }

    .paper:before,
    .paper:after {
        position: absolute;
        width: 40%;
        height: 10px;
        content: ' ';
        left: 12px;
        bottom: 12px;
        background: transparent;
        -webkit-transform: skew(-5deg) rotate(-5deg);
        -moz-transform: skew(-5deg) rotate(-5deg);
        -ms-transform: skew(-5deg) rotate(-5deg);
        -o-transform: skew(-5deg) rotate(-5deg);
        transform: skew(-5deg) rotate(-5deg);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

    .swal2-container {
        z-index: 100000;
    }

    .paper:after {
        left: auto;
        right: 12px;
        -webkit-transform: skew(5deg) rotate(5deg);
        -moz-transform: skew(5deg) rotate(5deg);
        -ms-transform: skew(5deg) rotate(5deg);
        -o-transform: skew(5deg) rotate(5deg);
        transform: skew(5deg) rotate(5deg);
    }

    body .ui-datatable .ui-datatable-data tr.highlight-row {
        background-color: #8BC34A;
        border-color: #8BC34A;
        color: #ffffff;
    }

    .ui-colorpicker-panel {
        top: -100px !important;
        left: 20px !important;
        overflow: visible !important;
    }

    .ui-datatable .ui-datatable-thead>tr th .ui-column-title {
        font-weight: 900;
    }

    #offerLetter .removeConditions_OL {
        //REMOVE OFFER LETTER INTERNAL CONDITIONS
        display: none;
    }

    .conditionsTable_OL {
        //ENSURE ALL CONDITIONS TABLE ARE RESPONSIVE
        width: 100%;
        overflow-x: auto;
    } //  ------------------ spinner ------------------
    @keyframes little-spinner {
        to {
            transform: rotate(360deg);
        }
    }

    .little-spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ccc;
        border-top-color: #333;
        animation: little-spinner .6s linear infinite;
    }

    .little-spinner {
        position: relative;
        width: 100%px;
        height: 30px;
        text-align: center;
    }

    .invoice-emphasis {
        font-weight: 950;
        background-color: rgba(255, 200, 0, 1);
        padding: 3px;
        border-radius: 3px;
    }

    .corr-high {
        color: #ff0000;
    }

    .corr-above-average {
        color: #f76d2b;
    }

    .corr-moderate {
        color: #FFBF00;
    }

    .corr-low {
        color: #4F8A10;
    }

    .corr-unrated {
        color: #00529B;
    }

    .fullScreenMobile{
        height: 100vh !important;
        width: 100vw !important;       
        overflow: visible;
        min-width: 150px;
        left: 0 !important;  
        max-width: 100vw !important;
        top: 0 !important;
        position: fixed;
        padding: 0;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }