<!-- <p-dialog [responsive]=true [(visible)]="displayDirectorRelatedCustomer" id="add-modal" modal="modal" showEffect="fade" width="600"> -->
<div style="margin-bottom:0" class="panel panel-default">
  <div class="panel-heading">
    <h2 i18n class="panel-title">
      Director Related Customer
    </h2>
  </div>


  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <p-dataTable [value]="directorRelatedCustomerList" [responsive]="true">
            <p-column [style]="{'width':'100px'}">
              <ng-template pTemplate="header">S/No</ng-template>
              <ng-template let-i="rowIndex" pTemplate="body">
                {{ i + 1 }}
              </ng-template>
            </p-column>
            <p-column i18n-header="customerCode" header="Customer Code"></p-column>
            <p-column i18n-header="customerName" header="Customer Name"></p-column>
            <p-column i18n-header="customerTypeName" header="Customer Type"></p-column>
            <p-column i18n-header="directorTypeName" header="Type"></p-column>

          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="closeInfo()" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
      </div>
    </div>
  </div>
</div>
<!-- </p-dialog> -->