<div class="ui-g">
        <div class="ui-g-12 no-padding">
          <div class="card no-padding">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="panel-title pull-left" i18n>
                      EOD Operation
                    </h2>
                    <div *ngIf="displayCustomerLoanDetails" class="pull-right">
                      <button pButton type="button" (click)="showReviewForm()" label="Perform Operation" icon="fa-plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <form novalidate [formGroup]="eodForm" autocomplete="off">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="control-label col-md-2" i18n>Date </label>
                            <div class="col-md-6">
                                <p-calendar id="eodDate" formControlName="eodDate" class="form-control" dateFormat="dd/mm/yy" 
                                    [inputStyle]="{'width': '290px' }" [monthNavigator]="true" [yearNavigator]="true"
                                    yearRange="1955:2030" [showIcon]="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
               </form>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-12">
                      <button type="button" (click)="runEod(eodForm)" [disabled]="eodForm.invalid" class="btn btn-success pull-right" i18n>Run End Of Day</button>
                        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      