<div class="ui-g">
  <div class="ui-g-12 no-padding">
    <div class="card no-padding">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h2 class="panel-title pull-left" i18n>
                Loan Operations
              </h2>
              <div *ngIf="displayCustomerLoanDetails" class="pull-right">
                <button pButton type="button" (click)="showReviewForm()" i18n-label label="Perform Operation" icon="fa-plus"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div *ngIf="displayLoanSearch">
            <div class="form-horizontal">
              <div class="form-group">
                <!-- <label i18n  for="callLimitTypeId" class="col-md-2 control-label">Product Type</label>
                <div class="col-md-4">
                  <select name="productTypeId" id="productTypeId" class="form-control" [ngClass]="'valid-input'">
                    <option i18n  value="">--- Select Product Type ---</option>
                    <option i18n  *ngFor="let pc of filteredProducts" value="{{pc.productTypeId}}">
                      {{pc.productTypeName}}
                    </option>
                  </select>
                </div>
                <label i18n  for="" class="control-label col-md-2">Seach For Loan</label> -->
                <div class="col-md-4">
                  <div class="input-group">
                    <input (focus)="openSearchBox()" type="text" class="form-control" i18n-placeholder placeholder="Search for Loan" name="loanReferenceNo" [ngClass]="'valid-input'">
                    <div class="input-group-btn">
                      <button  (click)="openSearchBox()" style="padding-top:4px;padding-bottom: 4px" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="card no-padding">
              <p-dataTable [paginator]="true" [value]="customerLoansData" [rows]="15" (onRowSelect)="onSelectedLoanChange($event)">
                <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
                <p-column i18n-header [style]="{'width':'150px'}" field="loanTypeName" header="Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column i18n-header [style]="{'width':'150px'}" field="loanReferenceNumber" header="Loan Ref No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column i18n-header field="customerName" header="Obligor Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column [style]="{'width':'150px','text-align':'right'}" field="principalAmount" header="Amount" sortable="true" [filter]="true"
                  filterMatchMode="contains"></p-column>
                <p-column i18n-header [style]="{'width':'150px'}" field="interestRate" header="Interest" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                <p-column i18n-header [style]="{'width':'70px'}" field="tenor" header="Tenor" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
              </p-dataTable>
            </div>
          </div>

          <app-disbursed-loan-details [displayDetails]="displayCustomerLoanDetails" [loanSystemTypeId]="loanSystemTypeId" [LoadLoanDetails]="termLoanId"></app-disbursed-loan-details>


        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button type="button" (click)="backToLoanSearch()" *ngIf="displatBackToSearch" class="btn btn-primary pull-right" i18n>Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [responsive]="true" [(visible)]="displayReviewModal" id="limit-def-modal" modal="modal" showEffect="fade" width="900">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h2  class="panel-title pull-left">
              {{entityName}}
            </h2>
            <div class="pull-right" *ngIf="displayPaymentPlanButton">
              <button pButton type="button" (click)="showPaymentDetial()" i18n-label label="Payment Plan" icon="fa-plus"></button>
            </div>
          </div>
        </div>
      </div>
      <form novalidate [formGroup]="LoanReviewForm" (ngSubmit)="submitLoanReviewForm(LoanReviewForm)" autocomplete="off">
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <!-- <span style="display:inline-block; width: YOURWIDTH;"></span> -->
              <span style="display:block; height: 30px;"></span>
            </div>
            <div class="form-group">
              <label for="operationTypeId" class="col-md-2 control-label" i18n>Operation Type</label>
              <div class="col-md-4">
                <select (change)="OnOperationTypeChange($event.target.value)" name="operationTypeId" formControlName="operationTypeId" id="operationTypeId"
                  class="form-control" [ngClass]="'valid-input'">
                  <option value="" i18n>--- Select Operation Type ---</option>
                  <option *ngFor="let pc of operationTypes" value="{{pc.operationTypeId}}">
                    {{pc.operationTypeName}}
                  </option>
                </select>
              </div>
              <label for="proposedEffectiveDate" class="control-label col-md-2" i18n>Proposed Effective Date</label>
              <div class="col-md-4">
                <p-calendar id="proposedEffectiveDate" formControlName="proposedEffectiveDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['proposedEffectiveDate'].valid ? 'required-input' : 'valid-input'"
                  [inputStyle]="{'width': '270px' }" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" [showIcon]="true"></p-calendar>
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="RegulatoryInterestRateChange">
                <label for="interateRate" class="control-label col-md-2" i18n>Interest Rate</label>
                <div class="col-md-4">
                  <input type="text" name="interateRate" formControlName="interateRate" [ngClass]="!LoanReviewForm.controls['interateRate'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>
                <label for="isManagementRate" class="control-label col-md-2" i18n>Is-Management-Rate</label>
                <div class="col-md-4">
                  <input type="radio" name="isManagementRate" formControlName="isManagementRate" [ngClass]="!LoanReviewForm.controls['isManagementRate'].valid ? 'required-input' : 'valid-input'">
                </div>
              </div>
              <div *ngIf="SubAllocationOverdraft">
                  <label for="accountNumber" class="control-label col-md-2" i18n>CASA Account</label>
                  <div class="col-md-4">
                    <input type="text" name="accountNumber" formControlName="accountNumber" [ngClass]="!LoanReviewForm.controls['cASA_AccountId'].valid ? 'required-input' : 'valid-input'"
                      class="form-control">
                  </div>
                <label for="overDraftTopup" class="control-label col-md-2" i18n>Overdraft Sub Allocation</label>
                <div class="col-md-4">
                  <input type="text" name="overDraftTopup" formControlName="overDraftTopup" [ngClass]="!LoanReviewForm.controls['overDraftTopup'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>

              </div>
              <div *ngIf="PrepaymentChange">
                <label for="prepayment" class="control-label col-md-2" i18n>Prepayment Amount</label>
                <div class="col-md-4">
                  <input type="text" name="prepayment" formControlName="prepayment" [ngClass]="!LoanReviewForm.controls['prepayment'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>
                <label for="maturityDate" class="control-label col-md-2" i18n>Maturity Date</label>
                <div class="col-md-4">
                  <p-calendar id="maturityDate" formControlName="maturityDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['maturityDate'].valid ? 'required-input' : 'valid-input'"
                    [inputStyle]="{'width': '270px' }" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
                    [showIcon]="true"></p-calendar>
                </div>
              </div>
              <div *ngIf="PrincipalFrequencyChange">
                <label for="principalFrequencyTypeId" class="control-label col-md-2" i18n>Principal Frequency</label>
                <div class="col-md-4">
                  <select name="principalFrequencyTypeId" id="principalFrequencyTypeId" formControlName="principalFrequencyTypeId" class="form-control"
                    [ngClass]="!LoanReviewForm.controls['principalFrequencyTypeId'].valid ? 'required-input' : 'valid-input'">
                    <option value="" i18n> Select Frequency</option>
                    <option *ngFor="let feq of frequencies" value="{{feq.lookupId}}">{{feq.lookupName}}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="InterestFrequencyChange">
                <label for="interestFrequencyTypeId" class="control-label col-md-2" i18n>Interest Frequencyuency</label>
                <div class="col-md-4">
                  <select name="interestFrequencyTypeId" id="interestFrequencyTypeId" formControlName="interestFrequencyTypeId" class="form-control"
                    [ngClass]="!LoanReviewForm.controls['interestFrequencyTypeId'].valid ? 'required-input' : 'valid-input'">
                    <option value="" i18n> Select Frequency</option>
                    <option *ngFor="let feq of frequencies" value="{{feq.lookupId}}">{{feq.lookupName}}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="TenorChange">
                <label for="tenor" class="control-label col-md-2" i18n>Loan Tenor</label>
                <div class="col-md-4">
                  <input type="text" name="tenor" formControlName="tenor" [ngClass]="!LoanReviewForm.controls['tenor'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>
              </div>
              <div *ngIf="CASAAccountChange">
                <label for="accountNumber" class="control-label col-md-2" i18n>CASA Account</label>
                <div class="col-md-4">
                  <input type="text" name="accountNumber" formControlName="accountNumber" [ngClass]="!LoanReviewForm.controls['cASA_AccountId'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>
              </div>
              <div *ngIf="Overdrafttopup">
                <label for="overDraftTopup" class="control-label col-md-2" i18n>OverDraft Topup</label>
                <div class="col-md-4">
                  <input type="text" name="overDraftTopup" formControlName="overDraftTopup" [ngClass]="!LoanReviewForm.controls['overDraftTopup'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>
              </div>
              <div *ngIf="FeechargeChange">
                <label for="fee_Charges" class="control-label col-md-2" i18n>Fee Charges Amount</label>
                <div class="col-md-4">
                  <input type="text" name="fee_Charges" formControlName="fee_Charges" [ngClass]="!LoanReviewForm.controls['fee_Charges'].valid ? 'required-input' : 'valid-input'"
                    class="form-control">
                </div>
              </div>
              <div *ngIf="TerminateandRebook">
                <label for="terminationAndReBook" class="control-label col-md-2" i18n>Termination And ReBook </label>
                <div class="col-md-4">
                  <select name="terminationAndReBook" formControlName="terminationAndReBook" [ngClass]="!LoanReviewForm.controls['terminationAndReBook'].valid ? 'required-input' : 'valid-input'"
                    id="terminationAndReBook" class="form-control">
                    <option value="" i18n>-- Select --</option>
                    <option value="1" i18n>YES</option>
                    <option value="0" i18n>NO</option>
                  </select>
                  <!--input type="checkbox" name="terminationAndReBook" formControlName="terminationAndReBook" [ngClass]="!LoanReviewForm.controls['terminationAndReBook'].valid ? 'required-input' : 'valid-input'"-->
                </div>
              </div>
              <div *ngIf="CompleteWriteOff">
                <label for="completeWriteOff" class="control-label col-md-2" i18n>Complete Write-Off</label>
                <div class="col-md-4">
                  <select name="completeWriteOff" formControlName="completeWriteOff" [ngClass]="!LoanReviewForm.controls['completeWriteOff'].valid ? 'required-input' : 'valid-input'"
                    id="completeWriteOff" class="form-control">
                    <option value="" i18n>-- Select --</option>
                    <option value="1" i18n>YES</option>
                    <option value="0" i18n>NO</option>
                  </select>
                  <!--input type="checkbox" name="completeWriteOff" formControlName="completeWriteOff" [ngClass]="!LoanReviewForm.controls['completeWriteOff'].valid ? 'required-input' : 'valid-input'"-->
                </div>
              </div>
              <div *ngIf="CancelUndisbursedLoan">

                <label i18n  for="cancelUndisbursedLoan" class="control-label col-md-2">Cancel Undisbursed Loan</label>
                <div class="col-md-4">
                  <select name="cancelUndisbursedLoan" formControlName="cancelUndisbursedLoan" [ngClass]="!LoanReviewForm.controls['cancelUndisbursedLoan'].valid ? 'required-input' : 'valid-input'"
                    id="cancelUndisbursedLoan" class="form-control">
                    <option value="" i18n>-- Select --</option>
                    <option value="1" i18n>YES</option>
                    <option value="0" i18n>NO</option>
                  </select>
                  <!--input type="checkbox" name="cancelUndisbursedLoan" formControlName="cancelUndisbursedLoan" [ngClass]="!LoanReviewForm.controls['cancelUndisbursedLoan'].valid ? 'required-input' : 'valid-input'"-->
                </div>
              </div>
            </div>
            <div *ngIf="InterestandPrincipalFrequencyChange" class="form-group">
              <label for="principalFrequencyTypeId" class="control-label col-md-2" i18n>Principal Frequency</label>
              <div class="col-md-4">
                <select name="principalFrequencyTypeId" id="principalFrequencyTypeId" formControlName="principalFrequencyTypeId" class="form-control"
                  [ngClass]="!LoanReviewForm.controls['principalFrequencyTypeId'].valid ? 'required-input' : 'valid-input'">
                  <option value="" i18n> Select Frequency</option>
                  <option *ngFor="let feq of frequencies" value="{{feq.lookupId}}">{{feq.lookupName}}</option>
                </select>
              </div>
              <label for="interestFrequencyTypeId" class="control-label col-md-2" i18n> Interest Frequencyuency</label>
              <div class="col-md-4">
                <select name="interestFrequencyTypeId" id="interestFrequencyTypeId" formControlName="interestFrequencyTypeId" class="form-control"
                  [ngClass]="!LoanReviewForm.controls['interestFrequencyTypeId'].valid ? 'required-input' : 'valid-input'">
                  <option value="" i18n> Select Frequency</option>
                  <option *ngFor="let feq of frequencies" value="{{feq.lookupId}}">{{feq.lookupName}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="PaymentDateChange" class="form-group">
              <label for="principalFirstPaymentDate" class="control-label col-md-2" i18n>Principal Payment Date</label>
              <div class="col-md-4">
                <p-calendar id="principalFirstPaymentDate" formControlName="principalFirstPaymentDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['principalFirstPaymentDate'].valid ? 'required-input' : 'valid-input'"
                  (onSelect)="compareDate()" [inputStyle]="{'width': '270px' }" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="2000:2050" [showIcon]="true"></p-calendar>
              </div>
              <label for="interestFirstPaymentDate" class="control-label col-md-2" i18n>Interest Payment Date</label>
              <div class="col-md-4">
                <p-calendar id="interestFirstPaymentDate" formControlName="interestFirstPaymentDate" dateFormat="dd/mm/yy" [ngClass]="!LoanReviewForm.controls['interestFirstPaymentDate'].valid ? 'required-input' : 'valid-input'"
                  (onSelect)="compareDate()" [inputStyle]="{'width': '270px' }" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="2000:2050" [showIcon]="true"></p-calendar>
              </div>
            </div>
            <div class="form-group">
              <label for="reviewDetails" class="control-label col-md-2" i18n> Operation Details </label>
              <div class="col-md-10">
                  <textarea rows="5" name="reviewDetails" id="reviewDetails" class="form-control" formControlName="reviewDetails"  [ngClass]="!LoanReviewForm.controls['reviewDetails'].valid ? 'required-input' : 'valid-input'"></textarea>
              
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              <button type="submit" [disabled]="LoanReviewForm.invalid" class="btn btn-success pull-right" i18n>Save Review</button>
              <button type="button" (click)="displayReviewModal=false" style="margin-right:5px" class="btn btn-danger pull-right" i18n>Close</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </p-dialog>

  <p-dialog [responsive]=true [(visible)]="displaySearchModal" modal="modal" id="searchModal" showEffect="fade" width="650">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div style="margin-left:0" class="row">
          <h2 class="panel-title pull-left" i18n>
            Search For Loan
          </h2>
          <a href="" (click)="displaySearchModal=false" class="pull-right remove-btn">
            <i class="glyphicon glyphicon-remove-sign">
            </i>
          </a>

        </div>
      </div>
      <div style="padding:3px" class="panel-body">
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" id="search" (keyup)="searchDB($event.target.value)" class="form-control" i18n-placeholder placeholder="Type in your search parameter">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <p>
              <!--{{mfacilityType}}-->
            </p>
            <table *ngIf="searchResults" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th i18n>Loan Reference No</th>
                  <th i18n>Customer Name</th>
                  <th i18n>Loan Principal Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="pickSearchedData(res)" style="cursor: pointer" *ngFor="let res of searchResults; let i = index">
                  <td>
                    {{res.loanReferenceNumber}}
                  </td>
                  <td>
                    {{res.customerName}}
                  </td>
                  <td>
                    {{res.principalAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </p-dialog> <p-dialog [responsive]=true [(visible)]="displaySearchModal" modal="modal" id="searchModal" showEffect="fade" width="650">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div style="margin-left:0" class="row">
          <h2 class="panel-title pull-left" i18n>
            Search For Loan
          </h2>
          <a href="" (click)="displaySearchModal=false" class="pull-right remove-btn">
            <i class="glyphicon glyphicon-remove-sign">
            </i>
          </a>

        </div>
      </div>
      <div style="padding:3px" class="panel-body">
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" id="search" (keyup)="searchDB($event.target.value)" class="form-control" i18n-placeholder placeholder="Type in your search parameter">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <p>
              <!--{{mfacilityType}}-->
            </p>
            <table *ngIf="searchResults" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th i18n>Loan Reference No</th>
                  <th i18n>Customer Name</th>
                  <th i18n>Loan Principal Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="pickSearchedData(res)" style="cursor: pointer" *ngFor="let res of searchResults; let i = index">
                  <td>
                    {{res.loanReferenceNumber}}
                  </td>
                  <td>
                    {{res.customerName}}
                  </td>
                  <td>
                    {{res.principalAmount}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>

  <p-dialog [responsive]=true [(visible)]="displayCASASearchModal" modal="modal" id="searchModal" showEffect="fade" width="650">
    <div style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <div style="margin-left:0" class="row">
          <h2 class="panel-title pull-left" i18n>
            Search For Account
          </h2>
          <a href="" (click)="displayCASASearchModal=false" class="pull-right remove-btn">
            <i class="glyphicon glyphicon-remove-sign">
            </i>
          </a>
        </div>
      </div>
      <div style="padding:3px" class="panel-body">
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" id="search" (keyup)="searchCASA($event.target.value)" class="form-control" i18n-placeholder placeholder="Type in your search parameter">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <p>
              <!--{{mfacilityType}}-->
            </p>
            <table *ngIf="casaSearchResults" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th i18n>Customer Name</th>
                  <th i18n>Account Number</th>
                  <th i18n>Account Name</th>
                  <th i18n>Currency</th>
                  <th i18n></th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="pickCASASearchedData(res)" style="cursor: pointer" *ngFor="let res of casaSearchResults; let i = index">
                  <td>
                    {{res.customerName}}
                  </td>
                  <td>
                    {{res.productAccountNumber}}
                  </td>
                  <td>
                    {{res.productAccountName}}
                  </td>
                  <td>
                    {{res.currency}}
                  </td>
                  <td>
                    <a (click)="viewCasaDetails(i)" href="javascript:void(0)" i18n>View Details</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>

  <p-dialog [responsive]=true [(visible)]="displayCasaDetails" modal="modal" showEffect="fade" width="900">
    <div *ngIf="displayCasaDetails" style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <ng-container i18n>Account Details For</ng-container>:
          
          <strong>{{ model.customerName }}</strong>
        </h2>
        <div class="pull-right">
          <a class="close" (click)="displayCasaDetails=false">&times;</a>
        </div>
      </div>

      <div class="panel-body">

        <p-tabView>

          <p-tabPanel i18n-header  header="Account Information">
            <table class="table table-casa-information">
              <tbody>
                <tr>
                  <td>
                    <strong i18n>Product Account Number</strong>:
                  </td>
                  <td>{{ model.productAccountNumber }}</td>
                  <td>
                    <strong i18n>Product Account Name</strong>:
                  </td>
                  <td colspan="3" style="text-align:left">{{ model.productAccountName }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Customer Sensitivity Level</strong>:
                  </td>
                  <td>{{ getCustomerSensitivityLevel(0) }}</td>
                  <td>
                    <strong i18n>Ledger Balance</strong>:
                  </td>
                  <td>{{ model.ledgerBalance | number:'1.2' }}</td>
                  <td>
                    <strong i18n>Available Balance</strong>:
                  </td>
                  <td>{{ model.availableBalance | number:'1.2' }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Product Code</strong>:
                  </td>
                  <td>{{ model.productCode }}</td>
                  <td>
                    <strong i18n>Tenor</strong>:
                  </td>
                  <td>{{ model.tenor }}</td>
                  <td>
                    <strong i18n>Has Lien</strong>:
                  </td>
                  <td>{{ model.hasLien ? "<span i18n>Yes</span>" : "<span i18n>No</span>" }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Product Name</strong>:
                  </td>
                  <td>{{ model.productName }}</td>
                  <td>
                    <strong i18n>Interest Rate</strong>:
                  </td>
                  <td>{{ model.interestRate | percent:'1.2-2' }}</td>
                  <td>
                    <strong i18n>Lien Amount</strong>:
                  </td>
                  <td>{{ model.lienAmount | number:'1.2' }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Branch Code</strong>:
                  </td>
                  <td>{{ model.branchCode }}</td>
                  <td>
                    <strong i18n>Effective Date</strong>:
                  </td>
                  <td>{{ model.effectiveDate | date:"dd-MM-yyyy" }}</td>
                  <td>
                    <strong i18n>Has Overdraft</strong>:
                  </td>
                  <td>{{ model.hasOverdraft ? "Yes" : "No" }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Branch Name</strong>
                  </td>
                  <td>{{ model.branchName }}</td>
                  <td>
                    <strong i18n>Terminal Date</strong>
                  </td>
                  <td>{{ model.terminalDate | date:"dd-MM-yyyy" }}</td>
                  <td>
                    <strong i18n>Overdraft Amount</strong>:
                  </td>
                  <td>{{ model.overdraftAmount | number:'1.2' }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Is Current Account</strong>:
                  </td>
                  <td>{{ model.isCurrentAccount ? "Yes" : "No" }}</td>
                  <td>
                    <strong i18n>Action By</strong>:
                  </td>
                  <td>{{ model.actionBy }}</td>
                  <td>
                    <strong i18n>Overdraft Interest Rate</strong>:
                  </td>
                  <td>{{ model.overdraftInterestRate | percent:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Account Status</strong>:
                  </td>
                  <td>{{ getAccountStatus(model.accountStatusId) }}</td>
                  <td>
                    <strong i18n>Action Date</strong>:
                  </td>
                  <td>{{ model.actionDate | date:"dd-MM-yyyy" }}</td>
                  <td>
                    <strong i18n>Overdraft Expiry Date</strong>:
                  </td>
                  <td>{{ model.overdraftExpiryDate | date:"dd-MM-yyyy" }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>MIS Code</strong>:
                  </td>
                  <td>{{ model.misCode }}</td>
                  <td>
                    <strong i18n>Operation</strong>:
                  </td>
                  <td>{{ getOperation(model.operationId) }}</td>
                  <td>
                    <strong i18n>Post No Status</strong>:
                  </td>
                  <td>{{ getPostNoStatus(model.postNoStatusId) }}</td>
                </tr>
                <tr>
                  <td>
                    <strong i18n>Old Product Account Number</strong>:
                  </td>
                  <td>{{ model.oldProductAccountNumber1 }}</td>
                  <td>
                    <strong></strong>
                  </td>
                  <td></td>
                  <td>
                    <strong></strong>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </p-tabPanel>

        </p-tabView>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>

    </div>
  </p-dialog>

  <p-dialog [responsive]=true [(visible)]="displayPaymentPlan" modal="modal" showEffect="fade" width="850">
    <div *ngIf="displayPaymentPlan" style="margin-bottom:0" class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" i18n>
          Payment Plans
        </h2>
        <div class="pull-right">
          <a class="close" (click)="displayPaymentPlan=false">&times;</a>
        </div>
      </div>
      <div class="panel-body" style="min-height:120px;">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="" class="control-label col-md-1" i18n>
              Date
            </label>
            <div class="col-md-4">
              <p-calendar id="scateredDate" dateFormat="dd/mm/yy" [(ngModel)]="data.scateredDate" [monthNavigator]="true" [inputStyle]="{'width': '270px' }"
                [yearNavigator]="true" yearRange="1955:2030" [showIcon]="true"></p-calendar>
            </div>
            <label for="" class="control-label col-md-1" i18n>
              Amount
            </label>
            <div class="col-md-4">
              <!--(blur)="formatValue()"-->
              <input type="text" [(ngModel)]="data.amount" class="form-control">
            </div>
            <div class="col-md-2">

              <button i18n  [disabled]="!data.amount" (click)="addToList()" pButton type="button" label="Add To List" icon="fa-plus"></button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th i18n>S/No</th>
                    <th i18n>Date</th>
                    <th style="text-align: right" i18n>Amount</th>
                    <th></th>
                  </tr>

                </thead>
                <tbody>
                  <tr *ngFor="let p of scatterdPayments;let indx=index">
                    <td>
                      {{indx + 1}}
                    </td>
                    <td>
                      {{p.paymentDate | date}}
                    </td>
                    <td style="text-align: right;width:120px">{{p.paymentAmount | number:'1.2'}}</td>
                    <td style="padding: 0;width:50px">
                      <a (click)="removeItem($event,indx)" style="color:#ff0000" href="#">
                        <i class="fa fa-times" aria-hidden="true"></i>X</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="text-align: left" class="col-md-2">
              <ng-container>Balance</ng-container>:
             
              <span style="margin:0;text-align: right">
                {{principalValanceString | number:'1.2'}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
  </p-dialog>