<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-7">
                                <h2 class="panel-title pull-left" i18n>
                                    Audit Trail
                                </h2>
                            </div>
                            <!--div class="col-md-5">
                                <input type="text" [(ngModel)]="searchBox" #globalSearch class="form-control">
                            </div-->

                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <p-dataTable [value]="audits" [rowsPerPageOptions]="[10,20,30]" [lazy]="true" [rows]="10" [paginator]="true" [totalRecords]="itemTotal"
                        (onLazyLoad)="loadData($event)" [responsive]=true (onEditInit)="onEditInit($event)" (onEdit)="onEdit($event)"
                        (onEditCancel)="onEditCancel($event)" (onEditComplete)="onEditComplete($event)" #dt [globalFilter]="tableSearch">
                        <p-header>
                            <label for="search" class="control-label">Search</label>
                            <input type="text" pInputText name="search" id="search" class="form-control" placeholder="Search through table..." #tableSearch i18n-placeholder>
                        </p-header>
                        <p-column i18n-header field="auditType" header="Audit Action" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="staffName" header="Action by" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="username" header="Logged In Username" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="branchName" header="Branch Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header field="details" header="Action in Detail" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                    </p-dataTable>

                </div>
            </div>
        </div>
    </div>
</div>