<div class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 i18n class="panel-title pull-left">
                                Schedule
                            </h2>
                            <div class="pull-right">
                                <button i18n class="btn btn-primary" type="button" (click)="goBack()">
                                     Back
                                    </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend i18n style="width: 45%">
                            Details
                        </legend>
                        <table style="margin-bottom: 20px">
                            <tr>
                                <td i18n style="font-size: 12px;font-weight: bold;padding: 4px">Granted Amount</td>
                                <td style="text-align: right;padding-left: 10px;padding: 4px">{{scheduleHeader?.principalAmount}}</td>
                                <td i18n style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px">Interest Rate</td>
                                <td style="text-align: right;padding: 4px">{{scheduleHeader?.interestRate}} %</td>
                            </tr>
                            <tr>
                                <td i18n style="font-size: 12px;font-weight: bold;padding: 4px">Effective Date</td>
                                <td style="text-align: right;padding-left: 10px;padding: 4px">{{scheduleHeader?.effectiveDate | date}}</td>
                                <td i18n style="font-size: 12px;font-weight: bold;padding-left: 20px;padding: 4px">Maturity Date</td>
                                <td style="text-align: right;padding: 4px">{{scheduleHeader?.maturityDate}}</td>
                            </tr>
                        </table>

                    </fieldset>


                    <p-dataTable [paginator]="true" [rows]="15" [value]="schedules" [responsive]=true selectionMode="single">
                        <p-column i18n-header [style]="{'width':'80px'}" field="paymentNumber" header="No"></p-column>
                        <p-column i18n-header field="startPrincipalAmount" header="Start Principal"></p-column>
                        <p-column i18n-header field="paymentDate" header="Payment Date">
                            <ng-template let-col let-schedule="rowData" pTemplate="body">
                                <span>{{schedule[col.field] | date}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="periodPaymentAmount" header="Periodic Amount">
                            <ng-template let-col let-schedule="rowData" pTemplate="body">
                                <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="periodPrincipalAmount" header="Principal Amount">
                            <ng-template let-col let-schedule="rowData" pTemplate="body">
                                <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="periodInterestAmount" header="Interest Amount">
                            <ng-template let-col let-schedule="rowData" pTemplate="body">
                                <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column i18n-header field="endPrincipalAmount" header="Balance">
                            <ng-template let-col let-schedule="rowData" pTemplate="body">
                                <span style="text-align: right">{{schedule[col.field] | number: '1.2-2'}}</span>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>