@import '../../../assets/theme/theme-indigo';
@import '../../../assets/layout/css/layout-indigo';
//@import '../../../assets/layout/css/primeng.min'
body {
    //
}

.login-body {
    overflow: hidden !important;
    margin: 0 !important;
    background-size: 100% 105% !important;
    height: 100% !important;
}

.login-panel {
    margin: 80px auto 0 auto !important;
}

