#wrapper {
    width: 100%
}

.white-box {
    padding: 25px;
    margin-bottom: 15px;
}

* {
    outline: 0 !important;
}

.login-register {
    background: url(../../../assets/images/landing_page_bg.png) center/cover no-repeat !important;
    // background: url(../../../assets/images/landing_page_bg_demo.png) center/cover no-repeat !important;
    height: 100%;
    position: fixed
}

.login-box {
    background: #fff;
    width: 400px;
    margin: 10% auto 0
}

.login-box .footer {
    width: 100%;
    left: 0;
    right: 0
}

.login-sidebar {
    position: absolute;
    right: 0;
    margin-top: 0;
    height: 100%; // background: #353c48;
    background: #2a3d60;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.db {
    display: block;
}

.text-center {
    text-align: center !important;
}

.form-control {
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
    background-image: linear-gradient(#9675ce, #9675ce), linear-gradient(rgba(120, 130, 140, .28), rgba(120, 130, 140, .28));
    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
    color: #fff;
}

.form-material .form-control {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-position: center bottom, center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    transition: background 0s ease-out 0s;
}

.btn {
    border-radius: 0;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.btn-lg {
    padding: 6px 10px !important;
    font-size: 18px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}