<div class="ui-g" *ngIf="display">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 i18n  class="panel-title pull-left">
                                Customer Product Fee Concession
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 pull-right" style="padding-bottom: 9px">
                            <input type="text" id="search" (keyup)="searchDB($event.target.value)" (input)="lookupEvent.emit({search:'yes'})" class="form-control" i18n-placeholder placeholder="Type in your search parameter ...">
                        </div>
                    </div>

                    <p-dataTable [value]="customers" [responsive]=true [paginator]="true" [rows]="5" [(selection)]="customerSelection" dataKey="customerId" (onRowSelect)="onSelectedCustomerDetailsChanged()" [rowsPerPageOptions]="[10,20,30]">
                        <p-column i18n-header  [style]="{'width':'50px'}" selectionMode="single"></p-column>
                        <p-column i18n-header  field="customerCode" header="Customer Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="customerName" header="Customer Name" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="customerAccountNo" header="Customer Account No" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="customerTypeName" header="Customer Type" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                        <p-column i18n-header  field="branchName" header="Customer Branch" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
                    </p-dataTable>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--p-dialog [responsive]=true [(visible)]="displayCustomerDetails" modal="modal" showEffect="fade" width="900"-->
<div *ngIf="displayCustomerDetails" class="ui-g">
    <div class="ui-g-12 no-padding">
        <div class="card no-padding">
            <div style="margin-bottom:0" class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h2  class="panel-title pull-left">
                                <ng-container i18n>Set Customer Product Fee:</ng-container>
                                <strong>{{ customerFullName }}</strong>
                            </h2>
                            <!--button type="button" class="btn btn-primary pull-right" (click)="proceedEvent.emit({continue: 'true'})">Proceed To Application</button-->
                        </div>
                    </div>

                </div>

                <div class="panel-body">
                    <div class="form-horizontal">

                        <form novalidate [formGroup]="customerProductFeeForm" autocomplete="off">
                            <div class="form-group">
                                <label i18n  for="" class="control-label col-md-2">
                                            Product
                                        </label>

                                <div class="col-md-4">
                                    <select type="text" name="productId" formControlName="productId" id="productId" (change)="getProductFees($event.target.value)" class="form-control" [ngClass]="!customerProductFeeForm.controls['productId'].valid ? 'required-input' : 'valid-input'">
                                                <option i18n  value="">-- Select product --</option>
                                                <option  *ngFor="let prod of products" [value]="prod.productId">
                                                    {{ prod.productName }}
                                                </option>
                                            </select>
                                </div>
                                <label  for="" class="control-label col-md-2">
                                    <ng-container i18n>Product Fees</ng-container><i class="fa fa-eject" aria-hidden="true"></i>
                                </label>
                                <div class="col-md-4">
                                    <select name="productFeeId" formControlName="productFeeId" [ngClass]="!customerProductFeeForm.controls['productFeeId'].valid ? 'required-input' : 'valid-input'" id="customerProductFeeForm" class="form-control">
                                        <option i18n  value="">--- Select Product Fee ---</option>
                                        <option  *ngFor="let fee of productFees" value="{{fee.productFeeId}}">
                                            {{fee.feeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div>
                                <div class="form-group">
                                    <label i18n  for="" class="control-label col-md-2">
                                                Rate/Value
                                            </label>
                                    <div class="col-md-4">
                                        <input type="text" formControlName="rateValue" [ngClass]="!customerProductFeeForm.controls['rateValue'].valid ? 'required-input' : 'valid-input'" name="rateValue" class="form-control">
                                    </div>
                                    <label i18n  for="" class="control-label col-md-2">
                                                Dependent Amount
                                            </label>
                                    <div class="col-md-4">
                                        <input type="text" formControlName="dependentAmount" [ngClass]="!customerProductFeeForm.controls['dependentAmount'].valid ? 'required-input' : 'valid-input'" name="customerBVN" class="form-control">
                                    </div>

                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button i18n  type="submit" [disabled]="customerProductFeeForm.invalid" *ngIf="ShowSaveButton" (click)="submitCustomerProductFee(customerProductFeeForm)" class="btn btn-success pull-right">Save</button>
                            <button i18n  type="button" (click)="closeModal()" style="margin-right:5px" class="btn btn-danger pull-right">Back To Search</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="customerProductFees != null" class="panel-body">
                    <h2  class="panel-title pull-left">
                        <strong><ng-container i18n>Existing Customer Products Fee</ng-container></strong>
                    </h2>
                    <p-dataTable [value]="customerProductFees" [responsive]=true [rowsPerPageOptions]="[10,20,30]">
                        <p-column i18n-header  field="product" header="Product"></p-column>
                        <p-column i18n-header  field="productCode" header="Product Code"></p-column>
                        <p-column i18n-header  field="chargeFee" header="Fee"></p-column>
                        <p-column i18n-header  field="rateValue" header="Rate/Value Type"></p-column>
                        <p-column i18n-header  field="dependentAmount" header="Dependent Amount"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/p-dialog-->
<fintrakbanking-message [title]="title" [message]="message" [show]="show" [cssClass]="cssClass" (closeEvent)="hideMessage()"></fintrakbanking-message>