/* Approval Modal */

#approvalModal {
    top: 20px !important;
    .ui-dialog {
        top: 20px !important;
        overflow: hidden;
    }
}

// .ui-dialog-footer .ui-button {
//     background: palegreen;
// }
// .ui-dialog-footer .ui-button + .ui-button {
//     background: red;
// }